[2020-09-09 09:37] JohnAGill commented on #276
This will be in the next build

[2020-09-09 10:30] floridemai commented on #335
I think that PR was merged and changes rolled out to prod as well. Moving to QA for review.

[2020-09-09 10:32] ckiss commented on #326
fixed, avail in next build.

Thanks @helloantoine for your input!

[2020-09-09 11:51] floridemai commented on #333
@ahurworth This should be fix in build 34+.

[2020-09-09 12:23] jonnyjames commented on #220
This is now fixed. Closing this issue.

[2020-09-09 12:23] #220 closed, assigned to jonnyjames

[2020-09-09 13:26] kevin-sheldon commented on #319
I conducted my own review since we are still trying to get translators access to app. Found a number of items that need to be addressed. For the items requiring translation, can you please send an updated spreadsheet so I can get it over to the translators ASAP?
[Translation Issues_round 3.docx](https://github.com/project-vagabond/covid-green-app/files/5195434/Translation.Issues_round.3.docx)

[2020-09-09 13:38] JohnAGill commented on #268
This will be in the next build

[2020-09-09 13:39] JohnAGill commented on #306
This will be in the next build

[2020-09-09 13:39] JohnAGill commented on #293
This will be in the next build

[2020-09-09 13:44] floridemai commented on #245
@jonnyjames I was wondering about two things:
1) Should we still rate this as a high priority in the state that it is?
2) We've looked into solving this and @AlanSl found https://www.npmjs.com/package/react-native-accessible-selectable which says:

Do you know a better and simpler way of achieving what we want in this case?

[2020-09-09 13:51] kevin-sheldon opened #374 "7-day Average Line Disappeared"
I no longer see the 7 Day Average lines on the Total Persons Tested and Percent Tested Positive Graphs.

![7day](https://user-images.githubusercontent.com/69158966/92607341-00b8c200-f282-11ea-95d2-acf8c9cfac09.jpg)

[2020-09-09 14:10] floridemai commented on #319
@kevin-sheldon @fahd-arshad I did the following: looked back at the translations file just after we received and applied v2 and compared it with the current version. All of the differences need to be translated, so I'm attaching the file here.
❗ ❗ Very important: Lots of entries have already translation for the other languages, but those need to be verified. There were a bunch of small changes lik

[2020-09-09 14:10] jonnyjames commented on #245
@floridemai I want to clarify, are we referring to the Android or the iOS app? The content above is referencing "VoiceOver" (iOS), and not TalkBack.

[2020-09-09 14:20] floridemai commented on #245
@jonnyjames My bad, iOS. Let me add it to the other ticket...

[2020-09-09 14:21] floridemai commented on #245
@willslone Is this ok for iOS? Any guidance?

[2020-09-09 14:29] floridemai commented on #303
@jonnyjames https://github.com/project-vagabond/covid-green-app/issues/239#issuecomment-689348332
Any input would be highly appreciated.

[2020-09-09 14:33] willslone commented on #239
@ckiss The icon along with the accessible name of the field is sufficient. No extra text needed.

[2020-09-09 14:39] fahd-arshad commented on #319
@floridemai what do we need to do about the in-app privacy policy translation? I know that data comes from the server...

[2020-09-09 15:07] ckiss commented on #303
fixed, avail in next build

[2020-09-09 15:08] ckiss commented on #239
fixed, avail in next build

[2020-09-09 15:16] fahd-arshad opened #378 "The 6-digit positive code should expire in 1 hour, not 24 hours"
NYS is making the call that the 6-digit positive code should expire in 1 hour, not 24 hours (as it is today) or 10 mins.

[2020-09-09 15:20] ahurworth opened #379 "Updates to charts: Make Positivity Chart First, Add Most recent data point in each chart"
Two updates:
- Please re-order the charts: Percent Tested Positive first, followed by total persons tested then total tested positive.
- Add the most recent data point and color the final bar in each chart.  @helloantoine will provide the specs.

![image](https://user-images.githubusercontent.com/68069959/92618414-54c9a380-f28e-11ea-984b-86094d02991f.png)

[2020-09-09 15:20] fahd-arshad opened #380 "Please extend the exposure proximity parameter threshold to 15 mins instead of 10 mins"
Please extend the exposure proximity parameter threshold to 15 mins instead of 10 mins as per NYS.

[2020-09-09 15:36] ahurworth opened #381 "Add a Feedback Button"
A user with feedback has no way to provide feedback to us, other than very publicly in an App/Play Store review.

We should add a "Submit Feedback" button which would launch the installed mail client.

To: [Needed: email address @fahd-arshad to arrange with NYS.]
Subject line: App Feedback for COVID Alert NY: Version [version number]
Body:
[five lines of blank space to allow the user to supply com

[2020-09-09 16:15] segfault commented on #378
@rgormley I believe this is `code_lifetime_mins` in the infrastructure deploy terraform.
cc/ @dgonzalez to double check.

[2020-09-09 16:16] AlanSl commented on #224
@helloantoine iOS-specific issue done in https://github.com/project-vagabond/covid-green-app/pull/373 should be fixed in next build

[2020-09-09 16:16] dgonzalez commented on #378
It is. That configures the timeout of the code.

[2020-09-09 16:19] rgormley commented on #378
I am making this change now.

[2020-09-09 16:41] AlanSl commented on #374
This should be fixed in the next build.

Also, if you get the build from this morning and see an issue with the 7-day average line being obviously wrong on the statewide charts (but right on the county charts), that's also fixed in the next build.

[2020-09-09 17:16] rgormley commented on #378
This change has been pushed and is live in `nys-dev`, `nys-qa` and `nys-prod`.

[2020-09-09 17:53] jonnyjames commented on #231
@floridemai This is now fixed. Closing this issue.

[2020-09-09 17:53] #231 closed, assigned to jonnyjames

[2020-09-09 17:57] jonnyjames commented on #245
@floridemai The correct state is announced, but as I mentioned previously:

Let me know if this will be resolved.

[2020-09-09 18:01] AlanSl commented on #245
@jonnyjames We have a fix for this pending review, it didn't pass review in time for today's build but it should be in tomorrow's.

[2020-09-09 18:01] jonnyjames commented on #246
This issue is now fixed. Closing this issue.

[2020-09-09 18:01] #246 closed, assigned to jonnyjames

[2020-09-09 18:32] mboskin opened #386 "App Crashes trying to enable COVID Alerts After choosing Skip for now"
The following might have been fixed in a subsequent release.

After choosing Skip for Now during onboarding attempting to click the orange banner to set up My Covid Alerts at the landing screen causes the app to crash. Closeness sensing can still be turned on from the App Settings under My COVID Alerts. Crash is repeatable, just turning off closeness sensing and then returning to the landing page

[2020-09-09 18:34] mboskin opened #387 "County Picker can be made to display "Choose your county" instead of the currently displayed county on landing screen"
Reproduced by opening the county picker and entering a junk search that returns nothing then pressing the 'enter' button for the text app (could be different for other text apps I use the default and its a blue check mark), then hitting the 'X' in the upper left of the screen. Instead of displaying text for the current county data the picker will show "Choose your county"

Bug 30 |   | Build/relea

[2020-09-09 18:37] mboskin opened #388 "App Crashes on attempting to turn on closeness sensing"
App was running fine on update, deleted data to test onboarding and now the app will not complete onboarding. Appears to crash immediately after attempting to turn on closeness sensing

Bug 31 |   | Build/Release 1.0.0 (33) | Android | Galaxy S10+ | 9/8/20 4:43 PM | Patrick Brennan

[2020-09-09 19:31] jonnyjames opened #390 "Focus management after submitting a valid contact code [Android]"
Upon submitting a valid contact code on the **Share Your Close Contact Codes** screen, new instructional text appears below the text fields, but focus is moved to the first **Close Contact Codes** input field, which announces the value, in this case "3, edit box, disabled".

**Remediation Guidance**
We suggest moving focus to the new instructional text, as it is not immediately apparent to TalkBac

[2020-09-09 19:36] jonnyjames commented on #316
@floridemai It's at least consistent how, with focus moving to the overlay container and the overlays title/heading being announced. I am closing this issue.

[2020-09-09 19:36] #316 closed, assigned to jonnyjames

[2020-09-09 19:37] jonnyjames commented on #312
This issue is now fixed. Closing this issue.

[2020-09-09 19:37] #312 closed, assigned to jonnyjames

[2020-09-09 19:44] jonnyjames commented on #299
@floridemai This is now fixed. Closing this issue.

[2020-09-09 19:44] #299 closed, assigned to jonnyjames

[2020-09-09 19:47] jonnyjames commented on #296
@floridemai This issue is now fixed. Closing this issue.

[2020-09-09 19:47] #296 closed, assigned to jonnyjames

[2020-09-09 19:55] jonnyjames commented on #294
@floridemai @ShaunBaker This issue persists. What I'm seeing on the "How it works" screens is focus is still not moving to the previous/next (or close, on screen 4 of 4) buttons, but it does jump to the "Share" icon _behind_ the open overlay when using an external Bluetooth keyboard connected to the Android device.

[2020-09-09 19:58] jonnyjames commented on #303
@floridemai @ckiss I am not seeing the magnifying glass icon in the Android build.  Please advise.

[2020-09-09 20:01] jonnyjames commented on #303
@floridemai @ckiss I am seeing it now after the update. Closing this issue.

[2020-09-09 20:01] #303 closed, assigned to ckiss, floridemai, jonnyjames

[2020-09-09 20:25] jonnyjames commented on #301
@floridemai The autocomplete results (or lack of) are not announced by TalkBack. I am not hearing the suggested "Search, Showing autocomplete suggestions" or "Search, No results found for this search. Try with something else".

Another approach, is to use a live region for Android. Here is the documentation:

[https://reactnative.dev/docs/accessibility#accessibilityliveregion](https://reactnative.

[2020-09-09 20:30] mboskin commented on #182
I can confirm that the translators can attend to capitalizations. We are working on having them review the app itself if possible.

[2020-09-09 20:34] fahd-arshad commented on #380
Please don't do this. NYS withdrew the request.

[2020-09-09 20:34] #380 closed, assigned to floridemai, helloantoine

[2020-09-09 20:39] jonnyjames commented on #248
@floridemai The "Find a site near you" and the phone number links can be tapped using TalkBack alone, but when using both an external Bluetooth keyboard **and** TalkBack is running, the links receive focus but cannot be actioned.

[2020-09-09 20:46] jonnyjames commented on #237
@floridemai This issue is similiar to #248, but in this case, using _**only**_ the keyboard (as the other issue covers the keyboard + TalkBack issue) of the "Find a site near you" link, not receiving focus, and is not actionable using the keyboard alone.

[2020-09-09 22:29] jonnyjames commented on #306
This issue is now fixed. Closing this issue.

[2020-09-09 22:29] #306 closed, assigned to jonnyjames

[2020-09-10 02:09] #268 closed, assigned to willslone

[2020-09-10 02:11] #239 closed, assigned to ckiss, floridemai, willslone

[2020-09-10 02:13] #197 closed, assigned to willslone

[2020-09-10 03:42] fahd-arshad commented on #374
Closing on Kevin's behalf. Looks good in builds 35 on both iOS and Android.

[2020-09-10 03:42] #374 closed, assigned to kevin-sheldon

[2020-09-10 03:43] fahd-arshad commented on #257
@dharding could you kindly confirm the fix and close?

[2020-09-10 03:49] fahd-arshad commented on #366
Seems fixed in builds 35 on iOS and Android. Thank you for the quick turnaround!

[2020-09-10 03:49] #366 closed, assigned to ckiss, fahd-arshad

[2020-09-10 03:53] fahd-arshad commented on #219
Bumping back to In Progress based on @helloantoine's comment above.

[2020-09-10 03:55] fahd-arshad commented on #353
I can confirm that the two SMSs I got today were using the updated text.

[2020-09-10 03:55] #353 closed, assigned to segfault

[2020-09-10 04:01] fahd-arshad commented on #335
Looks good to me now. Next step - break out a pixel ruler and a spreadsheet and calculate the moving averages by hand! 😉

[2020-09-10 04:01] #335 closed, assigned to helloantoine

[2020-09-10 04:04] fahd-arshad commented on #326
Hmmm. Now I see only the red caution triangle in iOS build 35, but as per the spec above looks like it should be the bell icon with the triangle almost as superscript. Leaving it to @helloantoine to confirm.

[2020-09-10 04:06] fahd-arshad commented on #333
I just confirmed this is working in build 35 on iOS.

[2020-09-10 04:06] #333 closed, assigned to ahurworth

[2020-09-10 05:05] floridemai commented on #219
@fahd-arshad Comment is from 8 of Sep. This should be fixed now. Can you validate @helloantoine

[2020-09-10 05:06] floridemai commented on #237
@jonnyjames Can we close this one out please as it fixed the original issue and open a separate one (maybe a generic one) for keyboard (which is something we were not aware nor worked on). Thanks

[2020-09-10 05:08] floridemai commented on #182
Closing this in favour of https://github.com/project-vagabond/covid-green-app/issues/319

[2020-09-10 05:08] #182 closed, assigned to ahurworth

[2020-09-10 06:01] floridemai commented on #364
@helloantoine Can you jump in on this one pelase?

[2020-09-10 06:18] fahd-arshad commented on #378
I just generated a code through Postman and it came with an expiry timestamp of 1599804921, which is still 24 hours. How do I validate this?

[2020-09-10 08:28] #224 closed, assigned to helloantoine

[2020-09-10 08:31] helloantoine commented on #226
I can't see this in Build 25.

[2020-09-10 08:32] helloantoine commented on #185
Sorry if it was not clear. The one on the left is correct as per Zeplin. The one on the right incorrect.

[2020-09-10 08:33] helloantoine commented on #219
Perfect @floridemai . Thank you.

[2020-09-10 08:33] #219 closed, assigned to helloantoine

[2020-09-10 08:37] floridemai commented on #226
@JohnAGill Can you check this again please?

[2020-09-10 08:37] colmharte commented on #334
@fahd-arshad yes this is correct, I sent you an email yesterday with extracts from apple and google docs on this.

[2020-09-10 08:42] helloantoine commented on #326
Hi Fahd.  I discussed this with Cristian and Alex as well. We're going with the single hazard sign. Simpler.

[2020-09-10 08:42] #326 closed, assigned to helloantoine

[2020-09-10 08:43] helloantoine commented on #264
This is sorted. Good job.

[2020-09-10 08:43] #264 closed, assigned to willslone

[2020-09-10 08:55] helloantoine commented on #364
@fahd-arshad @ahurworth
The animation lasts 8s. However, the character animation last 5s. and the following 3s. are only there to avoid looping too quickly.

2 options:
A. I could kill the 'static' 3 second at the end, which means we'd fall under the 5s category.
B. We add a control on the video (not my favourite).

[2020-09-10 09:06] helloantoine commented on #97
Looks good to me.

[2020-09-10 09:06] #97 closed, assigned to mboskin

[2020-09-10 09:07] helloantoine commented on #265
Looks good.

[2020-09-10 09:07] #265 closed, assigned to willslone

[2020-09-10 09:08] helloantoine commented on #273
Looks good to me. Thank you!

[2020-09-10 09:08] #273 closed, assigned to dharding

[2020-09-10 09:09] #274 closed, assigned to dharding

[2020-09-10 09:37] helloantoine commented on #8
I tested the cases reported originally.

**On iOS:**

Apple do NOT push a notification on the device when ENS is not active (unlike Android).

**On Android:**

It is a pity Control Center BT does not behave like the Settings>BT but it's on Apple's side for now. Let's hope it get fixed soon.

I'm closing this.

[2020-09-10 09:37] #8 closed, assigned to kevin-sheldon, mboskin

[2020-09-10 09:37] helloantoine commented on #256
Looks good to me. Good job!

[2020-09-10 09:37] #256 closed, assigned to dharding

[2020-09-10 09:39] helloantoine commented on #271
Looks good to me now.

[2020-09-10 09:39] #271 closed, assigned to dharding

[2020-09-10 09:45] helloantoine commented on #278
@willslone Can you link us to some resources on how to implement this please? Is it the case of supporting TAB, SHIFT+TAB and ENTER? Any help much appreciated.

[2020-09-10 09:58] #233 closed, assigned to helloantoine

[2020-09-10 10:02] AlanSl commented on #79
The data appears to have been successfully updating daily now, gives us enough data to display 30 days, and is accurate since we moved the averages calculation inside the app, so I think this is done now.

[2020-09-10 10:06] helloantoine commented on #379
**Design specs are here:** https://zpl.io/VQwX9PR
- [ ] Card height is higher (see screenshot)
- [ ] Graphs's last bar is highlighted
- [ ] Value of the last entry is displayed in a bubble above the graph
- [ ] X-Axis only shows 3 dates (regular font), correctly aligned with the bar (and using a vertical line for each date)
- [ ] Legend square for Daily figure is smaller
- [ ] Accessibility: Make

[2020-09-10 10:25] AlanSl commented on #379
@JohnAGill Suggestion: in `molecules/bar-chart.tsx` remove the comment from above the intervals count and set it to:

[code]

We don't (🤞) need to worry about the 29 days case any more, we're now getting more than 30 days.

[2020-09-10 12:23] ckiss commented on #386
@mboskin I am pretty sure this was fixed already(it was probably the issue with the chart on the dashboard that caused this). I can't repro anymore.

[2020-09-10 13:00] mboskin commented on #386
Retest passed. Issue is closed.

[2020-09-10 13:00] #386 closed, assigned to mboskin

[2020-09-10 13:01] ahurworth opened #393 "Proximity Alert Drill In Screen: "Back" button should take the user to the COVID Alerts tab Root"
As reported by Bonnie, on receiving the proximity alert notification screen and tapping on it, she lands on the proximity alert detail screen as expected.  On hitting "back" she is taken to the screen prompting her to share her keys.  I suspect this is because the "back" is taking her to the retained state of the app i.e. the most recent screen she visited.

"Back" on the proximity alert landing s

[2020-09-10 13:40] aisegfault opened #394 "Disable Crashlytics before launch"
Disable Crashlytics before launch

[2020-09-10 13:58] AlanSl commented on #245
@jonnyjames Fix mentioned above is merged so this should be resolved in the next build.

[2020-09-10 14:19] ckiss commented on #387
@mboskin I can't reproduce this on my android phone. Can you double check this?

[2020-09-10 14:27] mboskin commented on #387
Patrick,

Can you double check this issue? Given your S10+ is obviously not out-of-date.

Thanks,
Mike
_____________________

[REDACTED}
*Removed e-mail signature as the e-mail reply feature was used*

[2020-09-10 14:34] JohnAGill commented on #390
I addressed this issue on ios which should have worked on android too

[2020-09-10 14:41] rgormley commented on #378
I'll review this with @dgonzalez this morning.

[2020-09-10 14:43] segfault commented on #378
We may need to restart the push api ECS instances so that they pick up the setting. I believe it's only read at startup.

[2020-09-10 15:16] ahurworth opened #397 "Copy Update: On-boarding Screen 1"
As a result of the Columbia field trial, we would like to change the wording on the very first on-boarding screen

FROM: "We don't collect info that can identify you.  Your identity and location are always confidential"

TO: "We don't collect info that can identify you.  The app never tracks your location."

[2020-09-10 15:30] #12 closed, assigned to dharding

[2020-09-10 15:47] fahd-arshad commented on #378
Generated a code and confirmed TTL is 1 hour.

[2020-09-10 15:47] #378 closed, assigned to rgormley

[2020-09-10 16:08] kevin-sheldon opened #401 "Device Testing"
Testing needed on some older android devices. Suggested use of AWS Device Farm.

A list of older devices from 2014 and 2015 that were able to be upgraded to Android 6.0 Marshmallow is included in this article. This would probably be the types of devices that might be worth testing on as they were originally designed for perhaps 5.0 and prior.

https://www.digitaltrends.com/mobile/android-6-marshma

[2020-09-10 17:58] ahurworth commented on #364
@fahd-arshad, I discussed this with @helloantoine.  We will need to kill the looping as well unfortunately.  But on balance, this decision feels better than adding a play/pause control.  IMHO, this would set the wrong expectation with the user that this is a video with more detailed explanations, not a basic animation.
The other alternative would be to make it a static image, which would be a sham

[2020-09-10 18:11] fahd-arshad commented on #364
Agreed. Let's go with A) get to 5 seconds, no looping. Can we at least restart the animation if the user re-enters the screen? We can't have it play just once period with no ability to review it.

[2020-09-10 18:58] ckiss commented on #397
fixed, avail in next build

[2020-09-10 19:25] ckiss commented on #193
fixed, avail in next build

[2020-09-10 19:39] dharding opened #404 "Configure NetInfo to use our API for internet reachability test"
We need to use `NetInfo.configure()` to set the `reachabilityUrl` to our own API rather than calling the default Google-hosted URL. This was something that was raised by the community when another COVID exposure notification app was released.

[2020-09-10 19:47] ckiss commented on #248
fixed, avail in next build

[2020-09-10 19:51] segfault commented on #404
The other app's ticket is here: https://github.com/cds-snc/covid-alert-app/pull/1004

[2020-09-10 21:24] fahd-arshad commented on #381
covidalertny@health.ny.gov is the mailbox. This has NYS approval. Pls proceed.

[2020-09-11 00:24] kevin-sheldon commented on #381
Confirming Fahd's comment. This has been approved by NYSDOH.

[2020-09-11 08:09] AlanSl commented on #237
I believe the external keyboard support will be in the next build as https://github.com/project-vagabond/covid-green-app/pull/399 was merged overnight

[2020-09-11 08:46] AlanSl commented on #78
This appears to be properly complete now. We're getting enough data in the app to show 30 days and to calculate 7-day rolling averages, but not so much that the download is slow.

[2020-09-11 09:23] helloantoine commented on #78
Looks good to me.

[2020-09-11 09:23] #78 closed, assigned to fahd-arshad

[2020-09-11 09:28] helloantoine commented on #397
Looks good. Needs translations though.

[2020-09-11 09:28] #397 closed, assigned to ckiss, floridemai, ahurworth

[2020-09-11 09:46] helloantoine commented on #79
Looks good to me.

[2020-09-11 09:46] #79 closed, assigned to fahd-arshad

[2020-09-11 10:33] ckiss commented on #393
fixed, avail in next build

[2020-09-11 10:53] ckiss commented on #294
fixed, avail in next build

[2020-09-11 10:54] ckiss commented on #278
fixed, avail in next build

[2020-09-11 11:13] helloantoine commented on #364
Just seeing this now. Will do thanks!

[2020-09-11 11:26] AlanSl commented on #387
I also can't replicate this, on a Samsung running Android 9, trying a variety of keyboard apps.

Looking at the code I suspect this may have been possible back when "All counties" was excluded as an option on typing non-matching text, but should not now be possible now that "All counties" is always present as an option.

[2020-09-11 11:27] mboskin commented on #387
I have marked it for retesting.

_____________________

[REDACTED}
*Removed e-mail signature as the e-mail reply feature was used*

[2020-09-11 11:35] mboskin opened #408 "On launch of Landing Screen warning for closeness alert being turned off shows momentarily even though it has already been turned on"
Only occurs on launch of app when launching the landing page, goes away after a short loading icon. Does not reoccur until app is launched again.

Bug 32 |   | 1.0.0 Build/release(35) | Android | Galaxy S10+ | 9/10/20 5:26 AM | Patrick Brennan

[2020-09-11 11:43] floridemai commented on #387
@AlanSl @mboskin Thanks to @ckiss I was able to reproduce it. It's related to what Alan suggested but for that you need to select a county first. PR to come and fix will be available in the next build

[2020-09-11 11:56] floridemai commented on #387
@mboskin Done. Ready to be tested in the build to come.

[2020-09-11 12:45] AlanSl commented on #301
Done in https://github.com/project-vagabond/covid-green-app/pull/391

This is a tricky one because we have to work around an android-specific bug in React Native's TextInput itself - https://github.com/facebook/react-native/issues/26739.

I tried a few approaches and this seemed to work best:

 - If it's Android and the screen reader is on, the text input does not have placeholder text. This stops

[2020-09-11 12:54] helloantoine commented on #364
PR accepted.

[2020-09-11 12:54] #364 closed, assigned to helloantoine

[2020-09-11 13:12] helloantoine opened #411 "Bug Onboarding screens displayed multiple times issue"
**Issue** Multiple Done screens or stuck in the flow
**Steps:** Delete your data, then do onboarding again and tap quickly on the buttons. :)

[onboarding done screen duplicated.zip](https://github.com/project-vagabond/covid-green-app/files/5209156/onboarding.done.screen.duplicated.zip)

@ahurworth

[2020-09-11 13:41] JohnAGill commented on #381
This has been added and will be in the next build

[2020-09-11 14:32] helloantoine opened #413 "Feature. Implement Onetimecode for the share random IDs"
Implement OneTimeCode feature.

[2020-09-11 14:52] helloantoine opened #415 "Bug. Orange banner flashing issue in the Data tab on Android and iOS"
**Issue:** Orange banner flashing issue in the Data tab on Android and iOS
**Steps:** Make sure your COVID Alerts is not working. Then go to COVID Data tab. Get out of the app and then get in again.
[ScreenRec_20200911_154958.mp4.zip](https://github.com/project-vagabond/covid-green-app/files/5209747/ScreenRec_20200911_154958.mp4.zip)

[2020-09-11 15:01] AlanSl commented on #334
@fahd-arshad Can you check the documents sent and re-triage accordingly if you are satisfied that they explain the test results seen?

[2020-09-11 15:37] JohnAGill commented on #379
This has been added and should be in the next build

[2020-09-11 15:44] ahurworth opened #417 "Copy Update: User has turned off Bluetooth"
For the scenario where the Bluetooth has been turned off post-onboarding:

Currently we display the yellow banner on the NY COVID Data tab with a generic message that is used for other scenarios (like where notifications are not turned on).

We'd like the wording to be more specific for this scenario - especially considering many people are likely to toggle BT on/off throughout the day/week.  The

[2020-09-11 16:07] helloantoine commented on #417
![Bluetooth granular msg](https://user-images.githubusercontent.com/16833643/92948358-234d0580-f451-11ea-8a0d-8e9bd666f6e0.png)

[bluetooth-icon.svg.zip](https://github.com/project-vagabond/covid-green-app/files/5210246/bluetooth-icon.svg.zip)

[2020-09-11 16:40] helloantoine opened #418 "Adjust spacing of intro screen so that CTA is visible on iPhone SE"
Main CTA for iPhone SE is below the fold, and could be missed easily. Let's compress about the spacing for everyone so this doesn't happen.
![Screenshot 2020-09-11 at 17 38 20](https://user-images.githubusercontent.com/16833643/92951056-ab350e80-f455-11ea-8ca8-505cf162e9b6.png)

[2020-09-11 16:53] AlanSl commented on #411
Done in https://github.com/project-vagabond/covid-green-app/pull/414 and so should be fixed in next build.

The issue was actually a lot simpler than it looked: the loading spinner was getting cancelled early due to an uneccessary clearing of app data before beginning registration. Since https://github.com/project-vagabond/covid-green-app/commit/ce0f1b5c051a734262225a871a94f8c1fa0f03ac we clear ab

[2020-09-11 18:28] helloantoine commented on #381
Looks good to me

[2020-09-11 19:54] mboskin opened #419 "Ethnicity options have two typos"
Ethnicity has two typos instead of Latino it says Hispanic/Latinx and Not Hispanic/Latinx. It is located in App Settings->My Health Log->Ethnicity

Bug 33 | 1.0.0.37 | Android | Samsung Note 8 | 9/11/20 12:50 PM | Gracjan Nawrot

[2020-09-11 19:57] mboskin opened #420 "Incorrect phone number for NY State Covid-19 Hotline"
When you go to My COVID Alerts->Learn how to keep other safe, scroll down to the bottom, click "If you need more help, call COVID Alert NY Hotline" which shows phone number 1-833-208-4159. When you call this number you get following recording "The number you have reached has been reserved by New York State Department of Taxation and Finance". The actual phone number to NY State COVID-19 Hotline is

[2020-09-11 20:08] ahurworth commented on #381
I'm seeing some issues with the diagnostics within the email body, which i was expecting to be more human readable?   Otherwise looks great!  Thanks for the quick turnaround.

![Screenshot_20200911-144702](https://user-images.githubusercontent.com/68069959/92968350-f1d03c00-f448-11ea-8a15-2a1538268cea.png)

[2020-09-11 21:24] ahurworth commented on #185
Looks fixed to me.  @helloantoine ?

[2020-09-12 01:30] kevin-sheldon commented on #420
Hi Mike - There is a completely separate number for COVID Alert NY.

The correct number is 1-833-208-4159

This is a brand new number.  Issue 366 covered this and was closed.

Closing this ticket.

[2020-09-12 01:30] #420 closed, assigned to fiacc, colmharte

[2020-09-12 01:31] kevin-sheldon commented on #419
Hi Mike - Latinx is a gender-neutral term, and is accurate for this release.

Closing ticket.

[2020-09-12 01:31] #419 closed, assigned to fiacc, colmharte

[2020-09-12 01:36] kevin-sheldon opened #421 "Enhancement to Feedback Option"
Requesting enhancement to https://github.com/project-vagabond/covid-green-app/issues/381

In addition to the new functionality in ticket #381 , requesting an additional landing screen for a user to specify the type of feedback that they are submitting. Based on the selection, that will be added to the e-mail subject line.

Please see attached mockup for an example.

Also, requesting additional pre

[2020-09-12 01:37] kevin-sheldon commented on #421
Need to provide you with the approved list of options to choose from in Middle Screen (in attached image)

[2020-09-12 16:30] willslone commented on #278
The “Next”, “Previous”, and “Close” buttons on the “How it works” screens can now be reached via keyboard alone.

The “Close” graphical buttons in the top right corner of the “Select your county”, “Gender identity”, “Age range”, “Race”, and “Ethnicity” overlays are still unreachable in the latest build.

[2020-09-12 21:18] mboskin commented on #420
Thanks

[REDACTED}
*Removed e-mail signature as the e-mail reply feature was used*

[2020-09-14 08:22] floridemai commented on #381
@ahurworth If you are referring to the "ENS Details" text that has a lot of `{`, it was my suggestion to do it like this. I think we're interested in us getting the full details rather than it looking good on the screen. Of-course we can do something like:
[code]
But imho those terms would just confuse the user more.

Let me know what you think.

[2020-09-14 08:24] JohnAGill commented on #141
This has been addressed and will be in the next build

[2020-09-14 08:58] floridemai commented on #413
Done. Should be available in build 39

[2020-09-14 09:18] helloantoine opened #425 "Update graphs. 1% and label update"
**Issues:**
1. In some scenarios, the graph is missing a top value on the Y-axis.
2. Label looks very far from the bar itself when value is low and label positioned at the top right corner

**Solutions**
1.  Set 1% as the minimum for the top Y axis value
2. Make label position dynamic, close to the bar itself, with 0.9 opacity

[2020-09-14 10:12] AlanSl commented on #425
Wasn't expecting you to merge PR https://github.com/project-vagabond/covid-green-app/pull/426, just check the screenshots... Normally PR author merges after reviews. I take it you're happy with it then?

[2020-09-14 10:32] helloantoine commented on #425
Understood. Thanks Alan

[2020-09-14 10:34] helloantoine commented on #350
Discussed with Paul and created issue: https://github.com/project-vagabond/covid-green-app/issues/413

[2020-09-14 10:34] #350 closed, assigned to helloantoine, ahurworth

[2020-09-14 10:37] helloantoine commented on #342
I'll park this for now. I discussed with Paul and we now have a task to handle iPhone SE intro screen so it does not require a scroll by default.
https://github.com/project-vagabond/covid-green-app/issues/418

[2020-09-14 10:37] #342 closed, assigned to helloantoine, ahurworth

[2020-09-14 10:39] helloantoine commented on #340
Discussed with Paul. Created an issue for it with final designs:
https://github.com/project-vagabond/covid-green-app/issues/417

[2020-09-14 10:39] #340 closed, assigned to helloantoine, ahurworth

[2020-09-14 12:02] ckiss commented on #417
fixed, avail in next build

[2020-09-14 12:03] ckiss commented on #418
fixed, avail in next build

[2020-09-14 13:18] AlanSl commented on #388
Several of us have tried to replicate this and can't. Looking at the history around build 33 and the steps described, it's very likely this was fixed in https://github.com/project-vagabond/covid-green-app/pull/365 and https://github.com/project-vagabond/covid-green-app/pull/370 and will have been fixed since build 34.

[2020-09-14 13:23] kevin-sheldon commented on #319
@floridemai Can we add the associated line(s) for the new "Submit Feedback" feature?

[2020-09-14 13:41] mboskin commented on #388
Given the following, this is closed. Several of us have tried to replicate this and can't. Looking at the history around build 33 and the steps described, it's very likely this was fixed in #365 and #370 and will have been fixed since build 34.

[2020-09-14 13:41] #388 closed, assigned to mboskin

[2020-09-14 14:11] helloantoine commented on #425
Looks good to me/

[2020-09-14 14:11] #425 closed, assigned to helloantoine

[2020-09-14 14:12] helloantoine commented on #387
Looks solved.

[2020-09-14 14:12] #387 closed, assigned to mboskin

[2020-09-14 15:58] mboskin opened #433 "Putting the English names in parenthesis"
This is Fahd.

The list of languages here is indeed the list given to us as the top 7 NYS languages required by the https://www.ny.gov/language-access-policy. I believe it covers the ones you have listed; I do not know if the translation of Chinese actually is Mandarin or Cantonese, but Steven (cc'ed) would know. Also, Italian isn't on the list based on the page above.

NYC has a larger set which

[2020-09-14 16:00] kevin-sheldon opened #434 "App Store Translations"
Once DOH Marketing team has provided copy, need to ensure that App Store and Play Store is translated appropriately.

Will get final copy over to translators once provided.

Logging this ticket as a placeholder.

[2020-09-14 16:05] aisegfault opened #435 "Add automated test for the first screen showing stats in the app"
Most common issue seems to be that stats screen gets broken.  Please Add automated test for the first screen showing stats in the app - we want to make sure the data is at least loading and all services complete with HTTP 200?

[2020-09-14 16:11] kevin-sheldon commented on #319
@helloantoine can you please open up the attached word doc and look at the last image? Transliterations need to be removed for just that one language to be consistent with others.

[2020-09-14 16:11] kevin-sheldon commented on #319
![image](https://user-images.githubusercontent.com/69158966/93110536-76a69a00-f683-11ea-8cc9-c9cfc6fa0719.png)

[2020-09-14 16:12] kevin-sheldon commented on #319
![image](https://user-images.githubusercontent.com/69158966/93110590-89b96a00-f683-11ea-8acf-330927ad5655.png)

[2020-09-14 16:13] kevin-sheldon commented on #433
I will add design for this in a few minutes

[2020-09-14 16:22] kevin-sheldon commented on #433
[My Language.docx](https://github.com/project-vagabond/covid-green-app/files/5219717/My.Language.docx)

On the settings menu, for all languages besides English, please make sure that the English translation "My Language" appears in parenthesis (see first image in attachment).

On the language selection menu, please make sure the English translation of all non-English languages is in parenthesis. S

[2020-09-14 16:25] kevin-sheldon commented on #381
@ahurworth  can you comment on this?

[2020-09-14 16:27] ahurworth opened #437 "Minor Visual: Update Chart Callout Numbers with Commas"
Could we add some formatting so that comas are inserted after every 3 numbers?

For example: in the second chart, 72668 would be 72,668.
Please make sure the callout element will support the display of up to 8 figures (I hope we won't ever need it, but just in case!) + commas without breaking i.e. up to 99,999,999.

![IMG_3C2634D282AC-1](https://user-images.githubusercontent.com/68069959/93111870-

[2020-09-14 16:27] kevin-sheldon commented on #421
For the choices, the subject line in the e-mail when selected should translate to:

Enhancement Suggestion = Enhancement
Report an Issue = Issue
General Feedback = General

[2020-09-14 16:27] kevin-sheldon commented on #421
Final List:

Enhancement Suggestion
Report an Issue
General Feedback

[2020-09-14 16:28] kevin-sheldon commented on #381
Details of the enhancement to this is outlined in #421

[2020-09-14 18:04] helloantoine commented on #418
Looks good to me. Thank you

[2020-09-14 18:04] #418 closed, assigned to ckiss, floridemai, helloantoine

[2020-09-14 18:05] helloantoine commented on #209
Looks good to me

[2020-09-14 18:05] #209 closed, assigned to helloantoine

[2020-09-14 19:20] helloantoine commented on #185
Some but not all unfortunately. Font size seems off.
![Screenshot 2020-09-14 at 19 17 27](https://user-images.githubusercontent.com/16833643/93128611-aa0b1800-f6c7-11ea-8472-0334552d1a8f.png)

[2020-09-14 19:36] helloantoine commented on #226
Tested in Build 40. Most of it fixed. However:
How it works title is not fixed. See screen.
County, age, ... selectors. Some of them have text on the close button. See screen.

![Image from iOS (2)](https://user-images.githubusercontent.com/16833643/93129942-b4c6ac80-f6c9-11ea-80c2-5969cae346c7.png)
![Image from iOS (1)](https://user-images.githubusercontent.com/16833643/93129936-b2fce900-f6c9-11e

[2020-09-14 19:42] helloantoine commented on #417
Looks good to me. Thank you.

[2020-09-14 19:42] #417 closed, assigned to ahurworth

[2020-09-14 20:00] helloantoine commented on #379
Looks good to me.

[2020-09-14 20:00] #379 closed, assigned to floridemai, ahurworth

[2020-09-14 23:13] fahd-arshad commented on #433
Looks good to me. Assigning to @floridemai since he's been dealing with most of the translation issues and this is close to that. Please reassign as needed.

[2020-09-15 11:18] helloantoine commented on #411
So I got spinner for a while, but it worked. Thx

[2020-09-15 11:18] #411 closed, assigned to helloantoine, ahurworth

[2020-09-15 11:32] jonnyjames opened #442 ""Choose your county" search form field doesn't clear when closed and reopened [Android]"
When an entry is made into the "Chose your county" search field, with autocomplete, if the user decides to close the overlay, the next time the user opens that overlay, the input field retains the user's previous entry, and the search field's label and hint aren't announced, but instead the previous search text (for example, "Xx") by TalkBack

[2020-09-15 11:34] jonnyjames commented on #390
@JohnAGill I won't be able to confirm the fix until I am supplied with another Close Contact Code.

[2020-09-15 11:48] jonnyjames commented on #294
This is issue is now fixed. Closing this issue.

[2020-09-15 11:48] #294 closed, assigned to jonnyjames

[2020-09-15 12:07] jonnyjames commented on #245
@AlanSl This issue is now fixed. Closing this issue.

[2020-09-15 12:07] #245 closed, assigned to jonnyjames

[2020-09-15 12:33] jonnyjames commented on #248
This issue is now fixed. Closing this issue.

[2020-09-15 12:33] #248 closed, assigned to jonnyjames

[2020-09-15 12:34] jonnyjames commented on #237
@AlanSl The issue with not being able to reach the two links persists on those two screens.

[2020-09-15 13:14] helloantoine opened #444 "[DESIGN ONLY] Improve discoverability of Share random IDs"
**Issue:** Although the person is on the phone and guided by the operator, we should make the Share random IDs page more obvious. Findings from usability report highlight this specific point.

@ahurworth

[2020-09-15 14:19] #140 closed, assigned to dharding

[2020-09-15 14:19] davidjharding commented on #257
Fixed

[2020-09-15 14:19] #257 closed, assigned to dharding

[2020-09-15 14:24] ahurworth opened #446 "Proximity Alert Notification Flow on Android Bug"
When I tap on the proximity notification, I land on a drilled in screen showing the quarantine steps that I should follow. If I hit "back" I land on the COVID Alerts tab.  On Android however, I see a rogue "back" button on the COVID Alerts tab, which doesn't do anything, and shouldn't be present. I should be at the root of the stack.

Per @helloantoine, iOS is working fine, only Android is affecte

[2020-09-15 14:27] ahurworth commented on #393
Works, thanks!  One side effect though is on Android.  New bug issue opened: https://github.com/project-vagabond/covid-green-app/issues/446

[2020-09-15 14:27] #393 closed, assigned to ahurworth

[2020-09-15 14:45] JohnAGill commented on #226
Made these last few fixes should be in the next build

[2020-09-15 14:46] JohnAGill commented on #185
This has been changed and should be in the next build

[2020-09-15 14:49] AlanSl commented on #433
This is done in https://github.com/project-vagabond/covid-green-app/pull/439 and should be in the next build.

I used the English names for the languages as given on https://www.ny.gov/language-access-policy

[2020-09-15 14:53] AlanSl commented on #437
Done in https://github.com/project-vagabond/covid-green-app/pull/440 should be in next build.

[2020-09-15 14:56] mboskin commented on #433
Marked as closed ass per AlanSI

[2020-09-15 14:56] AlanSl commented on #319
@kevin-sheldon Removing English transliterations from Bengali is done in https://github.com/project-vagabond/covid-green-app/pull/436 and should be in the next build.

I'm putting together a new spreadsheet of recent English copy changes for translators.

[2020-09-15 15:00] kevin-sheldon commented on #401
@colmharte @fiacc. Can you please provide an update on device testing?

[2020-09-15 15:07] ahurworth opened #447 "Yellow Banner Seen Momentarily on App Launch (iOS and Android)"
I see the yellow banner display momentarily on launching the app.  I tried deleting the app and creating a fresh install, but it didn't change anything.  Running build 40.

See video:

[20200915-110220-720x1520_3.mp4.zip](https://github.com/project-vagabond/covid-green-app/files/5225897/20200915-110220-720x1520_3.mp4.zip)

[2020-09-15 15:07] helloantoine opened #448 "Cosmetic. iOS splash and loading screens not identical"
Issue: Scale of the Department of Health logo is different for splash screen and loading screen. PS: This was not the case before.
Solution: Scale should be identical to be a seamless transition.
[splash-loading-scale-issue.mov.zip](https://github.com/project-vagabond/covid-green-app/files/5225888/splash-loading-scale-issue.mov.zip)

@ahurworth

[2020-09-15 15:08] floridemai commented on #447
Duplicate of https://github.com/project-vagabond/covid-green-app/issues/415.
The question is: yellow or orange? 😂  @ahurworth @helloantoine

[2020-09-15 15:20] ahurworth commented on #381
Thanks for elaborating, @floridemai .

First and foremost, we should optimize for getting the most granular data necessary for diagnosing issues by users.  So your more granular version is better than my original suggestion.

Having said that, any user that's not an Engineer by profession will look at that debug log and not understand it.  Similar to the `<br><br><br>` at the top, it feels like so

[2020-09-15 15:36] helloantoine opened #449 "Usability. Android. Onboarding flashes red alert before green message"
Issues: During onboarding, Red alert is displayed for a second, then replaced by the success banner
Solution: If we need a loading state, it shouldnt be the red one. Let's discuss what's possible @floridemai
[onboarding red to green issue.mp4.zip](https://github.com/project-vagabond/covid-green-app/files/5226065/onboarding.red.to.green.issue.mp4.zip)

@ahurworth

[2020-09-15 17:45] denisedresbach opened #450 "Device offline loading message should tell user to check their internet connection"
App version: NY app iOS 1.0.0.40
OS: iOS 13.5.1
Device: iPhone SE
Reproducible: Always

Summary: When the device has no connection and app is loaded, the user will see a red message that says "Loading issue. We were not able to load some of the data correctly."  This message should tell the user to check their internet connection.

Steps to reproduce:
1. Take device offline (in my case I do not ha

[2020-09-15 18:49] willslone commented on #276
A couple of the issues from the screens have been resolved, but others persist.

FYI, I am testing on an iPhone SE (i.e., the iPhone with the smallest screen / lowest resolution). Some of the issues may not occur on larger devices.

I noticed on the How it Works screen that the previous, next, and close buttons either don’t increase or increase only slightly in size when the larger text size setti

[2020-09-15 18:49] AlanSl commented on #319
@kevin-sheldon Here is the new spreadsheet for the translators. As Paul said above, many entries already have translations but they need to be re-checked - some are only capitisation changes, some are very subtle changes in wording, some are significant changes in meaning.

It might also be worth mentioning that there are a few items in these that should not be translated because they are read as

[2020-09-15 18:55] willslone commented on #193
I retested this and it is fixed in some cases and not others. For example, closing the Gender identity overlay by using the close graphical button does not return focus to the control that opened the overlay. Closing the Gender identity overlay by selecting an option in the overlay does return focus properly.

[2020-09-15 19:17] #293 closed, assigned to willslone

[2020-09-16 08:49] helloantoine opened #453 "Cosmetic issues. A bundle of small issues"
- [x] a. On the graph, months are sometimes cropped
- [x] b. If you test positive. Can we divide by half the spacing flagged. Especially the one between the CTA and the text.
- [x] c. In Korean, in the learn how to protect others, these characters are not interpreted
- [x] d. In Spanish, for the menu item ONLY, I got confirmation we can truncate the text to: "Config. de la aplicación"
- [x] e. In

[2020-09-16 08:56] helloantoine commented on #450
@floridemai Can we differentiate the user connectivity issue (WiFi off) from the server connectivity issues (not responding)?

[2020-09-16 08:59] helloantoine commented on #413
Looks good to me.

[2020-09-16 08:59] #413 closed, assigned to floridemai

[2020-09-16 09:31] floridemai commented on #450
@helloantoine Yes. We have a PR waiting to be merge (NetInfo) that would probably fix this. I'll come back but we should be addressing this pretty easy.

[2020-09-16 12:45] floridemai commented on #415
@helloantoine Can you validate this in the next build?

[2020-09-16 12:46] floridemai commented on #447
@ahurworth Should be fixed in the next release.

[2020-09-16 12:48] floridemai commented on #449
@helloantoine We're looking into this. Still not fixed.

[2020-09-16 13:10] AlanSl commented on #450
I don't think the planned NetInfo work would fix this, it's specific to the URL iOS uses to check that the internet is really reachable, whereas this appears to be an issue of no connection being handled as an error. I'll check the code.

[2020-09-16 13:22] AlanSl commented on #450
Yeah, there's a problem with our error handling and the issue is on Android too. I'll do a quick fix for this issue and then I think after launch this should be one of the things we tidy up because currently `connected()` just throws an error and the behaviour around catching such errors is very inconsistent.

[2020-09-16 13:51] kevin-sheldon commented on #433
Reopening until this can be tested by our team. I do not see this in Build 40. Awaiting confirmation on which build this is going into.

[2020-09-16 13:57] kevin-sheldon commented on #319
@AlanSl  Spreadsheet sent over to translators.

[2020-09-16 15:33] AlanSl commented on #433
@kevin-sheldon I was expecting a new build yesterday but there wasn't one. I've made a new build just now, 41, which should include this. Available on Android now and iOS shortly.

[2020-09-16 15:35] AlanSl commented on #446
Should be fixed in the build we're pushing out now (build 41)

[2020-09-16 15:38] AlanSl commented on #381
@ahurworth and @helloantoine We've got the screens flow for this set up in build 41 which you can try, and we're iterating on the format of the email (I believe John has sent you a proposal there). The new text for these screens has been sent out for the translators by Kevin.

[2020-09-16 16:20] helloantoine commented on #343
@fahd-arshad @ahurworth Minimum viable option. A link that opens up a WebView to the microsite:
![Screenshot 2020-09-16 at 17 08 01](https://user-images.githubusercontent.com/16833643/93364684-bff01880-f840-11ea-947c-5465d471085d.png)

[2020-09-16 16:26] AlanSl commented on #319
<strike>@kevin-sheldon Can you please upload the previous spreadsheet from the tranlators in a comment here - the one you sent to Paul two weeks ago mentioned in this comment: https://github.com/project-vagabond/covid-green-app/issues/53#issuecomment-683782153

We need to check the encoding of some of the Korean characters. Thanks!</strike>

Nevermind, we've fixed this

[2020-09-16 16:38] helloantoine commented on #421
Works as expected. I ll add some visuals tweaks in a separate ticket. Discussed with Alan.

[2020-09-16 16:38] #421 closed, assigned to helloantoine, ahurworth, kevin-sheldon

[2020-09-16 16:40] helloantoine commented on #433
Looks good to me. Thank you!

[2020-09-16 16:40] #433 closed, assigned to kevin-sheldon, mboskin

[2020-09-16 16:41] helloantoine commented on #437
Looks good to me. Nice one.

[2020-09-16 16:41] #437 closed, assigned to ahurworth

[2020-09-16 16:48] helloantoine commented on #453
![settings-languages copy 2](https://user-images.githubusercontent.com/16833643/93367731-d009f700-f844-11ea-9389-cafb11e022fb.png)

[2020-09-16 17:01] denisedresbach opened #458 "Exposure message is missing the date when first viewing it"
App version:  iOS 1.0.0.41, Android 1.0.0.41
OS: iOS 13.5.1, Android 10
Device: iPhone SE, Pixel 3XL
Reproducible: Always

Summary: Simulate exposure results in a message with no date at first view. If I view it again the date is there.

Steps to reproduce:
1. Launch newly installed app and go to settings
2. Tap the version to get debug
3. Tap Simulate Exposure button
4. Exit app
5. Tap on notific

[2020-09-16 17:59] kevin-sheldon commented on #433
Looks great guys!! Closing.

[2020-09-16 18:49] ahurworth commented on #381
Great!  Thanks!
@kevin-sheldon we're proposing adding a title above the diagnostics information so that the user is less confused about why the information is there.  Let us know if you have any objections with:

`Please do not remove. This info helps the technical team assist you:`

[2020-09-16 21:49] helloantoine opened #459 "Incorrect message in orange banner when notifications are off"
Issue: Incorrect message in orange banner when notifications are off
Steps: switch off notifications for the NY app on your device settings. Go back to the app.
Solution: Display generic orange banner (app can't alert you...)
@floridemai @ahurworth
![image](https://user-images.githubusercontent.com/16833643/93395913-ac5ba680-f86e-11ea-801c-949527ac7782.png)

[2020-09-16 23:20] ahurworth commented on #447
I no longer see the flash of the (amber!? :) ) banner

[2020-09-16 23:20] #447 closed, assigned to ahurworth

[2020-09-16 23:22] ahurworth commented on #446
Great.  Thanks.  Confirmed as fixed.

[2020-09-16 23:22] #446 closed, assigned to ahurworth

[2020-09-16 23:31] ahurworth opened #460 "Make the Splash Screen Transition Smoother"
The transition from the loading screen to the initial screen is currently quite jarring.  Is there a way to make it a smoother transition from the loading screen to the landing screen?

@dharding How did we do it for Connects, is there anything you can share that might be transferable to the library used for COVID Alert NY?

@helloantoine

[2020-09-16 23:37] davidjharding commented on #460
I recommend using react-native-splash-screen. It makes for a smooth transition.

[2020-09-17 07:09] AlanSl commented on #459
Seems to work on Android so it looks like this is iOS only.

![Screenshot_20200918-080852_Settings](https://user-images.githubusercontent.com/29628323/93432184-1307b100-f8bd-11ea-8e13-e27b3bcf5936.jpg)

[2020-09-17 08:17] AlanSl opened #461 "Cosmetic fixes"
For https://github.com/project-vagabond/covid-green-app/issues/453 except for the broken Korean characters which I'm looking at separately with the translations.

Screenshots on an unusually small phone:

<img width=400 src="https://user-images.githubusercontent.com/29628323/93440693-77c80900-f8c7-11ea-85b1-e75d2ef49e32.png" />

<img width=400 src="https://user-images.githubusercontent.com/2962832

[2020-09-17 08:26] helloantoine commented on #453
+1 please:
- [x] Update NY to NYS in the Health Log first time disclaimer screen in all languages

[2020-09-17 08:28] AlanSl commented on #461
Looks like I somehow created an issue instead of a PR 🤦‍♂️

[2020-09-17 08:28] #461 closed, assigned to nobody

[2020-09-17 09:10] helloantoine opened #463 "Cosmetic. Flashing Health Log card"
**Issue:** Health Log flashes then disappears
**Steps**Android. Do a full health check. Close the app. Reopen the app
**Solution** Not sure how it's done technically. If you can apply the same 'fix' you did for the orange banner, that'd be great.
[flashing-health-log.mp4.zip](https://github.com/project-vagabond/covid-green-app/files/5237824/flashing-health-log.mp4.zip)

[2020-09-17 09:19] helloantoine commented on #185
Excellent. Thanks for caring.

[2020-09-17 09:19] #185 closed, assigned to floridemai, helloantoine

[2020-09-17 09:22] helloantoine commented on #226
@JohnAGill Everything good EXCEPT the how it works title. Can you double check please?
![Image from iOS](https://user-images.githubusercontent.com/16833643/93451817-8fa38b00-f8cf-11ea-901b-4ed5d0df1707.png)

[2020-09-17 09:41] helloantoine commented on #276
Agree Will. We know capping the text is a hack but unfortunately, the effort to make every text fully dynamic is very high. Probably a task that will need to be tackled separately after the launch.

I noticed everything is working on my iPhone SE except the How it works title in the overlay. @JohnAGill

[2020-09-17 09:43] helloantoine commented on #415
I cannot reproduce this. Well done.

[2020-09-17 09:43] #415 closed, assigned to helloantoine

[2020-09-17 09:59] helloantoine commented on #193
@floridemai Can you have a look and make sure the fix is applied to every overlays please?

[2020-09-17 10:00] helloantoine commented on #93
Closing it. The translation of the Privacy is captured elsewhere.

[2020-09-17 10:00] #93 closed, assigned to mboskin

[2020-09-17 10:08] #104 closed

[2020-09-17 10:10] AlanSl commented on #453
@helloantoine I can't replicate the SVG issue on my devices or simulator, can you move it to a separate low priority issue so we can box this off and someone else can pick it up?

<strike>Same with the korean characters - another separate issue as it might need to go back to the translators</strike> nevermind, fixed

[2020-09-17 10:24] AlanSl commented on #453
Done (except the initial SVG issue as discussed), going in the next build

[2020-09-17 11:27] AlanSl commented on #450
@denisedresbach This should be fixed in the next build so I'm reassigning it back to you to re-test later today when build 42 is available.

[2020-09-17 12:58] JohnAGill commented on #381
Ive updated the body of the email to include a message explaining what this is and made the fields a lot more readable so that users don't think we're doing anything untoward. Should be included in the next build

[2020-09-17 13:50] helloantoine commented on #460
@AlanSl @floridemai
[transition.mp4.zip](https://github.com/project-vagabond/covid-green-app/files/5239524/transition.mp4.zip)

[2020-09-17 14:25] AlanSl commented on #460
It should already be a little smoother in the next build (42) as a result of fixing a timing issue.

If you also want a transition effect from the purple branded screen, that can potentially be done without any extra deps, but we'll need to know what sort of transition you want (fade, slide, etc).

[2020-09-17 14:26] helloantoine commented on #146
It is done. Thank you Alan

[2020-09-17 14:26] #146 closed, assigned to ahurworth

[2020-09-17 15:15] AlanSl commented on #458
@denisedresbach Can you retry in the latest build (42)? For me (checking on Android) a fix for another timing related issue seems to have stopped this from happening.

[2020-09-17 15:25] AlanSl commented on #463
Should be fixed in build 42

[2020-09-17 15:28] AlanSl commented on #381
@kevin-sheldon @ahurworth @helloantoine Can you please try out the implementation of this in Build 42 (released today)

[2020-09-17 15:41] floridemai commented on #458
@denisedresbach Yup, same for me on iOS, with build 42 :)

[2020-09-17 16:20] floridemai commented on #459
@helloantoine Should be fixed in build 43.

[2020-09-17 17:53] denisedresbach commented on #458
@floridemai @AlanSl How do I get the latest build? I looked at testflight and playstore and don't see an update.

[2020-09-17 18:22] AlanSl commented on #458
@denisedresbach What version number does it say at the bottom of the settings screen? Latest version will say 1.0.0.42

[2020-09-17 19:02] denisedresbach commented on #458
@AlanSl Got it sorted out. Some strange issue with playstore I guess. All set now Thanks.

[2020-09-17 19:05] denisedresbach commented on #458
@floridemai @AlanSl  So far it looks like it is OK in build 42. I see the date at first view. I will do some more testing to be sure.

[2020-09-17 19:06] kevin-sheldon opened #468 "Change Code Expiration Message"
Current message says to contact HSE for a new code.

![image](https://user-images.githubusercontent.com/69158966/93515858-3f402380-f8f7-11ea-9eae-8e1247746ba3.png)

Please change "HSE" to "DOH"

Also needs the translated text for "DOH" (which I think we have already provided)

[2020-09-17 20:45] denisedresbach commented on #458
@AlanSl @floridemai  I am seeing this again but in a different flow.
If Closeness Sensing is not active and I click on the "You've had 1 COVID Alert in the last 14 days" then I see the message with no date. This happens every single time on Android.
On iOS it is harder to reproduce because I constantly get the popup for exposure notifications and cannot cancel that notification to try the same ste

[2020-09-17 20:57] denisedresbach commented on #450
Verified in Android/iOS 1.0.0.42 new message: Connection issue. Please check your internet connection and try again.
![2020-09-17](https://user-images.githubusercontent.com/69995161/93527589-f0da5700-f8ed-11ea-9486-b3572abdc726.png)

[2020-09-17 21:08] AlanSl commented on #458
Good catch, let's reopen this one

[2020-09-17 21:11] denisedresbach commented on #450
Hello @helloantoine , Looks like this one is fixed now. I noticed the message is slightly different from the screenshot you sent. The new message is "Connection issue" and yours was "Loading issue".  Is that OK?

[2020-09-18 02:06] ahurworth opened #469 "County Search Overlay Broken in Spanish"
Repro steps:
Change language to Spanish
From NY COVID data tab - tap on county selector.
The white overlay should not extend to the top of the screen.
@helloantoine

![Screenshot_20200917-215739](https://user-images.githubusercontent.com/68069959/93546901-e04bd000-f931-11ea-847a-ed58c4cbaa1f.png)

[2020-09-18 03:58] fahd-arshad opened #470 "Update the Close Contact Alert landing screen"
Please see the attached request from NYS. @helloantoine if you can kindly mock this up first thing and send to NYS stakeholders (in your email inbox) for approval, we can get it over to the developers. Thank you.

[Update the Close Contact Alert landing screen.pdf](https://github.com/project-vagabond/covid-green-app/files/5243347/Update.the.Close.Contact.Alert.landing.screen.pdf)

[2020-09-18 04:10] fahd-arshad commented on #470
Language so you can copy/paste:

You have received an alert because you have been in contact with someone with COVID-19. There may be a risk you’ll develop COVID-19, so you should quarantine yourself at home, talk to your doctor, and call COVID Alert NY Hotline to find out how to protect yourself and others.

**Get tested.**
Talk to your healthcare provider to schedule an appointment.
[Find a test

[2020-09-18 09:09] AlanSl commented on #469
I can't replicate this on iOS (@JohnAGill or @floridemai  can you try?) and I can't replicate it exactly on Android, just that on Android it can be quite juddery on loading the view, it's worse after switching languages (particularly to/from Spanish presumably because of the longer "all counties" text causing a line break) and sometimes it can show a state like the one pictured for a second or two

[2020-09-18 09:24] helloantoine commented on #470
Thank you @fahd-arshad . Mockup of the updated screen available here:
https://nearform.invisionapp.com/console/share/NZY402QAG3Q/428104629

[2020-09-18 09:33] helloantoine commented on #226
Issue still persistent on Build 43

[2020-09-18 09:36] helloantoine commented on #453
Excellent. Thank you.

[2020-09-18 09:36] #453 closed, assigned to helloantoine

[2020-09-18 09:38] floridemai commented on #390
@jonnyjames Who provided you codes before? I can also do that for you, just ping on the thread please

[2020-09-18 09:39] helloantoine commented on #450
It's fine Yes. Thanks for checking @denisedresbach .

[2020-09-18 09:39] #450 closed, assigned to helloantoine, denisedresbach

[2020-09-18 09:53] helloantoine commented on #381
Looks good. Thanks!

[2020-09-18 09:53] #381 closed, assigned to helloantoine, ahurworth, kevin-sheldon

[2020-09-18 10:00] helloantoine commented on #448
Fixed. Other issues related to splashscreens open but this is fixed thx.

[2020-09-18 10:00] #448 closed, assigned to floridemai, helloantoine

[2020-09-18 10:01] helloantoine commented on #463
Fixed indeed. Thank you.

[2020-09-18 10:01] #463 closed, assigned to helloantoine

[2020-09-18 10:02] helloantoine commented on #459
Fixed indeed. Thanks!

[2020-09-18 10:02] #459 closed, assigned to helloantoine

[2020-09-18 10:48] helloantoine commented on #301
Tested. Looks good to me. Thx Alan!

[2020-09-18 10:48] #301 closed, assigned to jonnyjames

[2020-09-18 10:53] AlanSl commented on #390
@helloantoine is reporting he also sees the issue on Android, but not on IOS.

I'll pick it up next and make sure it's also fixed on Android.

[2020-09-18 10:55] helloantoine commented on #390
This works on iOS but issue remains on Android.

[2020-09-18 13:33] JohnAGill commented on #193
These should have all been fixed now and be in the next build

[2020-09-18 13:34] JohnAGill commented on #276
This should now be fixed and in the next build

[2020-09-18 13:34] floridemai commented on #404
Build 43 has this applied

[2020-09-18 13:34] JohnAGill commented on #226
This should be fix and in the next build

[2020-09-18 14:19] helloantoine commented on #460
Simple Fade in/out would do. @AlanSl @JohnAGill

[2020-09-18 14:57] JohnAGill commented on #469
I've tested this on ios (iphone xr) and can't recreate the issue, looking at the screenshot above it looks like this might be an android only problem

[2020-09-18 16:49] ahurworth opened #478 "Copy Updates to the Health Log Intro Screen"
We have updated copy for the intro screen to the Health Log.

[Title] My Health Log

My Health Log lets you keep track of your own health by storing a history of your symptoms.

The anonymous daily logs from you and other app users help public health research understand how the virus is affecting NYS.

<b>This does not reveal your identity.</b>

[Button] Get Started

@helloantoine @fahd-arshad

[2020-09-18 16:52] helloantoine commented on #478
Screen updated in Invision https://nearform.invisionapp.com/console/share/NZY402QAG3Q/428110489

[2020-09-18 17:02] floridemai commented on #470
Available in build 44

[2020-09-18 17:02] floridemai commented on #478
Available in build 44

[2020-09-18 17:19] fahd-arshad opened #479 "Change the COVID Alert NY Hotline number to 833-227-5045"
Please change the COVID Alert NY Hotline number to 833-227-5045. This shows up in a number of places in the app, such as the close contact notification, the "help others" instructions, and the health log having symptoms page, off the top of my head. Please change both the displayed number (where applicable) and the number that's called.

[2020-09-18 17:25] AlanSl commented on #319
@kevin-sheldon Here's the updated spreadsheet, adding today's changes:

[covid-alert-ny-translations-v3-200918.xlsx](https://github.com/project-vagabond/covid-green-app/files/5247127/covid-alert-ny-translations-v3-200918.xlsx)

And this contains only today's changes since earlier this week:

[covid-alert-ny-translations-v3-200918-changes-from-200915.xlsx](https://github.com/project-vagabond/covid-

[2020-09-18 17:37] floridemai commented on #479
Available in build 44

[2020-09-18 18:06] AlanSl commented on #458
Should be fixed in build 44

[2020-09-18 18:08] AlanSl commented on #468
Changed, should show in build 44.

I checked all other languages too and they were fine as expected, problem was only English.

[2020-09-19 00:51] denisedresbach commented on #458
Hi @AlanSl @floridemai
Tried to verify this fix on build 44 by doing the same steps and things got weird.
After the below happened I killed the app and tried again. 'Purple stuck screen' stopped happening, but still see that there is no date in the message.

I have 4 apps installed PA, DE, NY & NJ on my Android.
1. I opened NY app and tapped Simulate Exposure in debug menu, exited out of the app a

[2020-09-20 23:38] fahd-arshad commented on #479
I checked the Close Contact Alert, the Health Log symptoms response, and thee help others screens and the number is updated. @mboskin assigning to you so we can please validate this as part of NYS's testing.

[2020-09-20 23:38] #479 closed, assigned to fahd-arshad, mboskin

[2020-09-20 23:46] #470 closed, assigned to helloantoine, fahd-arshad

[2020-09-21 04:23] fahd-arshad opened #483 "Please add the following <18 check at wakeup"
We will need to add an under 18 gate at the beginning of the onboarding flow.

Please see attached mocks for layout and copy. @helloantoine and @ahurworth will need to discuss some VX and layout details, so please don't commit to that while they work those out, but the general flow will be as mocked up by Alex in this image:

![image](https://user-images.githubusercontent.com/68031284/93732623-fbf

[2020-09-21 07:21] helloantoine opened #484 "App Icon update"
@floridemai Let me know if I missed any asset please.
[App Icon.zip](https://github.com/project-vagabond/covid-green-app/files/5253895/App.Icon.zip)

[2020-09-21 12:24] mboskin commented on #479
Added to the MS-Teams list for retesting

_____________________

[REDACTED]
*Edited* to protect this project's data privacy policy

[2020-09-21 13:01] ahurworth commented on #478
Minor tweak, could we change "public health research" to "public health researchers"

The anonymous daily logs from you and other app users help public health research**ers** understand how the virus is affecting NYS.

@fahd-arshad

[2020-09-21 13:20] kevin-sheldon commented on #319
@AlanSl @floridemai Translations from V3 attached. Still awaiting V4 from translator.
[covid-alert-ny-translations-v3-200915_6 languages.xlsx](https://github.com/project-vagabond/covid-green-app/files/5255545/covid-alert-ny-translations-v3-200915_6.languages.xlsx)

[2020-09-21 13:37] floridemai commented on #478
@ahurworth Is it possible to have another issue created just for this. Just because we need the translations for this too unfortunately :(

[2020-09-21 15:56] kevin-sheldon opened #486 "Label Change to Feedback Option"
Will provide copy signoff ASAP, but looking to add some more instructional text to the Submit Feedback page under "What type of feedback would you like to submit?"

Draft copy:

"NOTE: This is for technical feedback only and will be shared with our app developers.

If you are feeling sick or have general questions about COVID-19, please do not use this feedback option and call the COVID Alert NY H

[2020-09-21 15:57] AlanSl commented on #390
Should be fixed in the next build (45)

[2020-09-21 15:58] kevin-sheldon commented on #486
I would defer to @ahurworth  and @helloantoine  on the design but the disclaimer/note could also come above the "What type of feedback would you like to submit?" question if we feel like the user should read that first.

Not sure if it also makes sense to put the disclaimer in red text

[2020-09-21 16:07] AlanSl commented on #486
@helloantoine @ahurworth I've put this together in draft form to ease generating the translations spreadsheet; here's how it would look with default formatting except bold on the "NOTE":

<img width=450 src="https://user-images.githubusercontent.com/29628323/93792029-e3dea000-fc2c-11ea-929b-f990a4be4c0b.jpg" />

[2020-09-21 16:24] AlanSl commented on #483
@ahurworth @fahd-arshad Can you please confirm that this text, taken from the first three screenshots, is confirmed as what we need translating and is all we need translating for this issue (for example, that we shouldn't get translations for the 1-screen version because there is no chance of a late switch to that version?):

[code]

[2020-09-21 16:25] helloantoine commented on #486
Please: @AlanSl

[2020-09-21 16:25] helloantoine commented on #486
Loooks good otherwise thx

[2020-09-21 16:28] ahurworth commented on #483
Looks good to me.

[2020-09-21 16:35] kevin-sheldon commented on #486
@helloantoine @AlanSl  Mahesh has provided signoff on the copy that I included in this ticket. No changes are needed.

Mockup looks good. OK to move forward.

[2020-09-21 16:52] kevin-sheldon commented on #319
[covid-alert-ny-translations-v4-200918-changes-from-200915_6 languages.xlsx](https://github.com/project-vagabond/covid-green-app/files/5256855/covid-alert-ny-translations-v4-200918-changes-from-200915_6.languages.xlsx)

V4 back from translators.

[2020-09-21 16:59] AlanSl commented on #319
Great, thanks @kevin-sheldon and here's version 5 which as discussed does not include the app store content.

[covid-alert-ny-translations-v5-200921.xlsx](https://github.com/project-vagabond/covid-green-app/files/5256884/covid-alert-ny-translations-v5-200921.xlsx)

[2020-09-21 17:47] jonnyjames commented on #442
This issue persists in latest build (Monday, September 21, 2020)

[2020-09-21 17:48] jonnyjames commented on #390
@AlanSl I still have not received new **Close Contact Codes** to retest this functionality. Could someone on your team issue me a few, via email? jjames@tpgi.com Thanks!

[2020-09-21 17:49] jonnyjames commented on #295
This issue still persists (Monday, September 21, 2020).

[2020-09-21 18:10] AlanSl commented on #390
@jonnyjames we'll send you a few later.

Build 45 also isn't out yet, I've started the build process so hopefully it should be ready in an hour or so.

[2020-09-21 20:07] AlanSl commented on #390
@jonnyjames Build 45 is out now, I'll send you some upload codes shortly

[2020-09-21 20:57] ahurworth opened #490 "Copy Tweak: Public Health Research -> Public Health Researcher on My Health Log Intro"
Minor tweak, could we change "public health research" to "public health researchers"

The anonymous daily logs from you and other app users help public health researchers understand how the virus is affecting NYS.

@fahd-arshad

Created as a new issue requested by @floridemai .

[2020-09-21 20:58] ahurworth commented on #478
Done, but since I'm only just seeing this now, does it mean we missed the translation 5?

https://github.com/project-vagabond/covid-green-app/issues/490

[2020-09-21 21:59] ahurworth opened #491 "Expired Positive Test Code Error Still Refers to HSE"
During the SUNY testing at the weekend, a couple of users encountered an expired code, and reported that the error message indicates "Contact HSE to request another one".

Please remove this last sentence.

@kevin-sheldon to advise if anything else is needed.

[2020-09-21 22:04] ahurworth opened #492 "Health Log Generates Multiple Entries"
A participant in the SUNY study over the weekend reported multiple entries into the Health Log when submitting symptoms.

![image](https://user-images.githubusercontent.com/68069959/93826245-d1686480-fc34-11ea-8a74-1bc883d05f9f.png)

Diagnostics:
App Version: 1.0.0.41
Device: iPhone 8
OS version: ios 14.0
Closeness sensing status: active
Notifications: Allowed
ENS Details: {"c":true,"s":true,"st":

[2020-09-21 22:47] kevin-sheldon commented on #491
Hi Alex,

I already put in a ticket to change HSE to DOH.

Thanks,
Kevin

________________________________
From: ahurworth <notifications@github.com>
Sent: Monday, September 21, 2020 5:59:50 PM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc: Sheldon, Kevin M (HEALTH) <Kevin.Sheldon@health.ny.gov>; Mention <mention@noreply.github.com>
Subject: [project-vagabond/covid-g

[2020-09-21 22:48] kevin-sheldon commented on #491
[Image.jpeg]

[2020-09-22 07:42] AlanSl commented on #491
Yes Kevin reported this in https://github.com/project-vagabond/covid-green-app/issues/468 and we fixed it in build 44 last week - that build wasn't pushed to the SUNY testers because it was felt it wasn't worth the disruption of them going through the app update process.

[2020-09-22 07:47] floridemai commented on #478
@AlanSl ^^ ?

[2020-09-22 07:48] #478 closed, assigned to helloantoine, ahurworth

[2020-09-22 08:31] helloantoine commented on #483
@AlanSl @floridemai @JohnAGill Here's the confirmed design (currently):
![new onboarding](https://user-images.githubusercontent.com/16833643/93859265-51ceaa00-fcb5-11ea-9111-0bfaa216cab1.png)

**Overview**
One single screen added before the introduction screen. This means we're expecting more translations.

**Todo**
- [x] a. Create new screen: https://zpl.io/aw8Jgyd
- [x] b. QA with Large Font set

[2020-09-22 12:41] AlanSl commented on #490
It looks like we'll need a v6 translations sheet with this and the new one-screen age gate text, I'll get assembling that

[2020-09-22 13:21] AlanSl commented on #319
@kevin-sheldon I believe you will have already been told yesterday afternoon / evening that unfortunately there were some more text tweaks added requiring translation.

If you don't have these already, they are in this spreadsheet, and I've been told there should not be any more.

It will be worth telling the translators that the only change in the first item is changing "public health research" t

[2020-09-22 13:25] AlanSl commented on #486
Done and will be in the next build.

![image](https://user-images.githubusercontent.com/29628323/93888062-6aec5080-fcdf-11ea-83eb-0125c7b87fa9.png)

[2020-09-22 13:59] AlanSl commented on #319
@kevin-sheldon Alex has just told me that the under-18s text is being changed again by Legal

[2020-09-22 14:08] AlanSl commented on #492
Two questions:

 - @ahurworth Do we have any details about how the participant did this or what they were doing? I've tried to replicate and can only find one way to recreate a screenshot like that, which is to change timezones between one check and the next (which is something we wouldn't want to prevent). If possible it'd be good to rule out, for example, the possibility that this participant vi

[2020-09-22 14:09] fahd-arshad commented on #483
Here is the language from NYS:
I am over 18, or I am the parent or guardian of a minor confirming that they can use the app.

[2020-09-22 14:18] jonnyjames commented on #390
This issue is now resolved. Closing this issue.

[2020-09-22 14:18] #390 closed, assigned to jonnyjames

[2020-09-22 14:42] AlanSl commented on #319
@kevin-sheldon This sheet replaces the first v6 sheet above and includes the revised age approval text. It can be done after v5.

**[covid-alert-ny-translations-v6-200922_2.xlsx](https://github.com/project-vagabond/covid-green-app/files/5262196/covid-alert-ny-translations-v6-200922_2.xlsx)**

[2020-09-22 15:30] floridemai commented on #492
@AlanSl I don't think we did that, but we should not be able  to swipe back once the user checked-in for the day.

[2020-09-22 16:02] kevin-sheldon opened #496 "Disable "Debug" Option Before Launch"
Before launch, please ensure that the debug menu in Settings is disabled for end-users. We do not want anyone to be able to access this hidden feature.

[2020-09-22 16:07] kevin-sheldon commented on #468
Language changed to DOH. Closing.

[2020-09-22 16:07] #468 closed, assigned to kevin-sheldon

[2020-09-22 16:23] fahd-arshad opened #498 "Add "the" to the close contact/exposure alert screen"
In the screen below, in the second para that starts with “What do I do now”, the second-to last part currently is
“and call COVID Alert NY Hotline”.

0It’s missing a “the” before "COVID". Please change it to the following:

“and call **the** COVID Alert NY Hotline”.

![image](https://user-images.githubusercontent.com/68031284/93909927-36fc3580-fcb5-11ea-929b-2d53c97029af.png)

[2020-09-22 18:28] ahurworth commented on #492
Checking with the user...

[2020-09-22 20:08] denisedresbach commented on #458
@AlanSl @floridemai
I can reproduce this by below steps (android 1.0.0.45)
Is this a case that needs to be fixed with this ticket or should I open a new ticket since the other paths are fixed?
1. Open NY app and tap Simulate Exposure in debug menu, exit out of the app and get the notification to check app
2. Open up NJ app and enable exposure for that app
3. Open up NY app again by tapping the not

[2020-09-22 20:33] AlanSl commented on #458
@denisedresbach Yes, please close this and open another ticket. If that's the only way this problem can now be replicated we can confidently say it's not an issue in regular app usage, and that case needs to be assessed separately because I'm not sure that a real user without access to the debug menu could realistically get in that situation (short of coincidentally switching apps at the moment th

[2020-09-22 20:34] AlanSl commented on #492
@denisedresbach Can you find a way to replicate this?

I've tried all sorts of things around setting the device date to days in the future, setting it to almost midnight and having the date change during check in, closing the app or using device back button during check in, etc, but it seems robust to me. The only way I can find is setting the device date so the check-ins are legitimately done on

[2020-09-22 20:42] denisedresbach commented on #458
Verified fixed 1.0.0.45
- one remaining issue when using multiple apps and I will open a  new ticket for that one

[2020-09-22 20:42] #458 closed

[2020-09-22 20:46] fahd-arshad commented on #319
On behalf of Kevin:

[covid-alert-ny-translations-v5-200921_5 languages.xlsx](https://github.com/project-vagabond/covid-green-app/files/5263921/covid-alert-ny-translations-v5-200921_5.languages.xlsx)
This has 5 languages, not Korean yet.

[2020-09-22 20:52] denisedresbach opened #500 "Simulate exposure results in a message with no date when using two apps (NY/NJ)"
App version:  Android 1.0.0.45
OS: Android 10
Device: Pixel 3XL
Reproducible: Always

Summary: Simulate exposure results in a message with no date when using two apps (NY/NJ)

Steps to reproduce:

Open NY app and tap Simulate Exposure in debug menu, exit out of the app and get the notification to check app
Open up NJ app and enable exposure for that app
Open up NY app again by tapping the notifica

[2020-09-22 20:53] denisedresbach commented on #492
@AlanSl I will give it a try.

[2020-09-22 21:24] denisedresbach commented on #492
@AlanSl I can definitely reproduce this issue by changing the device date. But sounds like you already covered this and really just want to know if there is another way?
1. Change date to 23rd, open app and check-in
2. Change date to 24th, open app and do not check-in
3. Change date back to 23rd, check-in again

[2020-09-22 21:28] AlanSl commented on #492
@denisedresbach Yes the going back in time part there is not something a user could normally do without intentionally tinkering with their device settings. The date changes are intended as a way we can simulate a user leaving the app unused for an amount of time then coming back to it.

[2020-09-22 23:03] denisedresbach commented on #492
@AlanSl Got it! Android and iOS
If you tap multiple times on the continue button it will duplicate the symptoms.
1. Go to Check-in
2. Select symptoms
3. Tap continue really fast
Results: You will see a couple screens fly by and after clicking Done you will see duplicated symptoms for same day.

![IMG_0164](https://user-images.githubusercontent.com/69995161/93946061-1e0f7680-fced-11ea-99f1-d97da05b

[2020-09-22 23:03] kevin-sheldon commented on #319
@AlanSl added Korean as well. v5 is now fully translated.

Just awaiting v6

[covid-alert-ny-translations-v5-200921_Korean.xlsx](https://github.com/project-vagabond/covid-green-app/files/5264445/covid-alert-ny-translations-v5-200921_Korean.xlsx)

[2020-09-22 23:05] kevin-sheldon commented on #319
v6 has been translated in Russian and Bengali.

Only outstanding translations are the v6 translations for Haitian, Korean, Chinese, and Spanish

[covid-alert-ny-translations-v6-200922_2_Russian and Bengali.xlsx](https://github.com/project-vagabond/covid-green-app/files/5264458/covid-alert-ny-translations-v6-200922_2_Russian.and.Bengali.xlsx)

Sorry this is coming in pieces. Figured I would send wh

[2020-09-22 23:43] rachaelqureshi opened #501 "App Crash When Clicking 'My Language'"
During the SUNY testing, a user indicated that the app was crashing "when clicking on the 'My Language' tab". The user reported using the app in English only. Phone type: Apple SE 2. generation, App Version: 1.0.0.41.

@kevin-sheldon, please let us know if any other information is needed.

[2020-09-23 04:58] floridemai commented on #319
[covid-alert-ny-translations-v6-200922_2_Chinese and Spanish.xlsx](https://github.com/project-vagabond/covid-green-app/files/5265628/covid-alert-ny-translations-v6-200922_2_Chinese.and.Spanish.xlsx)

[2020-09-23 06:34] floridemai commented on #408
@mboskin This has been raised in another ticket. And fixed. Can you check it again please?

[2020-09-23 06:51] floridemai commented on #469
Could not reproduce on iOS (XS 13.7) or android (s6 edge, android 7) - see below.

@ahurworth Moving this to blocked. If you can replicate and send more details that would be great.

<img width="720" src="https://user-images.githubusercontent.com/1158133/93976680-ffa78a80-fd81-11ea-98a1-04595645a408.png" />
<img width="720" src="https://user-images.githubusercontent.com/1158133/93976800-37163700-f

[2020-09-23 09:33] AlanSl commented on #490
Done for English, translations requested and some received, should all be in the next build

[2020-09-23 09:34] AlanSl commented on #498
Done will be in next build

[2020-09-23 09:35] floridemai commented on #483
@helloantoine Should be available in the next build

[2020-09-23 09:38] floridemai commented on #442
@jonnyjames Should be fixed in the next release

[2020-09-23 11:13] floridemai commented on #63
I have ran the inspector again and I didn't found any issue to be concerned about. The same "warnings" that Shaun has posted (which we are aware of). Most are around images not passing contrast, text not being accessible when in fact we have an image and ofc the hit area too small.

[2020-09-23 11:45] JohnAGill commented on #501
This has been fixed and will be in the next build

[2020-09-23 12:45] AlanSl commented on #492
Thanks for cracking that one @denisedresbach !

We've addressed it in https://github.com/project-vagabond/covid-green-app/pull/507 and it should be fixed in build 46.

[2020-09-23 13:47] kevin-sheldon commented on #319
v6 attached with ALL languages @AlanSl

[covid-alert-ny-translations-v6-200922_2_ALL Languages.xlsx](https://github.com/project-vagabond/covid-green-app/files/5268545/covid-alert-ny-translations-v6-200922_2_ALL.Languages.xlsx)

[2020-09-23 14:12] floridemai commented on #278
This has now been addressed.

[2020-09-23 14:16] AlanSl commented on #319
We believe this to now be complete:

 - Everything is in build 46 except for, in ko and ht only, the age gate text and the change from "research" to "researchers" in the health log welcome screen
 - Those remaining changes are done in https://github.com/project-vagabond/covid-green-app/issues/434 and will be in build 47 later today

[2020-09-23 14:20] fahd-arshad commented on #498
Thank you Alan. Looks good in build 46 on iOS.

[2020-09-23 14:20] #498 closed, assigned to fahd-arshad

[2020-09-23 14:28] AlanSl opened #512 "Age gate screen can overflow on small Russian devices with enlarged text"
![image](https://user-images.githubusercontent.com/29628323/94026373-7c059200-fdb1-11ea-8dc8-4e8acfa25ef8.png)

[2020-09-23 14:56] mboskin commented on #408
This has been added to the MS-Teams list of issues for ITS to retest.

[REDACTED]
*Removed e-mail signature content*

[2020-09-23 15:13] helloantoine commented on #434
@kevin-sheldon @fahd-arshad
I'm attaching a preview of all the files generated in the 7 languages.
Each preview shows:
5 screenshots for 5.5 inch devices.
5 screens for 6.5 inch devices.
5 screens for android screens.
And one Android promo screen.

Easy. I couldn t attach them here but you can download them here:
https://drive.google.com/file/d/1CIH8EJkE5f1e_0GumdxcCmh2FrGavWSV/view?usp=sharing

[2020-09-23 15:34] AlanSl commented on #512
Done in https://github.com/project-vagabond/covid-green-app/pull/513 will be in build 47

[2020-09-23 15:37] kevin-sheldon commented on #486
Tested and looks good!

[2020-09-23 15:37] #486 closed, assigned to kevin-sheldon

[2020-09-23 15:38] kevin-sheldon commented on #491
The term HSE was changed to DOH. Verified in Build 46

[2020-09-23 15:40] kevin-sheldon commented on #435
All - Changing this request.

We would like a documented regression test checklist from NF to show each of the app components that run through regression tests before a build is released.

We have to have assurance from NF that a suite of regression tests have run and passed before releasing a production build.

[2020-09-23 15:45] ahurworth commented on #490
Looks good.

[2020-09-23 15:45] #490 closed, assigned to ahurworth

[2020-09-23 15:48] ahurworth commented on #492
@denisedresbach Please can you review this and close if satisfied?  I'm not seeing the issue anymore, but I'm not confident I'm mimic'ing the repro steps exactly.

[2020-09-23 16:28] ahurworth commented on #491
Thanks!  Closing...

[2020-09-23 16:28] #491 closed, assigned to ahurworth

[2020-09-23 16:28] denisedresbach commented on #492
@AlanSl @ahurworth
Gave it a try on my Android build 1.0.0.46 - Same goes for iOS
FAIL -I was able to reproduce the issue still with the "I'm feeling well" button.
PASS -Tested the symptoms path and that does look good.

[2020-09-23 16:46] AlanSl commented on #492
Gah! Can't believe I missed that. I'm on it now.

[2020-09-23 16:51] fahd-arshad commented on #63
Hi @willslone. Would you mind taking a look through the findings of the automated tool above and advising us as to which of these are spurious and which we need to look at in order to achieve either WCAG 2.1 AA or A compliance? Thank you.

[2020-09-24 00:04] #278 closed, assigned to willslone

[2020-09-24 00:06] #193 closed, assigned to floridemai, willslone

[2020-09-24 00:10] #276 closed, assigned to willslone, helloantoine

[2020-09-24 09:19] AlanSl opened #517 "Pressing the counties list modal "X" sometimes doesn't work on Android"
Seen in build 46

[2020-09-24 09:20] AlanSl commented on #517
Fixed in https://github.com/project-vagabond/covid-green-app/pull/516 will be in build 47

[2020-09-24 10:18] AlanSl commented on #492
Done and will be in build 47 @denisedresbach feel free to close this if it passes retest

[2020-09-24 12:37] AlanSl commented on #469
We still can't replicate the issue exactly but on slower Android devices I've found that the appearing keyboard can cause rendering glitches like this one so I've added a small delay before the keyboard is shown. This seems to prevent these glitches.

[2020-09-24 14:55] #517 closed, assigned to AlanSl

[2020-09-24 14:55] #512 closed, assigned to AlanSl

[2020-09-24 18:05] ahurworth commented on #492
Since I have not been able to repro this, I'm unassigning myself.  @denisedresbach Please close this if it's looking good.

[2020-09-24 18:06] ahurworth commented on #141
I will close this ticket and re-open a new one for 1.1.
Android's splash screen isn't quite there yet unfortunately.

[2020-09-24 18:06] #141 closed, assigned to dharding, floridemai, ahurworth

[2020-09-24 18:15] ahurworth opened #523 "Splash Screen Improvements"
I hope for 1.1 we can have some energy to pick this one back up again :)

On Android:
- There should be no full-screen purple onscreen on its own
- The branding element is not displayed for long enough - I can barely recognize it and it feels like a mistake.  Can we display on screen for 2 seconds?
- The out-transition from the branding element to the landing screen is too abrupt.  It should fade.

[2020-09-24 19:26] ahurworth commented on #460
hope for 1.1 we can have some energy to pick this one back up again :)

On Android:

There should be no full-screen purple onscreen on its own
The branding element is not displayed for long enough - I can barely recognize it and it feels like a mistake. Can we display on screen for 2 seconds?
The out-transition from the branding element to the landing screen is too abrupt. It should fade.

On iOS:

[2020-09-24 19:27] ahurworth commented on #523
Dupe

[2020-09-24 19:27] #523 closed, assigned to nobody

[2020-09-24 22:20] denisedresbach commented on #492
Looks good! Tested on iOS and Android and no longer able to duplicate daily symptoms. 1.0.0.48

[2020-09-24 22:20] #492 closed, assigned to denisedresbach

[2020-09-28 00:35] kevin-sheldon opened #524 "NYC HOTLINE INFO NEEDS TO BE ADDED **CRITICAL**"
We need to add a New York City Hotline number to the app in addition to the New York State hotline number.

For each place that the NYS hotline number appears in the app:

1) Exposure Notification Screen
2) Learn how to keep others safe screen
3) Submit feedback screen

The exact text needs to be included underneath the existing messages:

For NYC: Call the Test & Trace COVID Hotline for more info

[2020-09-28 00:57] kevin-sheldon commented on #524
When this is built, can you please send screenshots to @fahd-arshad  and I as soon as this is completed?

[2020-09-28 01:08] kevin-sheldon opened #525 "URGENT - CHANGE PRIVACY POLICY URL"
Mark - Can you please point to the following NEW URL for the privacy policy page?

https://covidalertny.health.ny.gov/covidalert-privacy

This is has been updated by NYSDOH executive leadership.

CRITICAL for 10/1 launch

[2020-09-28 01:09] kevin-sheldon commented on #525
@fahd-arshad

[2020-09-28 09:36] AlanSl commented on #524
@fahd-arshad and @kevin-sheldon ready to go wtih your approval and tested on screen readers. Note there are four places where the NYS hotline appeared: the three listed above, plus symptoms checker results if symptoms are reported:

<img width=350 src="https://user-images.githubusercontent.com/29628323/94414762-a02bef00-0174-11eb-8a4d-adf1311a11f9.png" /> <img width=350 src="https://user-images.gi

[2020-09-28 10:01] AlanSl commented on #524
<strike>I'm starting a new build with the above in English, so that if you're happy with it we can get resubmitting the app ASAP - ping me on Slack if you come online before it's complete (around 06:30-07:00ish NY time) and want something changed.</strike>

[edit] I was just informed that translations have been requested so we'll wait to hear on the status there before doing a build.

[2020-09-28 10:51] AlanSl commented on #501
@rachaelqureshi Are you satisfied that the issue is resolved and we can close it?

We found that a crash as described was occurring on that screen on devices (particularly iOS) where the user's device was only configured to use a language or languages not included in the NYS app (for example, a French device with no other languages configured on the device would default to English but then hit thi

[2020-09-28 11:02] AlanSl commented on #496
This was done for build 48. Builds released to the app stores (private and public) will now no longer have the debug menu active.

[2020-09-28 11:03] AlanSl commented on #484
These went in to build 47. @mattobee can you verify that all is well in the builds available in the app stores and close this issue if it is.

[2020-09-28 12:32] rachaelqureshi commented on #501
@AlanSl Thank you for looking into this. We can close this issue.

[2020-09-28 12:33] #501 closed, assigned to rachaelqureshi

[2020-09-28 13:25] mattobee commented on #484
@AlanSl This looks as I'd expect on iOS (I looked at build 48), but Android seems to be showing the square icon instead of the round icon. I can see that Antoine did supply a round icon in the set, so I wonder if `android:roundIcon` is set correctly in the manifest?

[2020-09-28 15:32] kevin-sheldon commented on #524
Adding translations file for all languages.
[Rush Line for NYS DOH.docx](https://github.com/project-vagabond/covid-green-app/files/5293366/Rush.Line.for.NYS.DOH.docx)

[2020-09-28 15:33] #496 closed, assigned to kevin-sheldon

[2020-09-28 15:42] AlanSl commented on #524
These are all now added and I'm starting a build to include them.

Translation screenshots here https://github.com/project-vagabond/covid-green-app/pull/527#issuecomment-700054128 (I'll add Bengali screenshots in around 5 minutes)

[2020-09-28 15:56] AlanSl commented on #524
Chinese:

<img width=175 src="https://user-images.githubusercontent.com/29628323/94446989-3bd35480-01a1-11eb-8417-3e9afe7f95fe.jpg" /><img width=175 src="https://user-images.githubusercontent.com/29628323/94446993-3d048180-01a1-11eb-9ddc-56b602e11957.jpg" /><img width=175 src="https://user-images.githubusercontent.com/29628323/94446997-3d9d1800-01a1-11eb-91f1-261d98649da1.jpg" /><img width=175 src

[2020-09-28 17:23] segfault commented on #525
This is now live. Please confirm we're good to close.

[2020-09-29 13:38] kevin-sheldon opened #529 "Skipping Demographics on My Health Log Creates Improper Default Values"
If you skip over the demographic entry screen on my health log, the app defaults to the following values:

County: Not in New York State
Gender Identity: Prefer not to say
Age range: Prefer not to say
Race: Prefer not to say
Ethnicity: Prefer not to say

Can you confirm if these values are being added to app metrics or are they being ignored? If they are being counted, then the County needs to be

[2020-09-29 13:39] kevin-sheldon commented on #525
Confirmed in Build 49

[2020-09-29 13:39] #525 closed, assigned to segfault, colmharte

[2020-09-29 13:39] kevin-sheldon commented on #524
Confirmed in Build 49

[2020-09-29 13:39] #524 closed, assigned to dharding, colmharte, helloantoine, AlanSl, ahurworth

[2020-09-29 13:41] kevin-sheldon commented on #483
This has been verified. However, need to open up a new ticket to fix language in next release.

It should read "I am at least 18 years of age" instead of "I am over 18". People may think you may need to be 19 or older to use this app, and 18 is the minimum age.

[2020-09-30 15:23] AlanSl commented on #484
@mattobee Can you post a lower priority issue with the details of what device and Android version you're seeing that on? Alex saw something similar but I'm only seeing the round icon in cases where round icon is used (simulated Pixel 2 on Android 10):

![image](https://user-images.githubusercontent.com/29628323/94705759-504a5500-0339-11eb-8a14-3a0bab35593c.png)

[2020-09-30 15:25] AlanSl commented on #484
@mattobee  / @helloantoine Can we close this critical issue? Then we'll follow up the round icons question on its own issue

[2020-09-30 15:30] mattobee commented on #484
Closing based on the assumption that the transient issue with the square icon appearing instead of the round icon is unrelated to the work associated with this task. Will raise it separately if we're able to reproduce it.

[2020-09-30 15:30] #484 closed, assigned to mattobee, helloantoine

[2020-09-30 15:42] AlanSl commented on #483
@kevin-sheldon Sure, in that case do you want to close this issue, open that as a new issue for the next update, and when the translations are ready post them to that new issue and assign me to it?

[2020-09-30 15:54] AlanSl commented on #529
Just discussed this with Colm - data from users who skip is not treated differently in being passed to the metrics service so I'll change the default for the first update.

Unless there are any objections or requests for something different I'll set the default to "Prefer not to say" which will allow us to use the existing translation, no new translations required.

[2020-09-30 22:07] fahd-arshad opened #531 "Languages supported by app need to be updated in xcode"
The iOS version 1.0 in the App Store reports that the app supports English and Irish. This needs to be updated. The languages supported are: Bengali, Chinese, English, Haitian Creole, Korean, Russian, and Spanish

[2020-10-01 09:21] mattobee opened #535 "Tab titles should be forced onto two lines regardless of screen width"
@ahurworth reports that the tab titles are no longer wrapping on two lines.

![Screenshot_20200930-211054](https://user-images.githubusercontent.com/3172945/94792141-740caa00-03d0-11eb-86a6-8aa341ce1324.png)

After chatting to @helloantoine, it doesn't sound like the wrapping was actually deliberate. They do have a fixed width in Sketch but that wasn't intended to be implemented in production. We

[2020-10-01 14:11] fahd-arshad commented on #531
Done.

[2020-10-01 14:11] #531 closed, assigned to colmharte

[2020-10-01 14:28] fahd-arshad opened #536 "Remove "amount of closeness cases: #" from the "Submit Feedback" metadata"
The last row of the meta-data submitted in the "Submit Feedback" button is "amount of closeness cases: 0". We should remove this as business stakeholders agree that its technical value for debugging is not commensurate with the privacy loss.

[2020-10-01 14:40] fahd-arshad opened #537 "Change the URL in "Share""
Please change the URL in the "Share" message from "covidalertny.health.ny.gov" to

https://coronavirus.health.ny.gov/covid-alert-ny

This is the official launch page of the product.

[2020-10-01 18:49] fahd-arshad opened #541 "Add support for right-to-left languages"
We need RTL language support so we can add:
1. Yiddish
2. Arabic
3. Urdu

for improved localization for NYC.

[2020-10-01 21:33] willslone commented on #63
Currently none of the above need to be looked at to achieve compliance, but that will change soon. WCAG 2.2 is coming in 2021, and with it a new success criterion for touch target size. If possible, it would be good to start addressing any of the “Hit area is too small” warnings found by the inspector tool.

[2020-10-02 13:56] ahurworth opened #542 "Tabs don't respect the safe area for some iPhone users"
Tabs don't respect the safe area for some iPhone users
![image](https://user-images.githubusercontent.com/68069959/94931105-57867580-0495-11eb-9a98-a50c56c28d72.png)

So far two users with same specs.  This also came up in the SUNY field trial.
App Version: 1.0.1.50
Device: iPhone 11
OS version: ios 14.0

[2020-10-02 15:31] ahurworth opened #543 "Chart should not rely on user action to refresh"
Can the API make periodic calls:
- definitely when foregrounded
- possibly every 6(?) hours during the background

Chart will naturally refresh from cold start.

[2020-10-02 15:37] ahurworth opened #544 "Update Store Listing to Indicate Additional Language Support"
Since Apple and Google Store listings don't support Haitian Creole and Bengali, we couldn't tag the app as supporting those, even though they are.

We should add a sentence in the freeform text field to indicate they are in fact supported.

@fahd-arshad @dharding

This issue may not belong on this board, but tracking here so we don't lose it.

[2020-10-02 15:39] AlanSl commented on #537
Done, will be in next release

[2020-10-02 15:39] ahurworth opened #545 "Allow Share Integration with Instagram, Twitter, Facebook etc"
Allow Share Integration with Instagram, Twitter, Facebook etc

[2020-10-02 15:39] AlanSl commented on #529
Done, will be in next release

[2020-10-02 15:39] AlanSl commented on #536
Done, will be in next release

[2020-10-02 16:06] AlanSl commented on #394
@arybka777 @dharding I think we can close this now?

[2020-10-02 16:07] AlanSl commented on #404
Closing this as @dharding has confirmed by moving it to done

[2020-10-02 16:07] #404 closed, assigned to dharding, helloantoine

[2020-10-02 16:49] #394 closed, assigned to dharding, arybka777

[2020-10-02 16:56] AlanSl commented on #334
@fahd-arshad Are you happy that this can be closed now after the rounds of testing done since it was opened?

[2020-10-02 17:00] AlanSl commented on #319
Confirmed done

[2020-10-02 17:00] #319 closed, assigned to kevin-sheldon

[2020-10-02 17:07] AlanSl commented on #434
@helloantoine @kevin-sheldon I believe this is done now? Can it be closed?

We may need to open another issue for the translations of boilerplate text for describing app updates but I think that's best done in its own issue.

[2020-10-02 20:18] #11 closed, assigned to dharding

[2020-10-02 20:25] #434 closed, assigned to kevin-sheldon

[2020-10-02 21:19] #36 closed, assigned to AlanSl, kevin-sheldon

[2020-10-05 02:40] #334 closed, assigned to colmharte, bonniejohn, fahd-arshad

[2020-10-05 13:31] #7 closed, assigned to dharding, floridemai, colmharte

[2020-10-05 13:32] davidjharding commented on #49
Closing since this is of limited value at this point.

[2020-10-05 13:32] #49 closed, assigned to mboskin

[2020-10-05 13:34] davidjharding commented on #339
@helloantoine @ahurworth @mattobee Is this in progress still? If so, please move it to the correct column on the board.

[2020-10-08 23:11] #537 closed, assigned to fahd-arshad

[2020-10-09 15:23] AlanSl opened #551 "Translations for 1.1 release (7th round of translations)"
Here is an up to date spreadsheet that can be used as a basis for adding new languages to the app.

[Compared to the current release](https://github.com/covid-alert-ny/covid-green-app/pull/550) it has a couple of unused lines removed to save translators time, and one change to English, which is the change requested in https://github.com/covid-alert-ny/covid-green-app/issues/483#issuecomment-700711

[2020-10-09 15:58] AlanSl commented on #551
Following the standup meeting today there are two things I'll add to the "complete" spreadsheet to simplify translation before sending it to Steve to dispatch:

 - [x] App store assets text (Antoine has provided this)
 - [x] API text such as short-form privacy policy (I can get this from the API)

[2020-10-09 16:30] AlanSl commented on #551
This is the revised complete spreadsheet containing all app text, all App Store text, and the short-form data policy for the API:

**[covid-alert-ny-translations-v7.xlsx](https://github.com/covid-alert-ny/covid-green-app/files/5356231/covid-alert-ny-translations-v7.xlsx)**

I'm emailing this directly to Steve now along with the one-line sheet above.

[2020-10-12 15:40] mattobee commented on #541
Translations for these new languages are being sourced in #551

[2020-10-13 16:01] fahd-arshad commented on #544
I believe this is done.

[2020-10-13 16:01] #544 closed, assigned to dharding

[2020-10-14 16:04] kevin-sheldon opened #553 "Add Arabic Translations"
Need to get app translations for Arabic. Spreadsheet required to send over to translators.

[2020-10-14 16:17] #408 closed, assigned to mboskin

[2020-10-14 16:19] #442 closed, assigned to jonnyjames

[2020-10-14 16:26] kevin-sheldon commented on #469
@ahurworth  I can't seem to repro this. Do we still think this is an issue?

[2020-10-14 16:28] #483 closed, assigned to helloantoine

[2020-10-15 09:27] AlanSl commented on #553
Hi @kevin-sheldon  no new spreadsheet is needed, the same spreadsheet here can be used for any new languages: https://github.com/covid-alert-ny/covid-green-app/issues/551#issuecomment-706280185

The translators can simply add a new column for each new language

[2020-10-15 20:16] kevin-sheldon commented on #500
Why would a "no date" requirement be included here? Doesn't NJ also pass a date through so that we can capture? Apps should be interoperable.

Also, can we confirm how this can be "simulated" from the debug menu? If you simulate an exposure, you just see the standard exposure screen. Should be the same regardless of state if they are passing a date parameter to retrieve positive key, correct?

[2020-10-15 20:16] #529 closed, assigned to kevin-sheldon

[2020-10-15 20:18] kevin-sheldon commented on #535
@mattobee do we know the settings or phone screen size that is doing this? I haven't seen this on any device.

[2020-10-15 20:21] kevin-sheldon commented on #536
Confirmed that this is no longer appearing on tech. diagnostics in e-mails.

[2020-10-15 20:21] #536 closed, assigned to fahd-arshad

[2020-10-16 07:38] mattobee commented on #535
@kevin-sheldon I'm not sure what device @ahurworth was using but I can see the same behaviour on a OnePlus 6 where "My Health Log" fits onto one line. There is nothing forcing them to wrap onto two lines so it will happen on any screen above a certain size/resolution.

[2020-10-16 16:57] AlanSl opened #554 "Apply Yiddish translations to app"
Part of https://github.com/covid-alert-ny/covid-green-app/issues/551

Spreadsheet containing Yiddish translations (dated 2020-10-16):

[covid-alert-ny-translations-v7-yi.xlsx](https://github.com/covid-alert-ny/covid-green-app/files/5393180/covid-alert-ny-translations-v7-yi.xlsx)

These came with a translator's note about lines starting with left-to-right characters being displayed in the spreadshe

[2020-10-16 17:13] AlanSl opened #555 "Ensure mixed LTR and RTL lines in RTL languages are displayed correctly"
I'm posting this as an issue on its own rather than part of https://github.com/covid-alert-ny/covid-green-app/issues/551 for easy reference as it was raised by a translator:

[2020-10-16 17:15] AlanSl commented on #555
It's a known issue which I encountered and have a working solution for while working on https://github.com/covid-alert-ny/covid-green-app/pull/549

We handle it on import - it won't look how it does in Excel in the app. Essentially:

 - A paragraph's left-to-right or right-to-left orientation is derived from its initial characters, so a line like `"COVID تنبيه NY"` may be treated as left-to-right.

[2020-10-16 17:17] AlanSl commented on #554
Here are some screenshots of key screens in Yiddish for validation:

![Screenshot from 2020-10-16 16-05-32](https://user-images.githubusercontent.com/29628323/96288766-db834600-0fdb-11eb-92d5-2ffa2337d730.png) ![Screenshot from 2020-10-16 16-06-11](https://user-images.githubusercontent.com/29628323/96288768-dc1bdc80-0fdb-11eb-969f-d636c4434abd.png)
![Screenshot from 2020-10-16 16-06-52](https://us

[2020-10-21 15:50] AlanSl commented on #542
This is in the `v1.1.0.52` build currently on TestFlight / beta Play Store.

[2020-10-21 15:51] AlanSl commented on #541
This is in the `v1.1.0.52` build currently on TestFlight / beta Play Store.

[2020-10-21 15:52] AlanSl commented on #554
This is in the `v1.1.0.52` build currently on TestFlight / beta Play Store.

[2020-10-21 15:55] AlanSl commented on #469
Given the amount of time no-one has been able to reproduce this I'm going to close it, feel free to re-open with details if it or a similar issue show themselves.

[2020-10-21 15:55] #469 closed, assigned to nobody

[2020-10-21 23:54] ahurworth commented on #542
Thanks @AlanSl !  Unfortunately I can't test this as I haven't experienced it myself -- I was reporting it on behalf of a few people in the field trials who saw it.

[2020-10-27 22:11] denisedresbach opened #559 "Different text in app compared to InVision"
1.1.0.52

Summary: As I am testing I see some text that doesn't match the InVision screens. Creating this list to track.
https://nearform.invisionapp.com/overview/COVID-19-App-NY-State-1-0-ckf1sb9d30tlm01y7mkbq1nz2/screens

I'm feeling well button

Thank you screen for feeling well

Hotline #s - How to keep others safe and Thank you screen after entering symptoms in Health Log- What should the hot

[2020-10-28 17:47] denisedresbach commented on #559
Confirmed with Matt that we can consider the app as truth. InVision is out of date.

Denise Dresbach  2 hours ago
Thank you. Do you happen to know if the InVision screens are what I should base my testing on? I have seen a lot of different text and started making a list in a ticket. Since there are so many differences, I am wondering if the app is correct and InVision is older?

Matt Obee  1 hour

[2020-10-28 17:47] #559 closed, assigned to denisedresbach

[2020-10-28 18:20] mboskin commented on #553
Please find the Arabic translation included in the attached.

Please note:
- Arabic has the same issue in Excel that Yiddish had before: in the cells that start with text in English or a symbol, the cell was set to read Left-to-Right automatically, but the Arabic still reads Right-to-Left. This doesn’t seem to have been an issue when exporting the Yiddish into the final app, but please make sure t

[2020-10-28 18:54] denisedresbach opened #560 "Access denied when clicking on Policy link in Yiddish"
App version: iOS Android 1.1.0.52
OS: iOS 14, Android 10
Device: iPhone SE, Pixel 3XL
Reproducible: Always

Summary: Change language to Yiddish and click on any of the Policy links results in Access denied message

Steps to reproduce:
1. Launch app go to Settings > Change language > Choose Yiddish
2. Go to Data Policy and click on link

Actual Results:
<Error>

<Code>AccessDenied</Code>

<Message>

[2020-10-28 19:09] denisedresbach opened #561 "Changed language to Yiddish shows blank results for County and Age in My Health Log"
App version:Android 1.1.0.52
OS: , Android 10
Device: Pixel 3XL
Reproducible:

Summary: Change language to Yiddish and click on My Health Log > County or age > Select and Save = Blank entry when viewing saved info.

Steps to reproduce:
1 Launch app go to Settings > Change language > Choose Yiddish
2 Go to My Health Log and enter county and age > Save
3 View the information saved

Actual Results: A

[2020-10-28 22:08] denisedresbach opened #562 "Should symptoms be deleted after uninstall and reinstall?"
App version: iOS 1.1.0.52
OS: iOS 14
Device: iPhone SE
Reproducible: Always

Summary: App with symptom history does not get deleted on uninstall. Should it?

Steps to reproduce:

1. Install app (TestFlight) and add symptoms
2. Uninstall app
3. Install again and onboard
4. Go to My health log

Actual Results: Symptoms from before are shown

[2020-10-28 23:24] denisedresbach opened #563 "Installing with Bluetooth off and not allowing notifications can get a user into a confusing place"
App version: iOS Android 1.1.0.52
OS: iOS 14, Android 10
Device: iPhone SE, Pixel 3XL
Reproducible: Always

Summary:
Testing install while Bluetooth was off and attempting to skip all the notifications asking for it to be turned on.
I see a little bit different of a result in iOS and could break this out into two tickets if needed.

For Android-After registered and enabling Bluetooth on my phone p

[2020-10-29 00:33] denisedresbach opened #564 "Sometimes my app icon turns into this black and white icon"
App version: iOS 1.1.0.52
OS: iOS 14
Device: iPhone SE
Reproducible: Not seen until today afternoon

Summary: My app icon changed to a black and white icon

Steps to reproduce: I am not sure how to repro this. I was doing some uninstall and install testing including updating from previous build 1.0.2 (51) and now my icon looks like this. I have restarted and reinstalled and it seems to get fixed b

[2020-10-29 00:43] denisedresbach commented on #563
https://share.icloud.com/photos/0PsRo4Gc5_l5rUIXIDFg5GZkg

[2020-10-29 19:48] denisedresbach commented on #226
Testing this in 1.1.0.52
iOS - Changed to largest display size and can see How it works is no longer cut off PASS
Android - Also looks good at largest font and largest display PASS
Took a look at the other items in the list and they look good still.

[2020-10-29 19:48] #226 closed, assigned to helloantoine

[2020-10-29 20:30] denisedresbach opened #565 "Large Display: Cannot toggle Share App Usage"
App version: iOS 1.1.0.52
OS: iOS 14
Device: iPhone SE
Reproducible: Always

Summary: Large Display: Cannot toggle Share App Usage

1. Set Accessibility Display size to Largest
2. Launch app and go to Settings >  Help Improve This App
3. Scroll to bottom of screen

Results: Switch is off the screen some and it is very hard to toggle it

![IMG_0371](https://user-images.githubusercontent.com/6999516

[2020-10-29 21:00] denisedresbach commented on #555
1.1.0.52 - I looked at all screens in the app that I have access to. I see sentences that start with COVID and they are on the right as expected.
@AlanSl One section I see the English word is on the left is in the About you section of My Health Log for the County selected.
Is this the same thing or should I write up a new ticket?
![2020-10-29](https://user-images.githubusercontent.com/69995161/976

[2020-10-29 21:11] denisedresbach commented on #541
1.1.0.52 I see RTL for Yiddish (iOS/Android) but the other languages are not available yet.
This ticket is for the support of RTL so I think it can be closed at this point.

[2020-10-29 21:11] #541 closed, assigned to fahd-arshad

[2020-10-29 21:12] denisedresbach commented on #554
I can change to Yiddish in 1.1.0.52 iOS and Android.
I have tested best I can and wrote up a couple tickets for issues found.

[2020-10-29 21:12] #554 closed, assigned to AlanSl

[2020-10-30 09:32] AlanSl commented on #560
Looks like the translation included the old URL - I'll update it at the same time as adding the Arabic policy

[2020-11-03 17:43] AlanSl commented on #553
@mboskin or @kevin-sheldon Can you please forward the set of Arabic screenshots to the translators for review - thank you.

[**Arabic screenshots.zip**](https://github.com/covid-alert-ny/covid-green-app/files/5483041/Arabic.screenshots.zip)

Also, are there currently any plans for any more languages (e.g. Urdu?)

[2020-11-10 11:37] AlanSl commented on #553
Summarising [translator's feedback](https://nearform.slack.com/files/U019QN33A4A/F01EGU52F0R/arabic_screenshots_edits.docx):

- [x] Hidden text (nothing to do here - this is just the screenshot scroll position)
- [x] Fix reversed phone numbers everywhere
- [x] Remove 212-COVID19 style phone number everywhere
- [x] Number format for floating chart label - % at the end
- [x] Translate months
- [x] F

[2020-11-10 13:02] mboskin commented on #553
@AlanSl What do the checked boxes signify?

[2020-11-10 13:47] AlanSl commented on #553
@mboskin I'm working through this among other things today. Checked means done. When they're all checked this ticket will be ready for the next build (aiming for end of today, got a few other small things to go in too).

[2020-11-10 13:50] mboskin commented on #553
@AlanSl do you have a next build scheduled? Colm and I had emailed about the next release going into UAT Nov. 23.

[2020-11-10 13:58] AlanSl commented on #553
The build I'm referring to will just be for internal testing as we did with Yiddish. It's mainly just so our own QA testers can check the latest small fixes. It doesn't affect the release schedule.

So it's not anything formally scheduled and doesn't affect UAT dates.

The above comment is mostly for my own reference and so there's a record here of what was fixed - apologies for any confusion caus

[2020-11-10 13:59] mboskin commented on #553
Thanks for the explanation

[2020-11-11 17:08] AlanSl commented on #562
No it shouldn't, and this is something we'd been meaning to change.

@denisedresbach This is a tricky but particularly important one to test because the first time a user loads up the app after updating we move their symptom history from a type of storage that persists after uninstall to a type that doesn't - and we want to be absolutely sure this transfer can't fail causing users to lose their sy

[2020-11-11 17:21] AlanSl commented on #561
Should be fixed in build 53 (for Yiddish and Arabic)

[2020-11-11 17:23] AlanSl commented on #560
I've passed on amended policies and I believe these are now added to the API, they should show in build 53 (maybe also live release) and both Yiddish and Arabic should work.

[2020-11-11 17:23] denisedresbach commented on #562
@AlanSl Ok sounds good I will do this testing. Thank you for the info!

[2020-11-11 17:23] AlanSl commented on #555
There should be no more cases like this in build 53

[2020-11-11 17:25] AlanSl commented on #553
Arabic should be available and working for the entire app in test build 53, I'm assigning this for our internal testing.

[2020-11-11 17:27] AlanSl commented on #542
@denisedresbach are you able to check this and close it, build 52 or 53? I know iPhone R 11 is one of the phones where this had happened but any with the microphone grill as pictured should be okay to confirm it's done.

[2020-11-11 17:27] AlanSl commented on #565
Should be fixed in build 53

[2020-11-11 17:52] denisedresbach commented on #542
@AlanSl I wasn't able to test this one, but I can try to figure out how to get the microphone grill to test.

[2020-11-11 18:57] AlanSl commented on #542
@denisedresbach If you don't have one of the right type of devices to hand don't worry about it, we have tested it so I think we can close this as done.

[2020-11-11 18:58] #542 closed, assigned to denisedresbach

[2020-11-13 15:45] AlanSl commented on #563
Hi @denisedresbach :

 - For the Android issue, it seems to be working for me now, on returning to the app after enabling bluetooth the screen shows status as disabled for a moment then refreshes and shows enabled. Does it work for you in latest build or are there still problems?
 - For the iOS issue, I also struggled with it until I flipped the "Share Exposure Information" switch from "off" to "o

[2020-11-13 16:02] AlanSl commented on #564
@denisedresbach We can't replicate this either and haven't seen any other reports of it. Did you find any way of replicating it, does it still happen, and have you seen it since?

And to confirm - was this on a build from Testflight and not from the public App Store? Have you ever seen this with any of the latest public releases?

[2020-11-13 19:01] denisedresbach commented on #564
@AlanSl I have not seen this since but I have not been testing NY lately. My icon is fine at the moment. This was a build from TestFlight and I was doing update testing and install testing over and over again. I was using the previous build in Test Flight to do updates. I will watch for it for sure when I am testing NY again. I can reopen this if I see it.

[2020-11-13 19:34] denisedresbach commented on #563
@AlanSl
For Android, when I go thru the steps above I still see exactly the same results as I did before. I am on 1.1.0.52 still.
The 'Please turn on Bluetooth' message is still shown unless I restart the app.
Note: If I restart the app, turn off Bluetooth and start app I see the message to turn BT on. If I turn on BT and go back and sit and wait for a few seconds, I do eventually see the message

[2020-11-13 21:38] #564 closed, assigned to denisedresbach

[2020-11-16 23:12] denisedresbach commented on #562
Testing notes:

iOS
1. Update with symptoms - Verify symptom history is still there after update ---PASSED
Installed Previous build 1.0.2.51 and checked in with symptoms, after updating to 1.1.0.53 I still see my symptom history.
2. Uninstall and reinstall with symptoms - Verify that the symptoms are cleared when reinstalling ---PASSED
3. Update and try to disrupt multiple ways to verify symptoms

[2020-11-16 23:59] denisedresbach commented on #561
Verified fixed 1.1.0.53

[2020-11-16 23:59] #561 closed, assigned to denisedresbach

[2020-11-17 00:02] denisedresbach commented on #560
Verified fixed for Yiddish 1.1.0.53
For Arabic the link also works but the screen is in English. I will write up a ticket for that.

[2020-11-17 00:07] denisedresbach opened #572 "Some English seen when language set to Arabic"
App version: iOS Android 1.1.0.53
OS: iOS 14, Android 10
Device: iPhone SE, Pixel 3XL
Reproducible: Always

Summary: Some English seen when language set to Arabic

Steps to reproduce:
1. Launch app and go to settings
2. Change language to Arabic

Policy screen is in English when language set to Arabic
Delete Data has a few English words
![IMG_0419](https://user-images.githubusercontent.com/6999516

[2020-11-17 01:10] #560 closed, assigned to denisedresbach

[2020-11-17 16:18] AlanSl opened #573 "Add English to yi and ar language switcher text"

[2020-11-17 16:22] AlanSl commented on #572
@denisedresbach The first screenshot, that's what the translator provided us. I'll double-check but it seems legit reflecting things the user might see in English.

The second one means that the version you have isn't getting the translated text from the API - @colmharte are those migrations applied to the server these builds use?

[2020-11-17 18:45] denisedresbach commented on #565
Verified fixed 1.1.0.53

[2020-11-17 18:45] #565 closed, assigned to denisedresbach

[2020-11-17 19:42] denisedresbach commented on #555
Verified fixed 1.1.0.53

[2020-11-17 19:42] #555 closed, assigned to denisedresbach

[2020-11-17 20:49] denisedresbach opened #574 "Device is set to Arabic and App is in English when onboarding"
App version: Android 1.1.0.53
OS: Android 11
Device: Google Pixel 3XL
Reproducible: Always
Note: iOS worked as expected, on-boarding was not in English.

I tried setting my Android device language to Arabic so I can onboard with device already set.
Results: The app is still in English during onboard
Expected: App language should detect language and display in that language
See screenshot for the l

[2020-11-17 23:32] denisedresbach commented on #553
I have verified as much as I can by changing to Arabic language and viewing all screens, trying any links and bringing up confirmation messages and uploading/sharing IDs. Tested on both iOS and Android.
1.1.0.53. I have written up a few tickets where issues were found and will close this main ticket as done.

Issues written up-
Onboarding with Android device language set to Arabic shows in English

[2020-11-17 23:33] #553 closed, assigned to denisedresbach

[2020-11-18 05:43] denisedresbach opened #575 "Arabic/Yiddish: Once you get an exposure alert and try to delete data, the app does not start over properly"
App version: Android 1.1.0.53
OS: Android 11
Device: Google Pixel 3XL
Reproducible: Always

Summary:  App is in Arabic or Yiddish and I received an exposure alert. If I delete data to reset app it takes me to the first screen to onboard and then I see the exposure alert screen show up. At this point the app gets unstable sometimes freezes. I have to quit the app to get it to work again. If I am in

[2020-11-18 14:20] colmharte commented on #572
Migrations have now ben applied

[2020-11-18 14:20] #572 closed, assigned to colmharte

[2020-11-18 14:22] colmharte commented on #35
Closing this as not required at this stage

[2020-11-18 14:22] #35 closed, assigned to fiacc, colmharte

[2020-11-19 11:01] AlanSl commented on #574
Should be fixed in latest build

[2020-11-19 11:02] AlanSl commented on #573
In latest build

[2020-11-19 15:59] AlanSl commented on #562
@denisedresbach Do you have any Android devices used only for testing where you can add and remove Google accounts without any problems?

If so can you try this please on that one device:

 - Uninstall Covid Alert NY
 - Remove the Google account linked to the NYS beta testers program from the device in device accounts settings (if that was the only Google account either add a different one or set

[2020-11-19 16:02] AlanSl commented on #575
@denisedresbach When you have this problem, if you pull down the notification pane, is there a "Checking exposure keys" notification active, either when the app freezes up or after restarting the app?

[2020-11-19 16:36] denisedresbach commented on #575
@AlanSl Yes and I noticed it was checking exposure keys for a long time, over 20 mins at least. I can test again to get exact if you want.

[2020-11-19 16:44] AlanSl commented on #575
That's enough info thanks - if it's anything like what I've been seeing when I've successfully replicated this it'd be a very long wait (I often have to restart the phone). I should have enough info to fix this now but it'll be a tricky one.

[2020-11-19 16:45] AlanSl commented on #575
(also slightly off topic @denisedresbach but on that device do the device tabs always look like the screenshot above, with the icons cropped off, or is that only when this bug happens?)

[2020-11-19 17:03] denisedresbach commented on #575
@AlanSl No the screenshot with tabs seems to happen because I interact with it by swiping to the side as it loaded or when it loaded the exposure screen. If I don't touch it the tabs don't show up it just kinda seems stuck.

[2020-11-19 17:13] denisedresbach commented on #562
Hi @AlanSl I only have the one Android device and it is my personal device. The linked Google account is my main account unfortunately. Also, I thought if we go from public app to a test app it will make me re onboard. At least that is what I found with the other apps. I was told that was the reason. Is that not true for this one?

[2020-11-19 17:38] AlanSl commented on #562
Ah okay, didn't know that about switching types of app. In that case we can't test this beyond what I was doing locally which all worked fine so it should be fine to close this

[2020-11-19 18:06] denisedresbach commented on #573
verified 1.1.0.54

[2020-11-19 18:06] #573 closed, assigned to denisedresbach

[2020-11-19 18:07] #562 closed, assigned to denisedresbach

[2020-11-19 18:46] denisedresbach commented on #574
Verified fixed 1.1.0.54 Device in Arabic and install onboard is too

[2020-11-19 18:47] #574 closed, assigned to denisedresbach

[2020-11-20 23:01] denisedresbach commented on #575
Testing this out in 1.1.0.55 - The issue seems to be fixed, but I do see a bit of flashing screens going by as I wait for the I confirm screen. @AlanSl Is that something you would expect to happen?
[videoplayback.zip](https://github.com/covid-alert-ny/covid-green-app/files/5576559/videoplayback.zip)

Looks like the above happens with any language and doesn't matter if you have an alert. Maybe a li

[2020-11-21 00:36] denisedresbach opened #578 "When I search for Brooklyn in counties it doesn't show up even though it is in the list"
App version: 1.1.0.55
iOS and Android

1. Launch app and tap on counties
2. Search for Brooklyn

Results: No results found for this search. Try with something else.
Expected: Brooklyn is in the list for Kings county so I would expect it to show
Also, Is "Try with something else." the expected sentence here?

![2020-11-20](https://user-images.githubusercontent.com/69995161/99862415-898b8e00-2b4e-11

[2020-11-24 18:42] denisedresbach opened #583 "Unable to test upload and share close contact codes: There was an error validating the code. Please try again"
Summary: I am getting an error after entering codes (iOS and Android build 56). There was an error validating the code. Please try again

App version: 1.1.0.56 iOS and Android

1. Launch app and go to My COVID Alerts
2. Share Your Close Contact Codes - enter a valid or invalid code
Results: There was an error validating the code. Please try again

[2020-11-24 21:34] AlanSl commented on #583
Fixed in 1.1.0.57?

[2020-11-24 21:35] AlanSl commented on #578
Should be fixed in 1.1.0.56

[2020-11-24 21:35] AlanSl commented on #575
Should be fixed in 1.1.0.56 (including the flashing issue, should be much cleaner now)

[2020-11-24 21:37] AlanSl commented on #563
Android issue should be fixed in 1.1.0.56

iOS issue: we'd need to go through a process to get wording approval, translations etc, might be possible for next release but also iOS side might change so it'd be good to separate that out as a backlog issue.

[2020-11-24 22:00] denisedresbach commented on #583
Verified this is fixed 1.1.0.57 iOS and Android

[2020-11-24 22:00] #583 closed, assigned to denisedresbach

[2020-11-24 22:27] #578 closed, assigned to denisedresbach

[2020-11-24 22:28] denisedresbach commented on #578
Verified 1.1.0.57 Brooklyn comes up in search now. I also tested this in Large display/font.

[2020-11-24 22:36] denisedresbach commented on #575
1.1.0.57 This looks a lot better now! Testing iOS and Android
RTL and LTR

[2020-11-24 23:04] #575 closed, assigned to denisedresbach

[2020-11-24 23:13] denisedresbach commented on #563
Verified 1.1.0.57 This is fixed for Android. Now I can turn Bluetooth on and the message is cleared.
I turn on Closeness and all is right.

I will create a new ticket for iOS.

[2020-11-24 23:19] denisedresbach opened #585 "iOS- Installing with Bluetooth off and not allowing notifications can get a user into a confusing place"
App version: iOS 1.1.0.57
OS: iOS 14
Device: iPhone SE
Reproducible: Always

Copied from Installing with Bluetooth off and not allowing notifications can get a user into a confusing place #563

Summary: iOS- Installing with Bluetooth off and not allowing notifications can get a user into a confusing place

For iOS- Attempting to enable the settings by trying to follow the instructions is not worki

[2020-11-24 23:21] #563 closed, assigned to denisedresbach

[2020-11-26 00:18] denisedresbach opened #586 "Invalid codes: Shouldn't it validate before letting me share?"
App version: Android and iOS 1.1.0.57
OS: Android 11 iOS 14
Device: Google Pixel 3XL iPhone SE
Reproducible: Always

Summary: User is allowed to share if they enter an invalid code, which results in an error occurred message

Steps to reproduce:
1. Launch app and go to My COVID Alerts > What to do if you test positive > Share codes
2. Enter invalid code and tap next

Results: An error occurred try

[2020-12-14 04:01] phindmarsh commented on #575
This is likely totally unrelated, but in New Zealand we just released an update include EN and users are reporting the "Checking exposure keys" notification hanging around persistently. This is the only other issue I've found reporting a similar thing, although not in the same context.

@AlanSl did you manage to create any conditions that cause that "checking exposure keys" notification to show up

[2020-12-15 10:00] AlanSl commented on #575
Hi @phindmarsh, thanks for getting in touch. Do you have an issue tracking this on the NZ app repo? If you do (or if you can open one) can you ping me in it please, and I'll share anything relevant that I find.

On that issue on the NZ repo, it would be good to see in particular if you have any information about when users are seeing this - for example, is it the first time they open the app after

[2020-12-16 19:50] denisedresbach opened #594 "Clicking link with code doesn't get entered into app if user left app with invalid code"
App version: Android 1.1.1.61 (unable to test on iOS at this time)
OS: Android 11
Device: iPixel 3XL
Reproducible: Always

Summary: Clicking link with code doesn't get entered into app if user left app with invalid code

Steps:
1. Open app and go to My COVID Alerts > What to do if you test positive > Share your close contact codes
2. Enter an invalid code and don't exit the app
3. Send a new code

[2020-12-16 22:23] denisedresbach opened #595 "NY COVID Data: latest date is Dec 7 on all the graphs"
App version: Android 1.1.1.61 iOS 1.1.1.60
OS: Android 11
Device: iPixel 3XL
Reproducible: Always

Summary: NY COVID Data: latest date is Dec 7 on all the graphs

Steps:
Open app and go to NY COVID Data tab
Look at each graph

Results:  Latest date is Dec 7 on all the graphs
Expected: Today is Dec 16th so I would expect at least Dec 15th
![2020-12-16](https://user-images.githubusercontent.com/6999

[2020-12-16 23:01] denisedresbach opened #596 "Changing from RTL to LTR shows the exposure alert"
App version: Android 1.1.1.61
OS: Android 11
Device: Pixel 3XL
Reproducible: Always

Summary: Changing from RTL to LTR shows the exposure alert

Steps:
1. Launch app and go to Settings > Debug
2. Simulate exposure and view notification alert
3. Go to Settings > Language
4. Change from English to Arabic and watch the screen for a few seconds

Results: Language changes as desired, but after a few se

[2020-12-16 23:27] denisedresbach opened #597 "Share close contact codes results in "An error occurred trying to upload""
App version: Android 1.1.1.61, iOS 1.1.1.60
OS: Android 11, iOS 14.2
Device: Pixel 3XL, iPhone SE
Reproducible: Always

Summary: Share codes results in "An error occurred trying to upload"

Steps:
Launch app and go to My COVID Alerts and Share a code
Results: Once you enter the code and share an error is seen
 "An error occurred trying to upload"
The error shows up right after I say ok to Share
no

[2020-12-16 23:34] denisedresbach commented on #586
I think we can close this now ? @AlanSl

[2020-12-17 01:30] denisedresbach commented on #596
I also see this happen if - I get an exposure alert (using simulator), complete original steps above, delete data and without restarting the app I onboard and change language again. The exposure alert pops up but this time with no date.
Workaround is to delete data, restart app completely, onboard and then change language.

[2020-12-17 01:36] denisedresbach opened #598 "Share email has duplicate lines in the body"
App version: iOS 1.1.1.60
OS: 14.2
Device: iPhone SE
Reproducible: Always

Summary: Share email has duplicate lines in the body. I saw this in PA app yesterday too

Steps:
1. Launch app (iOS) and tap share icon
2. Tap Gmail icon to share by mail
Results:

Subject-
Help keep your fellow NYers safe from COVID-19 by flattening the curve. Get the COVID Alert NY app:

Body of email-
Help keep your fell

[2020-12-17 20:04] denisedresbach opened #600 "The second time a link is clicked results in no numbers displayed - desired behavior?"
App version: Android 1.1.1.61 (unable to test on iOS at this time)
OS: Android 11
Device: Pixel 3XL
Reproducible: Always

Summary: Click link with code and open with app, go back a screen in the app and click link again results in no numbers displayed

Steps:
1. Send a code to your phone where app is installed
2. Tap link with code in text and open in app
3. Screen opens "Share Your Close Contact

[2020-12-17 20:31] denisedresbach opened #601 "App installed but not registered is not very smooth to start"
App version: Android 1.1.1.61 (unable to test on iOS at this time)
OS: Android 11
Device: Pixel 3XL
Reproducible: Always

Summary: Tap link when app is installed, but not registered. First the code screen shows up real quick and then a double load of onboard screen. Once user registers should the code screen show up? User now has to go back and tap link again or find the place to enter the code an

[2020-12-18 01:56] denisedresbach opened #602 "Delete Data instructions for iOS need to be updated"
App version: iOS 1.1.1.60
OS: 14.2
Device: iPhone SE
Reproducible: Always

Summary: Delete Data instructions for iOS seem wrong

Steps:
1. Launch app on iOS
2. Go to Settings > Delete Data and read instructions

Results: Instructions say to search for Exposure logging, but if I follow those instructions I get stuck right there.
I believe the text needs updating.

![image_123986672 (6)](https://use

[2020-12-18 14:46] AlanSl commented on #598
@denisedresbach Is this a new development? We haven't changed the code around this and I'm sure we tested iOS sharing in Gmail before. I've investigated and the same thing happens even if we use a completely different sharing library (`react-native-share`) and several different configurations, and I've seen some reports of other apps having issues sharing to Gmail on iOS recently so I wonder if it

[2020-12-18 14:49] AlanSl commented on #586
Yes if you're happy with it @denisedresbach

[2020-12-18 14:49] #586 closed, assigned to floridemai, AlanSl

[2020-12-18 16:30] AlanSl commented on #601
Will be in the build after https://github.com/covid-alert-ny/covid-green-app/pull/603 is merged.

Does both parts:

- **Glitchy re-navigation**: is caused by trying and failing to validate the code while unregistered - I've fixed that.
- **Applying the code after registartion**: The case of a user getting a diagnosis SMS and opening it in the app while unregistered is rare but probably worth handl

[2020-12-18 16:31] AlanSl commented on #594
Should be fixed in next build

[2020-12-18 16:54] AlanSl commented on #596
@denisedresbach  Does this definitely only happen when there is a valid, active exposure alert, and only after pressing a notification, and only on Android?

If yes to those, I know what this is, I saw it while working on the RTL feature. It'd be a lot of delicate and potentially risky work to stop this happening because it's a result of the way the exposure alert status is stored in the Android a

[2020-12-18 18:52] denisedresbach commented on #598
@AlanSl I believe it is new. I do not recall seeing this before. Perhaps it is iOS Gmail. Android works fine.

[2020-12-18 19:15] denisedresbach commented on #596
@AlanSl Yes, this appears to only happen once you press notification on an alert.
I tried changing the language both before an alert and after an alert without pressing notification. For both of these I do not see the exposure alert after changing the language. Once I press the notification and then change language, it shows that alert.

I am not able to reproduce this on iOS only Android.

It doe

[2020-12-22 19:09] denisedresbach commented on #601
@AlanSl I don't think I have this merge yet. I tested same steps and it seems to be acting the same as it was.
Android build 1.1.1.62

[2020-12-22 19:44] denisedresbach commented on #594
@AlanSl Tested this out on Android build 1.1.1.62
Now it shows the invalid error for a second and then enters the new number and allows the user to continue.
I will leave this here in backlog until it is ready for QA column.

[2021-01-06 11:25] AlanSl commented on #594
@denisedresbach It's ready, feel free to close if you're happy it's fixed

[2021-01-06 13:45] AlanSl commented on #601
This was merged 4th Jan so should be in build 63 when that goes out.

[2021-01-06 13:46] #596 closed, assigned to denisedresbach

[2021-01-06 13:49] AlanSl commented on #595
The data seems to come through fine on `prd` so it looks like this is just something like the QA server stats lambda not having been run.

@dgonzalez Can you please confirm that this is QA env only and not something we need to do anything about, and close or fix accordingly

[2021-01-06 13:51] AlanSl commented on #597
@denisedresbach Do you still see this with valid codes after the recent validation changes?

[2021-01-06 14:26] AlanSl commented on #585
@hizo There's some discussion here https://github.com/covid-alert-ny/covid-green-app/issues/563 - I think this just needs an update to the instructions

[2021-01-06 14:59] AlanSl opened #607 "Cache app settings and data and use when offline"
@denisedresbach this is already done in https://github.com/covid-alert-ny/covid-green-app/pull/605 and will be in the next build (63?), if it is working then the user-visible change should be:

 - If the app has been opened then is re-opened while the server is unavailable (e.g. no internet):
   - On the dashboard, the charts would show with data cached from last time the app is open instead of be

[2021-01-06 15:40] AlanSl commented on #600
@denisedresbach I can't replicate this currently, maybe it was fixed by one of the other bug fixes (probably same as https://github.com/covid-alert-ny/covid-green-app/issues/594 if so). If you can still replicate this when build 63 becomes available, can you please post a video?

[2021-01-06 18:21] denisedresbach commented on #597
@AlanSl I do still see this error. Tested with latest build 1.1.1.63 on iOS and Android. (8 digits)

Colm Harte  10:44 AM
this is an APHL config issue so is expected to fail

[2021-01-06 23:04] denisedresbach commented on #600
@AlanSl I will try to test this again once I can get links to my phone again. Is there a way to get a link other than sending to an actual phone?

[2021-01-06 23:05] denisedresbach commented on #601
I cannot test this until I am able to send links to phone again.

[2021-01-06 23:14] denisedresbach commented on #594
I will retest once I can click on links again.

[2021-01-06 23:28] denisedresbach commented on #602
Verified fixed in build 1.1.1.63

[2021-01-06 23:34] denisedresbach commented on #602
@hizo @AlanSl
Minor thing I noticed. The instructions are good now. However, the last sentence says "To stop storing new codes, you should turn off "Exposure Logging". Is this correct? Should it tell you to turn off Exposure Notifications instead of Logging?

[2021-01-06 23:57] denisedresbach commented on #585
Verified new instructions 1.1.1.63

[2021-01-06 23:57] #585 closed, assigned to denisedresbach

[2021-01-07 01:41] denisedresbach commented on #607
@AlanSl When I disconnect from the network and reopen the app or refresh the app that is open, I no longer see the message that tells me to check my internet connection. Is that expected now with this change?
1.1.1.64

[2021-01-07 09:20] AlanSl commented on #600
@denisedresbach Sure, put a link in any app that presents it as a pressable link. For example if you open this page in a browser you should be able to press these:

6 character: https://us-ny.en.express/v?c=123ABC
8 character: https://us-ny.en.express/v?c=1234ABCD
16 character: https://us-ny.en.express/v?c=1234ABCD5678EFGH

Another easy way is to type / paste the link into a note in Google Keep or

[2021-01-07 13:02] hizo commented on #602
Correct @denisedresbach , will fix.

[2021-01-07 18:16] denisedresbach commented on #600
@AlanSl thanks for the info again
I was able to reproduce the original issue. It seems the important part is that it has to be a valid code.
I did it first with an invalid code and I get the invalid message each time.

https://user-images.githubusercontent.com/69995161/103929570-59825500-50d2-11eb-89c7-1ecf87977847.mp4

[2021-01-07 18:49] denisedresbach commented on #594
Tested this one again and still looking good. 1.1.1.63 Android

[2021-01-07 18:49] #594 closed, assigned to denisedresbach

[2021-01-07 19:17] denisedresbach commented on #601
Verified with 1.1.1.63 - Glitch is resolved and now after onboarding the code is entered. Tested Android only.

[2021-01-07 20:17] #601 closed, assigned to denisedresbach

[2021-01-18 19:45] AlanSl opened #612 "Add a submit button to code upload screen"
Done in https://github.com/covid-alert-ny/covid-green-app/pull/611

- User should be able to input a code and press a button to manually have it validated (e.g. to explicitly see if a 6-digit code was invalid or inputted incorrectly)
- If a user enters a valid code it should validate itself automatically without interrupting the user (to be sure we're not introducing any usability obstacles to use

[2021-01-19 01:51] denisedresbach opened #613 "iOS: Should I be allowed to add numbers in different language?"
App version: iOS 1.1.1.64
OS: 14.2
Device: iPhone SE
Reproducible: Always

Summary: iOS: Should I be allowed to add numbers in different language?

Steps:
I have a button on my keyboard that lets me switch to different language
1. Launch app and go to My COVID Alerts
2. What to do if tested positive > Share you close contact codes
3. Tap box to type in numbers
4. In the lower left there is a butto

[2021-01-19 01:59] denisedresbach opened #614 "iOS: Clicking links on iPhone asks me what browser to open and doesn't have the app available to choose from"
App version: iOS 1.1.1.64
OS: iOS 14.2
Device: iPhone SE
Reproducible: Always

Summary: iOS: iOS: Clicking links on iPhone asks me what browser to open and doesn't have the app available to choose from

Steps:
1. Send a link with code to iPhone
2. Tap link

Results: I am asked what browser I want to open the link with and if I choose one I get a message that says unable to verify link
Expected: On

[2021-01-19 02:06] denisedresbach opened #615 "If app is not installed and I click on link with code, it takes me to turning on exposure notifications"
App version: 1.1.1.64
OS: iOS 14.2, Android 11
Device: iPhone SE, Pixel 3 XL
Reproducible: Always

Summary: If app is not installed and I click on link with code it takes me to turning on exposure notifications. I assume this is out of our control at this point. Maybe the text can have a message in it that tells them what to do if they haven't installed?

Current text I receive:
Your Exposure Noti

[2021-01-19 02:12] denisedresbach opened #616 "Message on Share close contact screen says enter the 8-digit number, Is this ok since we can enter 6 and it is 16 from link?"
App version: 1.1.1.64
OS: iOS 14.2, Android 11
Device: iPhone SE, Pixel 3 XL
Reproducible: Always

Summary: Message on Share close contact screen says enter the 8-digit number, Is this ok since we can enter 6 and it is 16 from link?

![2021-01-18](https://user-images.githubusercontent.com/69995161/104979243-a3afe400-59b8-11eb-8c17-9f0002027984.png)

[2021-01-19 02:19] denisedresbach opened #617 "Better message for attempting to share codes when device is offline"
App version: 1.1.1.64
OS: iOS 14.2, Android 11
Device: iPhone SE, Pixel 3 XL
Reproducible: Always

Summary: If user is offline and tries to share a code, the message says there was an error instead of telling them they are offline

Steps:
1. Put phone into airplane mode
2. Open app and try to share a close contact code

Results: There was an error validating your code. Please try again.
Expected:

[2021-01-19 02:20] denisedresbach opened #618 "TalkBack and VoiceOver issues with sharing code"
App version: 1.1.1.64
OS: iOS 14.2, Android 11
Device: iPhone SE, Pixel 3 XL
Reproducible: Always

Summary: Here is a list of issues I ran into with VoiceOver and TalkBack when looking at https://github.com/covid-alert-ny/covid-green-app/issues/612

Screen- Share Your Close Contact Codes with Screen Reader enabled

1. Android/iOS - when first accessing this screen, the screen reader goes straight

[2021-01-19 02:51] denisedresbach commented on #602
Verified fixed 1.1.1.64

[2021-01-19 02:51] #602 closed, assigned to denisedresbach

[2021-01-19 02:55] denisedresbach commented on #612
Testing status for NY app with https://github.com/covid-alert-ny/covid-green-app/issues/612
I have a few questions and wrote up a few tickets in backlog.
?'s
I can test codes from Postman that are 8 characters and from text that are 16 (numbers and letters). Is there a way for me to get a 6 digit code that is valid?
I can only add up to 8 characters when sharing a code. The test I receive has 16 n

[2021-01-19 17:05] AlanSl commented on #614
This will be the case until APHL upload a validation file to their server. I don't know when that will happen and don't have visibility on that - @colmharte can you re-open this for testing when it's done?

[2021-01-19 21:41] denisedresbach opened #621 "When display is large, is it possible to make the codes easier to read ?"
iOS 1.1.1.64
Accessibility Display size set to largest

6 or 8 characters: I can see the first 4 and it is difficult to navigate to see the full set. Not sure if anyone will want to do this, but just something I wondered about.

![image_123986672 (16)](https://user-images.githubusercontent.com/69995161/105096012-53d62900-5a5b-11eb-9e45-a2c197378bb8.JPG)

16 characters: This doesn't show all the nu

[2021-01-20 01:32] denisedresbach commented on #614
This was resolved 1/19/21. I will test and close with new build to be sure.

[2021-01-20 01:45] denisedresbach opened #622 "No longer see the internet connection message when offline"
Separating from https://github.com/covid-alert-ny/covid-green-app/issues/607 so it doesn't get lost

When I disconnect from the network and reopen the app or refresh the app that is open, I no longer see the message that tells me to check my internet connection. Is that expected now with this change?
1.1.1.64

[2021-01-20 09:14] AlanSl commented on #622
This should already be fixed in https://github.com/covid-alert-ny/covid-green-app/commit/e4c2b8da171279962733a75905e5ced4cabfae7a which came after the previous build before today's new build(s).

There is a small change of behaviour though - the error only shows when the app tries to load some data (matching the dashboard message wording, "We were not able to load some of the data correctly"). Pre

[2021-01-20 10:17] AlanSl commented on #615
For me, if the app's not installed, on both Android and iOS the link opens the Play Store or App Store entry for Covid Alert NY.

@colmharte do you know if there difference might be geographical e.g. if @denisedresbach  is in a region where en-express is active and I'm not? Either way I'm not sure if this is under our control?

[2021-01-20 10:25] AlanSl commented on #613
In the latest build, other script numbers will be allowed, but the codes will not contain them so it's not something the user would need to do.

The important thing is, if the device is set to Arabic and defaults to Arabic numbers, can you switch to and input western-style numbers?

[2021-01-20 10:48] AlanSl commented on #600
Ahh, I think this is by design.

The code has been validated and saved securely in the app, so all the user needs to do is press next to proceed. This behaviour has been set to be like this with a special status `uploadOnly` for when the code is already validated that doesn't show the input box. It behaves the same as if a user entered the code manually then pressed back.

@colmharte Can you pleas

[2021-01-20 10:51] AlanSl commented on #618
Should all be fixed in the next build. We can't fine control how TalkBack responds to reaching the end of input but the behaviour will be different now and overall should be smoother.

[2021-01-20 12:56] AlanSl commented on #617
Should be fixed in the next build

[2021-01-20 12:57] AlanSl commented on #621
Should be fixed in the next build

[2021-01-20 13:02] AlanSl commented on #616
This depends on whether there will be a a period when the new release is out but 6-digit codes are still being dispatched: @colmharte ?

[2021-01-20 13:03] colmharte commented on #600
This is correct behaviour

[2021-01-20 13:16] AlanSl commented on #600
@denisedresbach Feel free to close this then if you're happy with everything else on this issue

[2021-01-20 13:31] AlanSl commented on #615
@denisedresbach  Discussed with Colm on Slack - sounds like this is out of our control and not-wrong behaviour, but I'm curious about why it's different on yours to mine. My hunch is that it's because of EN Express availability in your region: for you it recognises that you can enable EN Express and tries to start that, and doesn't for me since that's not available here.

- Does it go to settings

[2021-01-20 14:10] AlanSl commented on #616
We discussed this on Slack - there might be a two-week period where the new app is out and 6-digit codes are still being issued so it'll say "6 to 8 digit" then this will switch to "8-digit" when we disable 6 digit codes from the server. Only in English since the timing doesn't work for getting translations.

Wording tweak should be in the next build.

No need to mention 16 digit codes since we're

[2021-01-20 18:31] #614 closed, assigned to denisedresbach

[2021-01-20 18:37] denisedresbach commented on #622
Verified now I get Connection message: Please check your internet connection and try again. 1.1.1.67

[2021-01-20 18:37] #622 closed, assigned to denisedresbach

[2021-01-20 18:43] denisedresbach commented on #617
Verified 1.1.1.67
Message now says: Connection issue. Please check your internet connection and try again.
Tested both links and manual.
Saw some minor issues and I can write those up for future.

[2021-01-20 18:43] #617 closed, assigned to denisedresbach

[2021-01-20 19:55] denisedresbach opened #627 "User can get stuck with a spinner when trying to share codes offline and then online"
App version: 1.1.1.67
OS: iOS 14.2
Device: iPhone SE
Reproducible: Always
Testing: https://github.com/covid-alert-ny/covid-green-app/issues/617

Summary: If user is offline, taps link with code, fixes connection issue and taps link again, they will get stuck on the share your codes screen with a spinner.

Steps:
Get code with link
Take device offline ( I put in airplane mode)
With app completely c

[2021-01-20 19:58] denisedresbach commented on #600
@AlanSl ok great thanks!

[2021-01-20 19:58] #600 closed, assigned to denisedresbach

[2021-01-20 20:06] denisedresbach commented on #616
Verified it now says: "Please enter the 6 or 8 digit number that the public health representative has given you over the phone or texted to you:"

[2021-01-20 20:06] #616 closed, assigned to denisedresbach

[2021-01-20 21:58] denisedresbach commented on #621
1.1.1.67

![2021-01-20 (1)](https://user-images.githubusercontent.com/69995161/105246103-a11fcc80-5b27-11eb-9a2f-e7e92f39d0a5.jpeg)
![2021-01-20](https://user-images.githubusercontent.com/69995161/105246105-a250f980-5b27-11eb-8954-ed6104cbb163.jpeg)

[2021-01-20 22:04] #621 closed, assigned to denisedresbach

[2021-01-20 22:09] denisedresbach opened #628 "Android: Display/Font is set to largest results in keyboard covering the code text field a little"
App version: 1.1.1.67
OS: Android 11
Device: Pixel 3 XL
Reproducible: Always

Summary: Android: Display/Font is set to largest results in keyboard covering the code text field a little

Steps:
1. Set device and font size to largest in Accessibility menu
2. Open up app and go to My Covid Alerts and start typing

Results: keyboard covers up the text field some

![2021-01-20](https://user-images.gith

[2021-01-20 22:15] denisedresbach opened #629 "Is this desired behavior? First 8 characters shows number keypad and as you go past 8 it changes to full keyboard"
App version: 1.1.1.67
OS: Android 11 iOS 14.3
Device: Pixel 3 XL iPhone SE
Reproducible: Always

Summary: Is this desired behavior? First 8 characters shows number keypad and as you go past 8 it changes to full keyboard

Steps:
1. Open app and go to My COVID Alerts
2. Go to Share codes and start entering codes
= Number keypad is shown
3. Go beyond 8 characters

Results: Changes to full keyboard af

[2021-01-20 22:47] denisedresbach commented on #613
@AlanSl Yep I can get to western style number keyboard when device is in Arabic - after 8 characters I get the full keyboard

[2021-01-20 22:47] #613 closed, assigned to denisedresbach

[2021-01-20 22:53] denisedresbach opened #630 "Pasting codes from text results in invalid code (changes it to all caps when I paste) and I cannot type them out"
App version: 1.1.1.67
OS: Android 11 iOS 14.3
Device: Pixel 3 XL iPhone SE
Reproducible: Always

Summary: Now that we allow typing 16 characters or pasting the 16 characters I am running into a couple of issues:

1. If I copy paste just the code from SMS and submit, it is invalid - Perhaps the reason is because once I paste it makes it all caps? When I do it by the link it is lowercase and is ok w

[2021-01-21 00:04] denisedresbach commented on #618
Smoother now 1.1.1.67 but I have comments below. @AlanSl

Original list of issues from above
1. PASSED iOS and Android - now reads heading first and not text field
2. This hasn't changed but hopefully with a valid code it will just move to next item? I don't have access to valid codes that I can type in right now so I cannot fully test.
3. PASSED iOS and Android - I can now skip to next button and

[2021-01-21 01:51] denisedresbach opened #631 "Subject for feedback emails says version [object Object]"
App version: 1.1.1.67
OS: iOS 14.2, Android 11
Device: iPhone SE, Pixel 3 XL
Reproducible: Always

Summary: Subject for feedback emails says version [object Object]

1. Launch app and go to Settings > Submit Feedback
2. Tap one of the type of feedback buttons

Results: "Version [object Object]" is seen in the subject

![2021-01-20 (4)](https://user-images.githubusercontent.com/69995161/105268931-e

[2021-01-21 02:01] denisedresbach commented on #607
1.1.1.67
I can verify that the old data and data policy shows when offline.  I cannot verify if when coming back online, that the new data refreshes. This is because of #595.

[2021-01-21 10:18] AlanSl commented on #615
Okay so based on Slack discussion it looks like the difference is that you're in a location with EN Express. So it looks like this is just the expected system behaviour and we can close this

[2021-01-21 15:36] AlanSl commented on #618
@denisedresbach I can't replicate the issue with the error not being read on iOS, for me it's the same as Android, after a moment it focuses and reads the error, see video here:

https://share.icloud.com/photos/0dDnYitNDXngI2KBZP4BZpoxg

What does it do for you exactly, and are you doing anything different on entering the code?

[2021-01-21 15:56] denisedresbach commented on #618
@AlanSl Try entering 6 codes and then ok. Does it read the error then?

[2021-01-21 16:00] AlanSl commented on #618
@denisedresbach Yes, and 8 digits is the same

[2021-01-21 16:10] denisedresbach commented on #618
https://user-images.githubusercontent.com/69995161/105379513-c19c6500-5bc1-11eb-9456-c32e62d7b335.mp4

@AlanSl I type 6 or 8 char and then **swipe right** to go to the ok button. Then I double tap to say ok.

[2021-01-21 16:52] AlanSl commented on #627
I can't seem to replicate this one either but in https://github.com/covid-alert-ny/covid-green-app/pull/633 I've added a couple of things that should make sure the spinner always gets hidden if anything strange happens.

[2021-01-21 16:55] AlanSl commented on #618
It's possible that the change in keyboard type did it, let's test this again in the next build.

[2021-01-21 17:06] AlanSl commented on #630
In next build

[2021-01-21 17:07] AlanSl commented on #631
In next build

[2021-01-21 17:09] AlanSl commented on #629
There isn't really any good option here, but as a least-worst option I've set it to always show alphanumeric keyboard.

[2021-01-21 17:09] AlanSl commented on #628
Should be fixed in next build.

[2021-01-21 18:36] denisedresbach commented on #595
As of 1.1.1.69 I see this is now updated. shows up to Jan 19 now.

[2021-01-21 18:39] denisedresbach commented on #631
Verified 1.1.1.69

[2021-01-21 18:39] #631 closed, assigned to denisedresbach

[2021-01-21 18:43] denisedresbach commented on #627
This has to be tested with a valid code so I will test once that is available to me.  (invalid code doesn't have the same results)

[2021-01-21 21:02] denisedresbach commented on #618
1.1.1.69 tested with a couple issues still coming up for me. I am going to close this and write them up separately

- [x]  - Verify reads heading first and not text field
- [x] Enter max amount of characters -
        Android -when entering a valid code it says "keyboard hidden" Better for it to tell user it was accepted, workaround is to read the screen back to get new info and move to next
**---

[2021-01-21 21:15] denisedresbach commented on #627
@AlanSl
I have valid codes now to test and I can repro this still. When I go offline and tap the link I am getting link from my email. I don't have SMS on this iPhone.
Important parts to note: Make sure app is completely closed when you tap on the link the first time.
iOS only Android works fine

Note:
I couldn't repro this issue when I click on the link while offline from a hangouts message. My p

[2021-01-21 21:16] denisedresbach commented on #629
1.1.1.69 I always get the full keyboard now.

[2021-01-21 21:16] #629 closed, assigned to denisedresbach

[2021-01-21 21:27] denisedresbach commented on #630
Verified 1.1.1.69 Android and iOS- I can paste the code in and type it out. One small thing that could be a problem is when I type in iOS the first letter is uppercase when it needs to be lower. You can back up and fix it though.

[2021-01-21 21:27] #630 closed, assigned to denisedresbach

[2021-01-21 21:31] denisedresbach commented on #628
Verified 1.1.1.69 Now I can scroll to see the full text field iOS and Android

[2021-01-21 21:31] #628 closed, assigned to denisedresbach

[2021-01-21 21:35] denisedresbach commented on #612
1.1.1.69 Tested this over multiple builds and continuing to close tickets.
The main points here are complete.
Enter valid 8 or 16 characters and it auto validates it.
If invalid you press the button and it will tell you it is invalid.
Testing was done on different sizes and with screen readers from Android and iOS - some VoiceOver issues are left open

Regarding my questions above:
I can only do 8

[2021-01-21 21:35] #612 closed, assigned to denisedresbach

[2021-01-21 22:50] #618 closed, assigned to denisedresbach

[2021-01-21 23:47] denisedresbach opened #634 "My COVID Alerts in Settings: If Bluetooth or Exposure notifications are disabled the Turn On button appears but doesn't do anything"
App version: 1.1.1.69
OS: Android 11
Device:  Pixel 3 XL
Reproducible: Always

Summary: My COVID Alerts in Settings: If Bluetooth or Exposure notifications are disabled the Turn On button appears but doesn't do anything ---Update- It doesn't do anything for Bluetooth. In the case of Exposure notifications, it does turn it on, but the button stays as "Turn on" so it looks like nothing happened.

St

[2021-01-22 01:26] denisedresbach opened #635 "List of issues seen with VoiceOver and TalkBack while testing 1.1.1.69"
App version: 1.1.1.69
OS: iOS 14.2, Android 11
Device: iPhone SE, Pixel 3 XL
Reproducible: Always

Summary: List of issues seen with VoiceOver and TalkBack while testing 1.1.1.69

iOS
Screens that have links to testing sites and phone numbers - some are not called out as links and some don't actually do anything when double tapped. Found on page after checking in on the Thank you screen with sympt

[2021-01-22 02:15] denisedresbach commented on #634
![2021-01-21 (1)](https://user-images.githubusercontent.com/69995161/105436742-95f69a80-5c14-11eb-81f1-4c28aad25c1d.png)

[2021-01-22 11:05] AlanSl commented on #635
IOS:

- _"Contact a health care provider reads as paragraph and cannot tap to dial"_ - **Can't replicate**, the text "Contact a health care provider" is just bold text and the phone number below does work as a link and offers to call
- _"For NYC: Call the Test & Trace paragraph same as above"_ - **Can't replicate**, same as above, the text is just text but the number works as a telephone link
- _"

[2021-01-22 12:26] AlanSl commented on #635
Android:

- _"Share code screen- When you tap the number do you want it to read back like a full number? Example for code 123456 is read as 123 thousand 4 hundred 56."_ This is not something we can control like we can with the tel links because it's system behaviour to read the text input value and apply default assumptions about how to read it, it's not something we can control unfortunately, acc

[2021-01-22 17:22] denisedresbach commented on #607
1.1.1.69 iOS - I left my phone in airplane mode overnight. When it went offline the data was up to Jan 19th. Next day I see Android has Jan 20th so I put iPhone back online and refreshed the screen a few times. I still see Jan 19 as latest date. I tried quitting app and starting up again and it still doesn't refresh for me. I updated to 1.1.1.71 and now it says Jan 20.

[2021-01-22 18:11] denisedresbach commented on #634
Testing in 1.1.1.71

**Android**

1. Bluetooth off =

Update settings button seen in **Settings > My COVID Alerts** with message that Closeness Sensing is currently inactive Please turn on Bluetooth...
Button opens up device settings for Exposure Notifications and I can turn on Bluetooth there.
Once on and I go back to app the message shows active.

Go to Settings button seen in **My COVID Alerts

[2021-01-22 21:59] denisedresbach commented on #635
@AlanSl I always try to put iOS version and device at top of all bugs if you ever need that info.
OS: iOS 14.2
Device: iPhone SE
My VoiceOver settings should be default - Anything in particular I should look for?

As far as reproducing I am at a loss here. I am looking at this now with latest build 1.1.1.71 and it is working fine for the first couple of issues. Perhaps there is a fix in now that m

[2021-01-22 22:36] denisedresbach commented on #635
Update: Seeing the same issues on Android that were reported on iOS. After trying a few different times now it works as expected!

Earlier I was able to see the issue in Android with TalkBack where it would lump these links and phone numbers in with a paragraph and would not allow me to click on them any longer. Now it is working as expected and I can select everything. Perhaps this has to do with

[2021-01-25 09:43] AlanSl commented on #635
Sounds like what's happening is the content is showing with the screen reader disabled, then the screen reader is enabled and it's not re-rendering with split paragraphs as it would with the screen reader enabled when the screen is loaded. Can you confirm that everything works fine if the user has the screen reader enabled from the start?

If so we can mark this as valid but low priority. I recent

[2021-01-25 18:19] denisedresbach commented on #607
1.1.1.71 iOS shows old data if offline and updates after being put back on.
I disconnected the iPhone Friday evening from the internet by putting in airplane mode. Data was showing Jan 21 and as it was offline for a couple days it still showed the data for 21st. Monday 25th I put it back online and refreshed the data screen. Results are that it updated to latest Jan 23rd. I cannot test this on And

[2021-01-25 18:19] #607 closed, assigned to denisedresbach

[2021-01-25 19:46] denisedresbach commented on #635
@AlanSl Looking over 1.1.1.71 - Yep confirmed. If I set VoiceOver on and then open app I am not seeing the issues reported here.
The one issue that I can reproduce all of the time is when I go to the Find testing site link, I get stuck in the browser on iOS. I believe you could not reproduce that one and it wasn't under your control?

[2021-01-25 19:53] #615 closed, assigned to denisedresbach

[2021-02-01 17:34] denisedresbach opened #638 "Settings / My Covid Alerts on iOS, the Turn on Bluetooth message is displayed even when Bluetooth is on"
App version: iOS 1.1.1.72
OS: iOS 14.4
Device:  iPhone SE
Reproducible: Always

Summary: Settings / My Covid Alerts on iOS, the Turn on Bluetooth message is displayed even when Bluetooth is on

![2021-02-01](https://user-images.githubusercontent.com/69995161/106495678-da820180-6470-11eb-8dc0-0a30510066ab.jpeg)

[2021-02-03 01:44] #634 closed, assigned to AlanSl

[2021-02-03 01:46] denisedresbach commented on #597
Eventually I was able to upload so I think this can be closed now.

[2021-02-03 01:46] #597 closed, assigned to fiacc, colmharte

[2021-02-03 01:48] denisedresbach commented on #638
Closing here since I moved it to the new board https://trello.com/c/6eS1OH0v

[2021-02-03 01:50] denisedresbach commented on #595
This was resolved

[2021-02-03 01:50] #595 closed, assigned to dgonzalez, AlanSl

[2021-02-12 16:43] AlanSl commented on #638
@denisedresbach That Trello board is private and this repo is public and open source so it's best to keep an open equivalent issue here until the issue is fixed

[2021-02-12 16:45] AlanSl commented on #635
@denisedresbach What's the status here? I think we discussed the browser issue and agreed it's out of our control and by design by Apple - can we close this?

[2021-02-12 17:07] denisedresbach commented on #635
@AlanSl Yes. sounds like nothing we can do here so I will close.

[2021-02-12 17:07] #635 closed, assigned to denisedresbach

[2021-02-12 18:40] AlanSl commented on #627
Managed to replicate this and I think I found the cause - it looks like the spinner library we're using has a bug in iOS where it can get stuck on if it's hidden too soon after it's shown. Issue is closed incorrectly because library maintainer thinks it's only related to Alerts - https://github.com/joinspontaneous/react-native-loading-spinner-overlay/issues/30 - but comments make clear it's not ju

[2021-02-16 20:51] denisedresbach commented on #627
iOS 1.1.2.74
Testing with valid code steps and results:

Exit app
Get link ready in email --the code I got was 6 characters
Airplane mode
Tap link from email
Results: App opens with spinner on splash screen
Wait a few seconds and Code screen opens up with code entered
No message so tap on arrow = connection issue. Please check your internet connection and try again.

Tried with app open too = same

[2021-02-17 19:50] denisedresbach commented on #638
Verified iOS 14.4 When Bluetooth is on there is no message to have your Bluetooth on. When Bluetooth is off the message to turn on Bluetooth is shown. 1.1.2.74

[2021-02-17 19:50] #638 closed, assigned to denisedresbach

[2021-02-19 19:47] denisedresbach commented on #627
This is happening again in build 1.1.2.77