[2020-07-31 16:17] dharding opened #1 "Refactor BUILD_VERSION"
In order to avoid having to remember to update the build/marketing version of the app in multiple places, we should refactor how we set the version to be set in a single place and then referenced in all appropriate places (e.g. build.gradle, xcode project, app version display).

[2020-08-03 22:36] dharding opened #2 "Configure debug/test mode for Google EN"

[2020-08-03 22:36] dharding opened #3 "Configure debug/test mode for Apple EN"

[2020-08-03 22:37] dharding opened #4 "Configure APNS Entitlement for iOS builds"
The current project setup does not include an APNS entitlement. This can be added, but I do not want to add it unless we are actually planning to use remote push notifications in the NY app. Until that time, App Store Connect will send a warning for all uploaded builds that the app uses APNS but does not have the entitlement. You can ignore this for internal TestFlight builds for the time being.

[2020-08-03 22:38] dharding opened #5 "Define a list of test devices"
As part of the AWS Device Farm configuration, we will need to define a list of devices, both Android and iOS-based, upon which our tests will be executed. I have reached out to Apple for any information they have regarding the number and types of iPhones in NYS. The Android devices would be so varied that we would be better off selecting a representative set across the most popular manufacturers a

[2020-08-03 22:39] dharding opened #6 "Failure to register inaccurately indicates that the user is offline"
If for some reason the `register` call fails (e.g. iOS version does not support DeviceCheck, the app is running in the iOS simulator without a `TEST_TOKEN`, other network related issue with the API call) the app displays an error indicating that the device has a connection issue. This will lead to a user being confused and checking their internet settings.

The error should be related to the actua

[2020-08-03 22:40] dharding opened #7 "Device connectivity check fails on iOS"
When running on iOS, the `NetInfo` module is not accurately detecting device connectivity.

See: https://github.com/react-native-community/react-native-netinfo/issues/352

(as a temporary workaround I have removed the check for `isInternetReachable` and only use `isConnected` otherwise it is not possible to advance in the app at all)

[2020-08-03 22:40] dharding opened #8 "Inconsistent behavior when Bluetooth is disabled (Android and iOS)"
Repro steps:
- complete on-boarding flow, consenting to both EN and push notifications.
- land on app in "ready" state
- background the app
- turn off Bluetooth
==> On Android this triggers a push notification. On foregrounding the app, both platforms I see the app continues to report it is in the "contact tracing active" state.
==> On iOS I do not get a push notification.  On my installation, the

[2020-08-03 22:41] dharding opened #9 "Update README.md to describe TEST_TOKEN"
The verification process while in the simulator requires a `TEST_TOKEN` to be defined in the `.env` file because the `DeviceCheck` API does not work. Update the `README.md` to expain this.

[2020-08-03 22:41] dharding opened #10 "Contact Tracing Follow-up Call "Yes I want to opt-in" button active with no phone number entered"
iPhone SE
I entered a new country code and the "Yes I want to opt-in" button became active even though the phone number field was still blank.

Before I changed the country code, the button is not active.

![IMG_0552_ContactTracingFollouUpSetUp-02](https://user-images.githubusercontent.com/6312392/88440363-bcf62000-cddb-11ea-8b09-3baec51cdf7d.PNG)

After I changed the country code, but before ente

[2020-08-03 22:42] dharding opened #11 "Select a CI/CD Solution Including Automated Testing"
We would like to automate builds for iOS and Android, run automated tests on real devices, and push passing builds to their respective store platforms for approval/review using a complete CI/CD solution.

- [x]  Document options for CI/CD solutions
- [x]  Document options for automated testing
- [x]  Select build solution
- [x]  Select automated testing solution

[2020-08-03 22:42] davidjharding commented on #11
In order to achieve the goals covered by this issue we need to solve for the following:

1. Android and iOS build tool
1. Android and iOS build server/environment
1. Testing environment
1. Automation to trigger the build and tests

### Android and iOS build tool
Nearform is already using, and I recommend, that we use FastLane for the build tool. This can handle various types of builds and ship tho

[2020-08-03 22:47] dharding opened #12 "Integrate codepush"
In order to update the app bundle without a new app store build for critical/timely updates, we should integrate with codepush and write a script to generate targeted codepush bundles.

[2020-08-03 22:48] dharding opened #13 "Integrate Firebase Remote Config"
In order to be able to update the configuration of the app without releasing a new build to the app stores, we want to integrate with remote config. The app should fetch the latest remote config upon launch as well as when the app comes to the foreground.

[2020-08-04 14:43] dharding opened #14 "Integrate CircleCI"
We are planning to use github actions to trigger a CircleCI build (and test suite run, under another ticket).

[2020-08-07 16:23] ShaunBaker opened #15 "As a User I want to understand how the application works"

[2020-08-07 16:59] ahurworth opened #16 "As a user, I want to know when I've been in close contact with a COVID case, so that I can request help and know how to quarantine."
(Changes to behavior)

[2020-08-07 19:31] fiacc opened #17 "Implement client side code for APHL compatibility"
- Implement client side compatibility with APHL flow
- Add flag to toggle between submitting keys via covid green v1 api and aphl api

[2020-08-09 19:54] aisegfault opened #18 "Submit App for review to Apple and Google on 13th"
- [x] Submit App for review to Apple and Google on 13th *
- [x] Fill out Apple Questioner on 13th, then resubmit the App

[2020-08-11 15:55] fahd-arshad opened #20 "Implement Health Log"
A user should be able to answer optional demographic questions and then daily answer the "My Health Today" symptoms.

If only 1 of the first 7 symptoms is selected (Fatigue -> Diarrhea), the user is shown a "low risk" version of the screen. If any of the last 4 symptoms (Fever -> New loss..) or more than one symptoms overall are selected, a "high risk" version of the screen is presented. This is d

[2020-08-12 09:23] #3 closed, assigned to nobody

[2020-08-14 11:19] antoineaware opened #25 "Checkin card: Remove the logic of returning day (UX change from COVID green)"
In the NY app, we won't keep the logic of changing the card in the NY COVID Data tab about the Health Log.
Card will be the same on day 1, 2,...

See screenshot:
![2020-08-14 at 12 16 31](https://user-images.githubusercontent.com/5053066/90244166-1f18d280-de28-11ea-85fd-60c69dafcde8.png)

[2020-08-14 13:35] fahd-arshad commented on #25
@antoineaware Testing mentions. I'm not sure why you aren't able to mention me. My username does have a - between my first and last names.

[2020-08-14 14:55] fahd-arshad commented on #25
@ShaunBaker testing only. Pls ignore.

[2020-08-18 14:18] davidjharding commented on #18
We are awaiting the final questionnaire responses.

[2020-08-18 14:19] davidjharding commented on #14
We are looking to use github actions instead as it turns out it supports builds on a Mac.

[2020-08-18 14:21] #2 closed, assigned to nobody

[2020-08-20 10:39] ShaunBaker opened #35 "Improve Translation Import/Export"
We currently have some simple script to import and export text content for the app in various languages.

As discussed in https://github.com/project-vagabond/covid-green-app/pull/32/ this issue collects the improvements to be implemented.

* Make the import/export scripts DRY
* Make the import/export scripts not dependant on hardcoded language definitions (eg read from spreadsheet columns/files in

[2020-08-20 14:18] kevin-sheldon opened #36 "Share Icon and Text Incorrect"
iPhone X, iOS 13.6, text size set to 3rd stop from the left, TestFlight build 1.0.0 (4)

Scope: Onboarding Screens

Issue: When you click on the Share Icon, or the button to Share the App, the icon and associated text on the iOS screen are incorrect. Should display the NYS COVID App icon and text. See attached screenshot.
<img width="400" alt="Share Icon" src="https://user-images.githubusercontent

[2020-08-20 18:13] #14 closed, assigned to nobody

[2020-08-20 18:18] #4 closed, assigned to dharding

[2020-08-20 18:18] davidjharding commented on #4
I have removed APNS from the key since we are not planning to use it.

[2020-08-20 18:36] davidjharding commented on #13
Crashlytics and Remote Config are integrated. Remote Config only runs at app start for now as we do not have any configuration being managed in there. When we decide to add our first config setting, we will update the defaults in the app and set it to fetch on app foregrounding.

[2020-08-20 18:36] #13 closed, assigned to dharding

[2020-08-24 01:49] fahd-arshad opened #48 "The privacy policy in build 12 is incorrect"
It should be the short version written out at https://nearform.invisionapp.com/d/main#/console/20287854/428431587/build. At the bottom of that page is a link that should go go to the longer policy on the web: https://apps.health.ny.gov/public/covidsmartprivacy.html

[2020-08-24 02:57] fahd-arshad opened #49 "Need internal jump menu"
For QC purposes, we need an "internal" menu to jump to the screens/states that are otherwise inaccessible, such as proximity alerts, positive cases, error conditions, etc.

[2020-08-24 03:04] fahd-arshad opened #50 "Health Log showing tabs while in the flow (should not)"
From Antoine: Health Log showing tabs while in the flow. They should not.

[2020-08-24 03:07] fahd-arshad opened #51 "Close icon requires 2 or 3 taps"
Close icon on top left of most overlays is not usable. Requires many, indeterminate number of taps before it activates. You can see this in "How It Works" and any of the Health Log selectors.

[2020-08-24 03:09] fahd-arshad opened #52 "My health log: if any symptoms are checked "I am feeling well" button should be disabled."
My health log: if any symptoms are checked "I am feeling well" button should be disabled. If symptoms are unchecked, it should be enabled again.

[2020-08-24 03:12] fahd-arshad commented on #48
Also, the title of the policy is in the body and should not be "Data Protection Information Notice". We don't use the term "DPIN" anywhere.

[2020-08-24 04:27] fahd-arshad opened #53 "Content needs translation"
@kevin-sheldon , can you kindly get the following content translated in the columns it is in? If possible this should be translated in the same file. If you need to break it up into smaller sheets, your call, but if the app changes and the number of labels changes, we'll have a lot of trouble mapping it back. It would be best if the translators can do their translations and put them in directly in

[2020-08-24 04:31] fahd-arshad commented on #53
@kevin-sheldon also note for the translations that the "\n" character they occasionally will see is translated as a linebreak. So "App\nSettings" forces the two words to be on different lines. The auto-translated labels are buggy in that the "\n" gets translated into "\ N". Because of the extra space, it no longer gets recognized as a line-break. So as translators translate, they should be mindful

[2020-08-24 04:42] fahd-arshad opened #54 "Spanish translation isn't hooked up"
Spanish translation isn't hooked up. It's in the spreadsheet as an auto-translation for now and so at least that should work prior to manual translations being available.

[2020-08-24 04:53] fahd-arshad opened #55 "Translations to languages other than Russian and Chinese are not functioning"
Translations are not working. For example, here are the translations for the "Back" button:

navbar.back | Back | Retounen | назад | পেছনে | 뒤 | 背部 | Espalda |

If you just stay on the "My Language" page and switch to the first two languages after "English", the "Back" label does change. But if you go to the 4th language onwards ("Kreyol ayisyen"/Haitian Creole), the label switches back to the Rus

[2020-08-24 14:34] fahd-arshad opened #56 "Share link points to the wrong message and URL"
If you share the app via text on iOS, the text that is generated references COVID Green and points to the Irish app. Can we kindly make it this:

Help keep your fellow NYers safe from COVID-19 by flattening the curve. Get the COVID Smart NY app: https://CovidSmartNY.health.ny.gov/.

iOS 13.6, iPhone X, build 12

![2020-08-24 07 29 15](https://user-images.githubusercontent.com/68031284/91057669-5fb

[2020-08-24 16:08] stuartgiles opened #58 "Health log UI date format"
It should be [Mmm dd]

3-letter months (Jan, Feb, Mar,...)
no period but a space
1/2 digits for the day
no “th” or “st” afterwards

Please see
https://app.zeplin.io/project/5f23ee3d1eb2f9215942942b/screen/5f3bab5e6b97a59e9ce9c13d

[2020-08-25 12:44] AlanSl opened #61 "Allow tel: links to be defined in Markdown"
Follows on from https://github.com/project-vagabond/covid-green-app/pull/47

Where Markdown copy describes a telephone number, it'd be useful to be able to define that in the Markdown so that it is rendered in the app as a pressable telephone number link.

[2020-08-25 14:40] aisegfault opened #62 "Run Android Accessibility Scanner and address key issues"
Run Android Accessibility Scanner and address key issues

[2020-08-25 14:40] aisegfault opened #63 "Run Accessibility Inspector in Xcode and address key issues"
Run Accessibility Inspector in Xcode and address key issues

[2020-08-25 14:41] aisegfault commented on #62
NYS request for Fiacc and Colm to prioritize

[2020-08-25 14:41] aisegfault commented on #63
NYS request for Fiacc and Colm to prioritize

[2020-08-25 16:52] kevin-sheldon opened #64 "DOH UAT - My COVID Alerts "Setup" Button Not Working to Enable Closeness Sensing (HIGH)"
iOS 13.6
iPhone XS Max
Build: 1.0.0 (13)

If you skip onboarding process ("Skip for now" button) and do not enable Exposure Notifications, the "Setup" button does not work to allow you to enable Exposure Notifications at a later time. If you then try to enable My COVID Alerts via the Settings option, there is no option to enable Exposure Notifications.

![MYCOVIDALERT_1](https://user-images.github

[2020-08-25 17:15] kevin-sheldon opened #65 "DOH UAT - Closeness Sensing Confirmation Screen Still Appears When You Click "Don't Enable" for EN (MEDIUM)"
While going through onboarding screens, if you click "Don't Enable" for Exposure Notification prompt, the next screen says that Closeness Sensing is now active. However, once you "Done", it still says Closeness Sensing is not active (as expected).

Need to remove success confirmation message if someone clicks "Don't Enable" for EN.

![EN_DontEnable_1](https://user-images.githubusercontent.com/6915

[2020-08-25 17:22] kevin-sheldon opened #66 "DOH UAT - Clicking "Device Settings" to Enable EN Does Not Bring You to Appropriate Settings Screen (HIGH)"
iOS 13.6
Build: 1.0.0 (13)

If you click on "Device Settings" to enable Exposure Notifications, it just brings you to the main iOS settings page. It should bring you directly to the settings screen to enable EN (Settings > Privacy > Health). If the user tries to enable or re-enable EN after the onboarding process, they will not know how to get to the screen to enable if it just brings them to the

[2020-08-25 17:28] kevin-sheldon opened #67 "DOH UAT - If you skip onboarding, iOS doesn't recognize any apps to enable EN (HIGH)"
iOS 13.6
XS Max
Build: 1.0.0 (13)

If you have app installed and you skip enabling exposure notifications during onboarding, you cannot go into your settings and turn on EN, because iOS does not recognize any Active Apps
![DeviceSettings3](https://user-images.githubusercontent.com/69158966/91207522-dd651300-e6d6-11ea-8ce2-dbeb09698a74.jpeg)

[2020-08-25 17:43] kevin-sheldon opened #68 "DOH UAT - Enhancement - Ability to Edit My Health Log for Current Day"
Will check with DOH business stakeholders, but submitting enhancement idea to allow for an individual to edit the My Health Log entry for current day only.

Business Use Case: I enter at 7am that I have no symptoms, but by 4pm same day, I develop Fever, Cough, and other symptoms. Should I have the ability to edit my entry for the day and based on edited results, be presented with the correct resul

[2020-08-25 18:10] colmharte commented on #66
This is not possible, Apple don't allow deep linking into particular settings area.

[2020-08-25 18:10] #18 closed, assigned to dharding, ShaunBaker, fiacc

[2020-08-25 18:49] fahd-arshad commented on #67
Folks we need to decide if this is an Apple issue or our app's. Currently our app flow is broken because it points to "Device Settings" to fix this, and it can't be addressed without re-installing the app.

[2020-08-25 18:52] fahd-arshad commented on #54
Verified that Spanish is now linked up.

[2020-08-25 18:52] #54 closed, assigned to colmharte

[2020-08-25 19:04] fahd-arshad commented on #50
I can confirm that this was fixed in build 13 on iOS.

[2020-08-25 19:04] #50 closed, assigned to colmharte

[2020-08-25 19:06] colmharte commented on #67
@fahd-arshad This is our issues, if setup skip then the button on CT screen to enable should be initiating the OS prompts.

[2020-08-25 19:41] kevin-sheldon opened #69 "DOH UAT - "X" Buttons Do Not Work on Overlay Screens (MEDIUM)"
iOS 13.6
XS Max

Build: 1.0.0 (13)

When going through the My Health Log, either for the first time or trying to update through Settings, the "X" icon does not close the overlay screen and forces me to make a selection

[2020-08-25 20:19] fahd-arshad commented on #58
Confirmed that this is done in build 13.

[2020-08-25 20:19] #58 closed, assigned to fahd-arshad

[2020-08-25 20:59] dharding opened #70 "Android App Crashes When Submitting Exposure Keys (CRITICAL)"
The Android version of the app crashes when trying to share exposure keys.

Platform: Android
Build: 13

Error:

[code]

Steps to reproduce:

1. Complete the onboarding normally
2. Go to the "My COVID Alerts" tab
3. Tap on "What to do if you test positive COVID-19"
4. Tap on "Share your Close Contact Codes"
5. Enter any code
6. Tap the "Next" button
7. App will either crash at this point or after

[2020-08-25 22:12] segfault commented on #70
Looking at the app code it seems like we're failing in Safetynet verification.
The only call is at https://github.com/project-vagabond/covid-green-app/blob/nys/src/services/api/index.ts#L35

Given that code the only was we would see a null passed to the base64 function is if the nonce is null.
From the upstream RN wrapper library: https://github.com/rajivshah3/react-native-google-safetynet/blob/ma

[2020-08-26 00:36] kevin-sheldon opened #71 "DOH UAT - My Health Log Not Saving If You Close App (HIGH)"
Build 1.0.0 (13)
Tested on both iOS and Android

If you submit your responses for My Health Log for the day, and close out of the app (not delete, but full app close) then restart, the current submission deletes and user is forced to start over again.

[2020-08-26 00:42] kevin-sheldon opened #72 "DOH UAT - Bottom Buttons Disappear (Intermittent) When You Skip Onboarding (MEDIUM)"
Build: 1.0.0 (13)
Android OS

When user skips Onboarding, the bottom options on the screen do not appear. Forced user to close down app and restart to see the bottom icons/options.

<img width="181" alt="Bottom Buttons" src="https://user-images.githubusercontent.com/69158966/91241670-7a45a180-e713-11ea-987d-07b103a38270.png">

[2020-08-26 00:46] kevin-sheldon opened #73 "DOH UAT - "Find a Site Near You" URL Not Correct (HIGH)"
Build: 1.0.0 (13)
OS: Both iOS and Android

Within My Health Log, when you log enough qualifying symptoms, and you are brought to the screen with the "Find a Site Near You" link, the link brings you to google.ro instead of the appropriate provider page.

[2020-08-26 00:46] fahd-arshad opened #74 "Change the name of the app from "COVID Smart NY" to "COVID Alert NY""
Kindly change  "COVID Smart NY" to "COVID Alert NY" in:

1. the app and prototype visuals
2. all references in the copy of the app, and

Assigning to @stuartgiles as the first step. Stuart, NYS requested we archive the current artwork so we don't lose it entirely if a future comparison has to be made. Also, can we kindly make the changes to the InVision prototype as well *after* you take care of t

[2020-08-26 00:48] kevin-sheldon opened #75 "DOH UAT - County Selection Causes Fatal App Crash (CRITICAL)"
Build: 1.0.0 (13)
OS: Both iOS and Android

When toggling to the different county charts on the NY COVID Data screen for the counties Warren, Washington, Westchester, Wyoming and Yates, the app crashes completely. Attempts to restart app are met with a blank purple screen (Android), and a blank white screen (iOS). Restart of device did not fix. Uninstalling and redownloading the app was needed to

[2020-08-26 01:05] kevin-sheldon opened #76 "DOH UAT - Allowed to Put "Placeholder" Text in My Health Log Overlay (LOW)"
Build: 1.0.0 (13)
OS: Android

When using the search function in the My Health Log county picker, user was able to put in any text then hit the "X" button and the text still remained on the screen. User couldn't save entries though, likely because the word entered wasn't a valid county. This issue does not seem to exist on iOS.

<img width="172" alt="Placeholder" src="https://user-images.githubuse

[2020-08-26 01:09] kevin-sheldon commented on #74
Enhancement must be implemented before go-live. Thank You!

[2020-08-26 01:15] kevin-sheldon opened #77 "DOH UAT - Can Log Multiple My Health Logs on Same Day (HIGH)"
Build: 1.0.0 (13)
OS:  Android

Android: Replicated by pressing 'I am feeling well today' then using the Back function of the Android device to return to the entry and pressing 'I am feeling well today'. Can be done multiple times and also with symptoms as long as 'Done' is not pressed on the next screen. Screenshot added.

iOS: You can also enter multiple logs. If you select "I am feeling well to

[2020-08-26 08:03] fahd-arshad opened #78 "Chart duration change"
Please change the duration of charts to last 30 days instead of last 7 days.

[2020-08-26 08:05] fahd-arshad opened #79 "Chart data does not seem accurate"
Please ensure that the latest data is picked up. The API is showing data from 8/25, but the in-app charts are only showing data through 8/22.

The charts data is not currently tying up with what the API reads out. E.g., Total persons tested is showing a value of <60k for 8/22. The actual value as per the API is 74,043. Please double-check the data and perhaps the alignment with the date labels.

[2020-08-26 08:07] fahd-arshad opened #80 "Re-index the charts' y-axis to 0"
Please re-index the charts' y-axis so it's minimum is always 0. Otherwise minor changes are misleadingly magnified.

[2020-08-26 08:08] fahd-arshad opened #81 "Switch charts to vertical bars"
Switch the plot from line to bar charts. If possible, please calculate and overlay a trailing 7-day moving average as a line superimposed on the bars. The moving average needs to be captioned appropriately (Stuart can specify exactly how). If bar charts aren't possible, at a minimum turn off smoothing of the existing line plots. The line segments signal direction and magnitude of intraday change,

[2020-08-26 08:11] fahd-arshad opened #82 "Add positivity rate chart"
Please add a new chart between the first and second charts titled "Percent tested positive". The formula should be: new_positives / total_number_of_tests * 100. Label the x-axis with %age to 1 decimal point (0.5%, 0.6%, 0.7%, etc).

[2020-08-26 08:55] AlanSl commented on #73
It looks like this has been fixed already. It gives the correct link for me in Android and it appears the link was updated:

- In code, it's corrected everywhere after https://github.com/project-vagabond/covid-green-app/pull/57 and https://github.com/project-vagabond/covid-green-app/pull/47
- In the API text, I've checked these:
  - https://api.dev.ctprox.health.ny.gov/api/settings
  - https://api

[2020-08-26 09:06] colmharte commented on #73
Yes this was fixed on Monday.

[2020-08-26 09:11] floridemai commented on #75
@kevin-sheldon The crash happens because of missing stats data for the following counties: `Warren`, `Washington`, `Wayne`, `Westchester`, `Wyoming`, `Yates`.

What I did?
* Currently chasing to see why this happened, and get it fixed. Will ping here when is fixed.
* Added some code to protect against missing that so that the app doesn't crash if this happens in the future. Simply the graphs cards

[2020-08-26 11:56] floridemai commented on #70
@dharding @segfault I'll take a look at this and come up with all the details when I'll be able to get hold of some codes to tests the whole flow. Will pick something else in the meantime. /cc @arybka777

[2020-08-26 12:01] floridemai commented on #67
@fahd-arshad I've started working on this covering all the possible use-cases. There were a few discrepancies in the design and I've talked with @stuartgiles about this.
The code logic (refactor to reuse the cards in both onboard complete & my covid alerts) is in there just waiting for clarifications and final text. Will continue as soon as I have those. Putting this on hold for the moment.

[2020-08-26 12:06] floridemai commented on #66
This will be solved in https://github.com/project-vagabond/covid-green-app/issues/67. On iOS we can only goto either "app settings" (for enabling ENS & Notification) or "device settings" and we need to explain the users what they need to access and what to do.

[2020-08-26 12:07] floridemai commented on #64
Will be close when https://github.com/project-vagabond/covid-green-app/issues/67 is finished

[2020-08-26 12:18] floridemai commented on #72
@kevin-sheldon Was not able to reproduce on Samsung S6 Edge (Android 7.0). Can you provide more details? What device. Anything else that could help in narrowing down the reasons.

[2020-08-26 12:34] floridemai commented on #69
PR: https://github.com/project-vagabond/covid-green-app/pull/84

[2020-08-26 12:34] floridemai commented on #65
Will be fixed by https://github.com/project-vagabond/covid-green-app/issues/67

[2020-08-26 13:17] AlanSl commented on #77
Fixed in https://github.com/project-vagabond/covid-green-app/pull/85 - swaps 'navigate' actions (which add to stack navigation history allowing going back) with 'replace' actions (which replace the checker page in the stack navigation history, preventing going back to it).

[2020-08-26 13:25] floridemai commented on #69
@kevin-sheldon That should be fixed in the next release. I think it will be 1.0.0 (14)

[2020-08-26 13:38] AlanSl commented on #71
Fixed in https://github.com/project-vagabond/covid-green-app/pull/86

The code that loads the saved data from past check-ins was using a different key to the code that saves it, so it missed the saved data on restarting the app.

[2020-08-26 20:56] fahd-arshad opened #91 "Build numbers need to be visible in-app"
The build numbers need to be visible in-app. Please extend the App Version string in settings to be this:

Current: App version iOS 1.0.0
Desired: App version iOS 1.0.0 build 15

[2020-08-26 21:27] mboskin opened #92 "App Crash on Launch"
After installing the new build 14 version app does not start but crashes back to home screen. Attempted to uninstall and reinstall with no change.
--

[2020-08-27 00:10] mboskin opened #93 "Minor Typos"
Found 8/26/2020 by Valerie Shuba on Android galaxy S10+. Screen captures attached
[Issue_14.pdf](https://github.com/project-vagabond/covid-green-app/files/5133237/Issue_14.pdf)

[2020-08-27 00:23] mboskin opened #94 "decimal place scale on y axis for Total tested and shows spikes for 1 or 2 people infected."
August 26 at 4:23 by Francisco Torrales on Android LG K40

[4:55 PM] Sheldon, Kevin M (HEALTH)
    Please log that. Arshad, Fahd we should discuss with NF on a potential minimum Y axis value. Looking at the graph without axis labels, looks like Cayuga had a spike in positive cases, but it is only 1 person.
(1 liked)​[4:55 PM] Sheldon, Kevin M (HEALTH)
    Torrales, Francisco please log the decimal

[2020-08-27 00:27] mboskin opened #95 "Load issue when sharing"
August 26 4:23 EST Android  LG K40
![Screenshot-162331_3](https://user-images.githubusercontent.com/70291664/91369724-82b4df80-e7da-11ea-936d-231a57a2fd87.png)

Francisco Torrales

Loading Issue when attempting to select share option in upper right corner when attempting to share graph for Cayuga County and also during same time everyone was hung up in the app.
--

[2020-08-27 01:02] fiacc commented on #92
14 was a debug build released from CI in error

[2020-08-27 01:02] #92 closed, assigned to fiacc, colmharte

[2020-08-27 01:28] fahd-arshad opened #96 "Validate and Delete redundant labels for uploading random ids"
As far as I can tell, the following labels are redundant and not used in the US version of the app. I checked the first 2, and the rest I am guessing based on the use of the terms "ID" (we tried not to use that) and "HSE".

**Please confirm which of these are still needed for the NYS version, and kindly remove all else.** As of now the translators will not be translating any of these until @mboski

[2020-08-27 01:30] mboskin opened #97 "Confirm change button color"
Confirm Changes button in the COVID Check in is a liter purple color but cannot be selected until you change a selection then button just slightly changes color.  When selected it changes to black color.  not sure if that is ok.
--

[2020-08-27 01:43] fahd-arshad opened #98 "Pls remove appStats card labels from codebase/translation export"
I believe these labels are not part of the NYS design currently. Please verify and if I'm right, kindly remove them from the codebase or otherwise exclude them from your export script output so the translators do not waste time on these.

appStats.title | Today's fight
appStats.totalCheckins | Total Check-Ins today
appStats.noSymptoms | Feeling good
appStats.someSymptoms | Some symptoms
appStats.n

[2020-08-27 11:15] floridemai commented on #75
@kevin-sheldon Data source issue was found and fixed here: https://github.com/project-vagabond/covid-green-regional-lambdas/pull/13. As soon as that's deployed data should be available for the problematic states. In any case, the app should not be crashing anymore.
Assigning back to you :)

[2020-08-27 11:17] floridemai commented on #70
Issue was: any error on the server-side was treated as being successful and we were calling a safetynet verification  with an invalin none (i think). All of this was address by simply enabling ssl pinning (https://github.com/project-vagabond/covid-green-app/pull/88).
Issue should be solved in build 15.

[2020-08-27 12:14] floridemai commented on #96
@fahd-arshad All of the above translations are used. What you have is the older version. Here is the link to the current text used in the app: https://github.com/project-vagabond/covid-green-app/blob/nys/src/assets/lang/en.json#L377

Invision links:
https://nearform.invisionapp.com/d/main#/console/20287854/428108353/preview
https://nearform.invisionapp.com/d/main#/console/20287854/428108354/previe

[2020-08-27 12:21] AlanSl commented on #98
Yes, these are currently only used in the unused `app-stats` and `county-breakdown` cards.

[2020-08-27 12:23] AlanSl commented on #94
Yes this is another one which is being addressed in https://github.com/project-vagabond/covid-green-app/pull/87 by setting the Y axis to have a max value of at least 5.

[2020-08-27 12:54] floridemai commented on #93
@segfault You might want to have a look at this one as some of the typos are related to the policies content.

[2020-08-27 13:10] AlanSl commented on #76
I can't replicate this on Android (9) - however I return, the search text is not shown in the main list.

Unless @floridemai can replicate this on iOS it looks like it was already fixed

[2020-08-27 13:13] AlanSl commented on #95
I can't replicate this, this seems to work fine for me on Android, and from Slack I believe there was some discussion of connection issues which I believe was related to API work ongoing at this time.

Can you please try to replicate this again and if you can give the exact events that caused it? Thanks

[2020-08-27 13:20] floridemai commented on #76
@AlanSl I can't replicate either. iPhone XS (13.6.1)

[2020-08-27 13:22] AlanSl commented on #97
@mboskin Can you please clarify what the problem here is: is it that you find it unclear from the colour that the lighter purple button is disabled?

@stuartgiles Currently disabled buttons have the same styling as regular buttons but with 40% opacity, and active buttons take the outer background colour (shadow colour). If you want to change any of this ping me and I'll apply it

[2020-08-27 13:29] davidjharding commented on #70
@floridemai have you been able to confirm if this issue is addressed?

[2020-08-27 13:40] segfault commented on #70
Are we logging the error on the client side?

[2020-08-27 13:41] floridemai commented on #70
@dharding Yes, I think so. I tried doing the  same thing as before but got an "code is expired" and could not replicate the issue.

[2020-08-27 13:50] floridemai commented on #70
@segfault We do log errors on the client side, but in this case it was a native error, and our try/catch blocks didn't have any effect.

[2020-08-27 14:00] segfault commented on #70
I meant the upstream request fail not the SafetyNet RN api call. That call was passed `null` and somewhere prior there was a call or fetch from something that can and should catch/log the issue. Either we got back a bad value from the backend api or we pulled a bad value. Looking through the full exposure upload workflow it seems we might have stored a bad value for the uploadToken.

Reading throu

[2020-08-27 14:14] dennisgove opened #104 "Check-In Rate limiting has potential to block submission even on next day"
The `check-in` flow allows a user to submit a daily checkin. However the app and backend API don't apply the same rate limiting logic and as such the App may allow a user to submit a checkin that the backend API will reject.

Both the App and Backend API rate limit on the _date of checkin_, meaning that if I checkin on Monday then I am allowed to checkin again on Tuesday. However, the App stores t

[2020-08-27 14:16] dennisgove commented on #104
@fiacc @colmharte @fahd-arshad @floridemai for visibility. It appears I'm not able to assign people to this.

[2020-08-27 14:22] davidjharding commented on #95
I am unable to reproduce this. The sharing sheet comes up reliably for me as well as the data/stats charts. I am closing this.

[2020-08-27 14:22] #95 closed, assigned to mboskin

[2020-08-27 14:27] davidjharding commented on #74
Do we have the logo assets for this? Can they be attached to this issue?

[2020-08-27 14:29] davidjharding commented on #62
The pre-launch report is available in the Play console for Android. It did find a few a11y related things to be addressed.

[2020-08-27 14:30] davidjharding commented on #51
I believe this is related to the fact that the tap target is rather small. This was also flagged in the pre-launch report as an a11y issue.

[2020-08-27 14:40] colmharte commented on #1
@dharding any suggestions on how best to do this?

[2020-08-27 15:08] floridemai commented on #51
@dharding Could be a duplicate of (related to) https://github.com/project-vagabond/covid-green-app/issues/69.
@fahd-arshad Would you mind checking this one again?

[2020-08-27 15:51] fahd-arshad commented on #20
This is outdated and not needed. Closing.

[2020-08-27 15:51] #20 closed, assigned to ShaunBaker

[2020-08-27 16:24] fahd-arshad commented on #70
Needs to be validated in build 15+

[2020-08-27 16:28] fahd-arshad commented on #70
@dharding was unable to submit a number (got error invalid code).

[2020-08-27 16:32] fahd-arshad commented on #91
Will do this manually for the timebeing. Will need to create a new ticket to do this through the proper build tools.

[2020-08-27 16:33] segfault commented on #93
Thanks @floridemai . Hopefully it's all down to docx to markdown conversion artifacts.

[2020-08-27 16:43] fahd-arshad commented on #16
@ahurworth can you kindly see if this issue can be closed?

[2020-08-27 16:45] fahd-arshad commented on #96
@floridemai believes none of the ones I have listed here are in his current codebase, so closing this ticket.

[2020-08-27 16:45] #96 closed, assigned to fahd-arshad

[2020-08-27 16:47] #98 closed, assigned to fahd-arshad

[2020-08-27 16:55] fahd-arshad commented on #10
We are no longer offering call-back so closing this.

[2020-08-27 16:55] #10 closed, assigned to colmharte

[2020-08-27 16:58] fahd-arshad commented on #8
@kevin-sheldon @mboskin Paul is going to provide some details on the *expected* behavior when toggling BT on and off. Can we kindly make these part of the UAT scripts? Thank you.

[2020-08-27 17:00] fahd-arshad commented on #1
This is the proper fix to the manual workaround that @dharding will do in https://github.com/project-vagabond/covid-green-app/issues/91.

[2020-08-27 17:14] AlanSl commented on #79
Should be fixed in the next build now https://github.com/project-vagabond/covid-green-app/pull/87 is in

[2020-08-27 17:15] AlanSl commented on #78
App side: should be fixed in the next build now https://github.com/project-vagabond/covid-green-app/pull/87 is in

Also needs updates on the API side which I understand are in `dev` API currently

[2020-08-27 17:16] AlanSl commented on #81
Should be fixed in the next build now https://github.com/project-vagabond/covid-green-app/pull/87 is in

[2020-08-27 17:17] AlanSl commented on #80
Should be fixed in the next build now https://github.com/project-vagabond/covid-green-app/pull/87 is in

[2020-08-27 18:03] stuartgiles commented on #74
I believe these are the only images that need to be replaced...
[code]

I'm guessing the logo that appears in the app header bar is simply one of the above resized and cropped appropriately.
However, just in case, I have also supplied a specific SVG for it.

Logos attached here
[updated logos.zip](https://github.com/project-vagabond/covid-green-app/files/5138027/updated.logos.zip)

Please let me k

[2020-08-27 18:07] fahd-arshad commented on #48
### Data and Privacy Policy

Your privacy and data security are very important to the New York State Department of Health. The COVID Alert NY app protects the privacy of all app users, at all times.

**You remain anonymous to us and other app users. The app does not allow us or anyone else to:**
- Collect your name, address, or any other personally identifiable information.
- Track your location.

[2020-08-27 18:08] ahurworth opened #110 "Updates to Proximity Alert Drill in Screen"
Update the Proximity Alert drill-in screen as follows:

- [x] Move the self-isolation instructions + button to place a call the hotline to the landing screen of the Proximity notification.

- [x] Add a new paragraph to the instructions to motivate users to consider getting a test.  The hyperlink should point to this URL: https://coronavirus.health.ny.gov/find-test-site-near-you.  This new paragrap

[2020-08-27 18:15] ahurworth opened #111 "Add a new item to all instances of the "keep safe" Instructions"
All instances of the "keep safe" instructions should be updated to show a new paragraph to the instructions to motivate users to consider getting a test. The hyperlink should point to this URL: https://coronavirus.health.ny.gov/find-test-site-near-you. It should be positioned as the penultimate instruction in this list, above the symptoms monitoring paragraph.

Stuart is helping to produce an icon

[2020-08-27 18:30] floridemai commented on #70
@dharding I was able to submit codes on both iOS and android. @fiacc tried on android on build 15 and worked for him as well. Note that  the codes were generated  with `https://push.prd.ctprox.health.ny.gov/notify/positive`. Let us know if you still can't submit them. Thanks

[2020-08-27 19:02] ahurworth commented on #16
Sure @fahd-arshad.  Would you, or someone else be able to generate a proximity alert for me so that I can test it in the build?

[2020-08-27 20:15] mboskin commented on #93
Is it ready for retest?

[2020-08-27 20:16] fahd-arshad commented on #48
@segfault FYI I updated the URL above to https://CovidAlertNY.health.ny.gov/PrivacyPolicy.html.

[2020-08-27 20:16] davidjharding commented on #75
@floridemai did the app get updated to not crash when there is missing data?

[2020-08-27 20:17] davidjharding commented on #75
Confirmed that the data is still missing and the app no longer crashes.

[2020-08-27 20:17] #75 closed, assigned to kevin-sheldon

[2020-08-27 20:21] mboskin commented on #8
When and how will Paul provide the details?

[2020-08-27 20:22] mboskin commented on #8
When and how will Paul be providing the details of expected behavior?

_____________________

www.nystec.com<http://www.nystec.com/>

From: fahd-arshad <notifications@github.com>
Sent: Thursday, August 27, 2020 12:58 PM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc: Michael Boskin <mboskin@nystec.com>; Assign <assign@noreply.github.com>
Subject: Re: [project-vagabond

[2020-08-27 20:27] mboskin commented on #97
Yes, it is unclear. Greater contrast is needed, especially for ADA compliance.

[2020-08-27 20:29] kevin-sheldon commented on #72
Retested and verified fix. Closing bug.

[2020-08-27 20:29] #72 closed, assigned to kevin-sheldon

[2020-08-27 20:35] mboskin commented on #95
I have updated the Issues list in Teams and asked them to retest

Thanks

www.nystec.com<http://www.nystec.com/>

From: David J Harding <notifications@github.com>
Sent: Thursday, August 27, 2020 10:23 AM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc: Michael Boskin <mboskin@nystec.com>; Assign <assign@noreply.github.com>
Subject: Re: [project-vagabond/covid-green-app

[2020-08-27 20:37] kevin-sheldon commented on #73
correct URL now in place and verified by tester.

[2020-08-27 20:37] #73 closed, assigned to fahd-arshad, kevin-sheldon

[2020-08-27 20:37] mboskin commented on #97
The contrast needs to be higher. I commented this and reassigned it back.

_____________________

www.nystec.com<http://www.nystec.com/>

From: Alan Slater <notifications@github.com>
Sent: Thursday, August 27, 2020 9:23 AM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc:  Assign <assign@noreply.github.com>
Subject: Re: [project-vagabond/covid-green-app] Confirm change

[2020-08-27 20:38] mboskin commented on #95
I have marked it to be retested.

_____________________

www.nystec.com<http://www.nystec.com/>

From: Alan Slater <notifications@github.com>
Sent: Thursday, August 27, 2020 9:14 AM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc:  Assign <assign@noreply.github.com>
Subject: Re: [project-vagabond/covid-green-app] Load issue when sharing (#95)

[External Email]

Assigne

[2020-08-27 20:40] kevin-sheldon commented on #75
@dharding I am going to log new bug to determine why data is missing for several counties.

[2020-08-27 20:40] colmharte commented on #8
Note that on android ens api does not report when Bluetooth is off so it is expected that app shows as tracing active.

On iOS there are 2 ways to disable Bluetooth, control panel on settings. Only when disabled is Bluetooth actually app and the app will the show tracing as inactive. Switching bluettoh off via control panel does not actually disable bluettoh, its just disables new connections

[2020-08-27 20:42] kevin-sheldon opened #112 "DOH UAT - Data missing for 6 NYS Counties"
On NY COVID Data tab, there is no data for Warren, Washington, Wayne, Westchester, Wyoming, and Yates Counties.

App originally crashed when these counties were selected. A fix was put in to prevent app from crashing if there is no data, but the data for these counties is still missing.

[2020-08-27 20:44] floridemai commented on #75
@kevin-sheldon No need for that. The bug has been found and address. It's now a matter of deploying. On the other hand it's no harm in having it as a item to be checked off.

[2020-08-27 20:44] kevin-sheldon opened #113 "DOH UAT - Y Axis Displays "1000" instead of "1K" causing 1000 label to be cut off"
On the NY COVID Data screen, any graph that displays the number "1000" on the Y-axis is cut off. Please change to "1k"

If you click on Albany county, this will show the bug.

[2020-08-27 20:46] kevin-sheldon commented on #65
Retested. Fix confirmed.

[2020-08-27 20:46] #65 closed, assigned to kevin-sheldon

[2020-08-27 20:46] kevin-sheldon commented on #64
Retested. Fix confirmed.

[2020-08-27 20:46] #64 closed, assigned to kevin-sheldon

[2020-08-27 20:47] kevin-sheldon commented on #71
Retested and fix has been confirmed.

[2020-08-27 20:47] #71 closed, assigned to kevin-sheldon

[2020-08-27 20:48] kevin-sheldon commented on #77
Retested and fix has been confirmed on both iOS and Android.

[2020-08-27 20:48] #77 closed, assigned to kevin-sheldon

[2020-08-27 20:48] kevin-sheldon commented on #69
Retested and fix has been confirmed.

[2020-08-27 20:48] #69 closed, assigned to kevin-sheldon

[2020-08-27 20:50] kevin-sheldon commented on #66
@floridemai just noticed small typo on new instructions.

Please fix "Privacy > Health Settigs" to "Privacy > Health Settings"

[2020-08-27 20:51] kevin-sheldon commented on #67
This actually brings you to the correct app settings page now on iOS.

[2020-08-27 20:53] kevin-sheldon commented on #76
tester retested and he can no longer put a placeholder text in.

[2020-08-27 20:53] #76 closed, assigned to kevin-sheldon

[2020-08-27 20:56] AlanSl commented on #112
This is fixed on the `dev` API (see example screenshot for Wayne), so will be fixed when that update reaches the production API.

<img width=400 src="https://user-images.githubusercontent.com/29628323/91493899-e4934900-e8af-11ea-898e-faeadec37a50.jpg" />

[2020-08-27 20:59] mboskin opened #115 "Change store presence to COVID Alert NY"
The name of the app has been finalized as: "COVID Alert NY"

- [x] Update store app name
- [x] Update store description
- [x] Update Android assets in store listing
- [x] Upload screenshots for iOS (if we have them, may want to wait until we are closer to final build)
- [x] Update privacy policy URL on Android store
- [x] Update privacy policy listing on iOS store

[2020-08-27 21:09] AlanSl commented on #94
This should be in build 16 as part of the new charts

<img width=350 src="https://user-images.githubusercontent.com/29628323/91495089-e65e0c00-e8b1-11ea-99cb-c4ca13699859.jpg" />

[2020-08-27 21:11] mboskin commented on #94
I know we synchronized the release numbers. Was today’s 16 or will 16 be tomorrow’s build?

Thanks

_____________________
Michael Boskin
Senior Consultant, NYSTEC
(518) 496-7667 – Mobile
mboskin@nystec.com<mailto:mboskin@nystec.com>

www.nystec.com<http://www.nystec.com/>

From: Alan Slater <notifications@github.com>
Sent: Thursday, August 27, 2020 5:09 PM
To: project-vagabond/covid-green-app <cov

[2020-08-27 21:18] mboskin commented on #94
Was build 16 posted for download today?

[2020-08-27 21:22] mboskin opened #119 "After Skipping Setup Unable to Turn on 'Use Exposure Notifications'"
In Get Started if you select Skip for now attempting to set up exposure notifications sends you to the settings page with a greyed out toggle with the notice "To turn on COVID-19 Exposure Notifications, finish setting up an available app". Deleting the data and going through the setup again allows it to work correctly.
--

[2020-08-27 21:22] colmharte commented on #94
Build 16 was today's release

[2020-08-27 21:23] mboskin commented on #94
Thanks

_____________________

From: Colm Harte <notifications@github.com>
Sent: Thursday, August 27, 2020 5:23 PM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc: Assign <assign@noreply.github.com>
Subject: Re: [project-vagabond/covid-green-app] decimal place scale on y axis for Total tested and shows spikes for 1 or 2 people infected. (#94)

[External Email]

Build 1

[2020-08-27 21:29] mboskin opened #120 "Link to DPIN is broken"
Valerie Shuba at 4:40 on Aug. 27. Build 16. iOS

Link from Help Improve This App to Data Protection Info Notice “ The DPIN could not be loaded.

[2020-08-27 21:51] #1 closed, assigned to dharding

[2020-08-27 22:18] AlanSl commented on #79
FYI the data I'm getting from the API currently is different to what is quoted in the comment above, e.g. `68407` for tests on August 22, and no 74043. The charts do reflect the API data they receive which is currently (statewide):

[code]

[2020-08-27 22:20] AlanSl commented on #120
That particular link works for me on Android, including after clearing all app data and re-registering. Let's see if anyone else can replicate the problem.

[2020-08-27 22:57] AlanSl commented on #119
@mboskin Is this on iOS or Android? (Sounds like Android?)

[2020-08-27 22:58] AlanSl commented on #94
@mboskin Apparently something went wrong with Build 16 on Android and the old-style charts were still showing but the new-style ones should be present in Build 17 on Android, released just now (might not be available immediately)

[2020-08-27 23:06] mboskin commented on #94
I appreciate your letting me know. Linh’s team will be retesting tomorrow.

Thanks,
Mike

_____________________

www.nystec.com<http://www.nystec.com/>

From: Alan Slater <notifications@github.com>
Sent: Thursday, August 27, 2020 6:59 PM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc: Michael Boskin <mboskin@nystec.com>; Mention <mention@noreply.github.com>
Subject: R

[2020-08-27 23:08] mboskin commented on #119
Yes Android. A Galaxy S10+

_____________________

From: Alan Slater <notifications@github.com>
Sent: Thursday, August 27, 2020 6:57 PM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc:; Mention <mention@noreply.github.com>
Subject: Re: [project-vagabond/covid-green-app] After Skipping Setup Unable to Turn on 'Use Exposure Notifications' (#119)

[External Email]

@mbosk

[2020-08-27 23:11] mboskin commented on #120
OK. I will let the testing team know.

www.nystec.com<http://www.nystec.com/>

From: Alan Slater <notifications@github.com>
Sent: Thursday, August 27, 2020 6:21 PM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc:  Author <author@noreply.github.com>
Subject: Re: [project-vagabond/covid-green-app] Link to DPIN is broken (#120)

[External Email]

That particular link work

[2020-08-28 00:06] mboskin opened #122 "Demographics and Labels not translated"
[7:41 PM] Arshad, Fahd (DOH-IT-SWAT)
    None of the demographics are translated, and neither are some other labels like "Choose..." and "I am feeling well today.". Boskin, Michael (HEALTH) can you kindly enter a new issue for NF to make the demographic survey list items all translatable, and in parallel tell the NYS translators to kindly translate these these items?
[COVID SMART NY_Translations_v

[2020-08-28 00:14] mboskin opened #123 "The HTML Entity Names/Numbers are showing up for certain characters in Data Protection Information Notice page."
Android | Galaxy S6+ | 8/27/2020 5:00PM | Raghunath Gajjala

The characters Apostrophe(&#39;) and Quotes(&quot;) are showing up in Entity Name/Number format in Data Protection Information Notice page under App Settings>>Data and Privacy Policy

[2020-08-28 00:16] mboskin opened #124 "Bugs/Suggested UI Enhancements to My Health Log page."
Android | Galaxy S6+ | 8/27/2020 5:30PM | Raghunath Gajjala

Suggested Enhancements:   1.) Clicking on the The NYS Health Hotline number in My Health Log page is not opening the Phone app as it did for call 911.    2.)The link ‘Find a site near you’ is too close to ‘call 911’ button in My Health Log page.

[2020-08-28 00:19] mboskin opened #125 "My COVID Alerts "Setup" Button Not Working to Enable Closeness Sensing"
Android | LG K40 | 8/27/20 5:22 PM | Francisco Torrales

unable to select Update settings on a 2nd attempt via My COVID Alerts in App Settings.   1 - turned off bluetooth on phone    2 - then went into App Settings, Status said it Closeness    Sensing is currently active    3 - I selected Update settings button where I then had to turn on    bluetooth via app.    4 - Selected back    5 - Went back

[2020-08-28 00:20] mboskin opened #126 "The 'Update Settings' button under 'My Covid Alerts' page is not opening up my phone settings."
Android | Galaxy S6+ | 8/27/2020 5:40PM | Raghunath Gajjala

The 'Update Settings' button under 'My Covid Alerts' page (under App Settings menu) is not opening up my phone settings.

[2020-08-28 07:52] colmharte commented on #123
This is an issue with the data on the server, assigning to @segfault

[2020-08-28 08:31] AlanSl commented on #93
On the app side, yes. @segfault are the policies typos ready to retest on your side?

[2020-08-28 10:28] AlanSl commented on #66
Typos fixed

[2020-08-28 10:29] AlanSl commented on #122
Fixed in code, should be fixed in the next build (18?)

[2020-08-28 10:29] AlanSl commented on #55
Fixed in code, should be fixed in the next build (18?)

[2020-08-28 10:31] AlanSl commented on #113
Fixed in code, should be fixed in the next build (18?)

[2020-08-28 11:46] floridemai commented on #25
Also the old card do not exist in the code (i've removed them in another PR). Closing this one.

[2020-08-28 11:46] #25 closed, assigned to fahd-arshad

[2020-08-28 12:41] AlanSl opened #134 "Changes requested to charts"
From a discussion with Alex and Stuart:

- Change bar colour so it can't be confused with the orange of the average line and the difference is definitely accessible
- Add a label explicitly stating what the bars are for so it's unambiguous how they differ to the lines

[2020-08-28 13:17] AlanSl commented on #120
It's possible there might have been a rare bug that could have been caused by the same issue that caused some text to not change language on choosing a new language. That issue is fixed in https://github.com/project-vagabond/covid-green-app/pull/128 so I'm pretty confident that this should not reoccur in the next build.

@floridemai can you give this link a quick test just to be sure it's not devi

[2020-08-28 13:19] fahd-arshad commented on #80
Tested on iOS build 16 and Android build 17. Looks good.

[2020-08-28 13:19] #80 closed, assigned to fahd-arshad

[2020-08-28 13:33] fahd-arshad commented on #79
@AlanSl I am still seeing the in-app charts reporting data only through 8/22, not through 8/28. This needs to be addressed regardless.

Please see the two screenshots I am attaching. One is the visualizer from NYS Open Data, which is the source API - https://health.data.ny.gov/d/xdss-u53e/visualization:
![Data from NYS Open Data Visualizer](https://user-images.githubusercontent.com/68031284/915660

[2020-08-28 13:41] fahd-arshad commented on #56
@floridemai sorry, we changed the URL on you since we filed this ticket. Would you mind redirecting the URL to https://CovidAlertNY.health.ny.gov/ instead of CovidSmart? Thank you.

After fixing please assign to NYS folks to validate. I am not going to be able to test for the next few days. Tks.

[2020-08-28 13:43] fahd-arshad commented on #78
@ahurworth would you mind closing this out once this is verified to be in the build? Tks.

[2020-08-28 13:49] fahd-arshad commented on #81
Thank you for the quick switch to bar charts.

The line should be 7-day **moving** average, calculated each day over the current day+trailing 6 days. This implies the line is unlikely to be flat but should change day to day. I'm assuming we are currently calculating a single average for the 7 days.

If we can't do the moving average for the Columbia study, we should at least turn off this incorrec

[2020-08-28 13:51] fahd-arshad commented on #52
@mboskin @ahurworth would one of you kindly mind testing this for me and closing this out if this works? Tks.

[2020-08-28 13:53] mboskin commented on #52
I have confirmed with Linh that his team will be testing at 4:00 today. I will mark this as ready to test.

Thanks for the notification,
Mike

_____________________

www.nystec.com<http://www.nystec.com/>

From: fahd-arshad <notifications@github.com>
Sent: Friday, August 28, 2020 9:52 AM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc:  Mention <mention@noreply.github.

[2020-08-28 13:54] AlanSl commented on #79
Ah, I see now, we're talking about different APIs.

https://api.dev.ctprox.health.ny.gov/api and https://api.prd.ctprox.health.ny.gov/api (the app data sources) are returning different data to https://health.data.ny.gov/ and  https://covid19tracker.health.ny.gov/

@segfault @mikegwhit Do you know why the app API might be returning different data to the NYS Open Data API? Could one be counting test

[2020-08-28 13:56] fahd-arshad commented on #51
It indeed is a duplicate of 69. Will close based on @kevin-sheldon testing that one (can't get to any overlays ATM).

[2020-08-28 13:57] fahd-arshad commented on #55
@mboskin may I leave this one with you to validate once it's in today's build? This was originally reported by Mahesh. Tks.

[2020-08-28 13:57] #51 closed, assigned to fahd-arshad

[2020-08-28 13:59] AlanSl commented on #79
Also @segfault and @mikegwhit is it possible for us to see the code that does the actual db lookup and calculates the values we get in the app?

[2020-08-28 14:18] stuartgiles commented on #111
Here is the missing icon for "Getting tested"

[health-advice.zip](https://github.com/project-vagabond/covid-green-app/files/5142550/health-advice.zip)

[2020-08-28 14:22] #91 closed, assigned to dharding

[2020-08-28 14:23] #134 closed, assigned to AlanSl

[2020-08-28 14:26] AlanSl commented on #123
I've added some code to the app that decodes any HTML entities it receives. So it should be fixed in the next build (18?) and we're not dependent on it getting fixed on the server.

[2020-08-28 14:26] davidjharding commented on #74
I have separated #74 and #115 to assign the work for me separately.

[2020-08-28 14:28] davidjharding commented on #70
@floridemai I will take a look

[2020-08-28 14:54] dharding opened #140 "Splash screen is missing on Android"
I am not seeing a splash screen on Android. It shows a blank, purple screen.
Note: I do see a splash screen on iOS

[2020-08-28 14:55] dharding opened #141 "Splash screen shows for a brief moment and then moves to a loading indicator"
The app shows a splash screen only while react native is initialized. It then moves into RN and shows a purple screen with a loading indicator. Perhaps this should retain the splash screen while the RN app actually loads the necessary information to display the first screen.

[2020-08-28 15:01] ahurworth commented on #52
I will mark this as closed since "I'm feeling well today" is now not tappable after at least one symptom is selected, but per my discussion with @stuartgiles the styling doesn't meet the bar of perceivably "inactive" IMO.  I will create a new ticket for updating the styling.

[2020-08-28 15:01] #52 closed, assigned to ahurworth, mboskin

[2020-08-28 15:04] ahurworth commented on #97
The styling of the Health Log's inactive state in build 17 has good contrast, but now doesn't meet the bar of perceivably inactive.  I have proposed an update to @stuartgiles .  Waiting for him to confirm the new updated colors and opacities.

[2020-08-28 15:28] floridemai commented on #140
@dharding We're aware of this. I've been sent the following link: https://android.jlelse.eu/the-complete-android-splash-screen-guide-c7db82bce565, but we have yet to choose and implement a solution.
Things to figure out: how do we want to approach it? Is it worth it at this point the time investment against other issues (given it might be a lengthier task... for me at least :)  )

[2020-08-28 15:29] ahurworth commented on #141
We need to show the branded elements on the splash screen up until we transition to the NY COVID Data tab.  We are not seeing them at all in build 17.

[2020-08-28 15:29] #115 closed, assigned to dharding

[2020-08-28 15:32] stuartgiles commented on #115
Attached is a .zip file which contains all graphical assets required for the App and Play stores.
Please contact me or Antoine if anything is out of place.
[App promotion.zip](https://github.com/project-vagabond/covid-green-app/files/5142906/App.promotion.zip)

[2020-08-28 15:34] floridemai commented on #141
@dharding @ahurworth I'll take care of this.

[2020-08-28 15:39] mikegwhit commented on #79
We ran through grabbing updated data from NYS by running the lambda locally.  This seemed to produce data consistent with the expected value above, e.g. 74043.  The presumption here then is that the hospital data rolls in and retroactively applies, e.g. on 8/24 new data for 8/22 arrives and 8/22 data is updated.  Proposed resolution is the ensure stats lambda is running correctly on cron therefore

[2020-08-28 15:51] floridemai commented on #126
@mboskin I think this was happening on older versions. Do you know the version this was tested against?

[2020-08-28 15:55] mboskin commented on #126
Linh, please confirm the following.

Android | Galaxy S6+ | 8/27/2020 5:40PM | Raghunath Gajjala

Yesterday at 5:40 PM they were testing the current build.

_____________________

www.nystec.com<http://www.nystec.com/>

From: Paul Negrutiu <notifications@github.com>
Sent: Friday, August 28, 2020 11:52 AM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc:  Mention <mentio

[2020-08-28 15:55] floridemai commented on #125
@mboskin I think this was happening on older versions. Do you know the version this was tested against?
Also... if I got the issue right, this is something that we're aware of and can't be  solved. But the phone should notify the user that  ENS is not active.
You can read more here: https://github.com/project-vagabond/covid-green-app/issues/8

[2020-08-28 15:59] mboskin commented on #126
Mike, you can cut the loop of comm, just ask Raghu to confirm in the Teams chat for testing
thx

From: Michael Boskin <mboskin@nystec.com>
Sent: Friday, August 28, 2020 11:55 AM
To: project-vagabond/covid-green-app <reply@reply.github.com>; project-vagabond/covid-green-app <covid-green-app@noreply.github.com>; Le, Linh (ITS) <Linh.Le@its.ny.gov>
Cc: Mention <mention@noreply.github.com>
Subject: RE

[2020-08-28 15:59] mboskin commented on #125
Issue that “can’t be solved”.

Inconsistent behavior when Bluetooth is disabled (Android and iOS)

_____________________
Michael Boskin
Senior Consultant, NYSTEC
(518) 496-7667 – Mobile
mboskin@nystec.com<mailto:mboskin@nystec.com>

www.nystec.com<http://www.nystec.com/>

From: Paul Negrutiu <notifications@github.com>
Sent: Friday, August 28, 2020 11:56 AM
To: project-vagabond/covid-green-app <cov

[2020-08-28 16:42] AlanSl commented on #110
@floridemai We're missing the "Get tested" section, is that intentional?

[2020-08-28 16:59] floridemai commented on #112
@mikegwhit Can you re-assign this back to Kevin when the prod api data is correct? Thanks

[2020-08-28 17:01] stuartgiles commented on #97
Sorry @AlanSl, I didn't realise this was waiting for my response.

In the current build, our disabled secondary button is dark grey text on a light grey background.
To increase the visual affordance that this button is now inactive we'd like to lighten the text colour to
`#6E6E6E` or `RGB 110 110 110`.
This is lighter but still within acceptable contrast guidelines.

![Screenshot 2020-08-28 at 17

[2020-08-28 17:34] floridemai commented on #110
@ahurworth This should be now available in the next build. (18 i believe)

[2020-08-28 17:35] floridemai commented on #97
This has been now addressed (in the next build) as per Stuart's comments.

[2020-08-28 18:09] ahurworth opened #144 "Chart Labels Are Not Getting Translated"
Chart labels are not getting translated - see screenshot.

County selector is missing translation, and there are some issues with tab labels, but these are covered by a separate ticket.

![Chart Label Not Translated](https://user-images.githubusercontent.com/68069959/91601729-21a31e00-e938-11ea-9e5b-ef2cbb727640.png)

[2020-08-28 18:23] mboskin commented on #144
Is this the same as issue 112?

[2020-08-28 18:25] mboskin commented on #144
Since I did not create the issue I need to trace it back to Teams for the testers

[2020-08-28 18:25] davidjharding commented on #70
I was able to enter a positive test case code and then agree to share my keys without a crash. Closing.

[2020-08-28 18:25] #70 closed, assigned to dharding

[2020-08-28 18:36] mboskin commented on #55
AlanSI closed. I think it was corrected when the newest translation spreadsheet was loaded.

_____________________

www.nystec.com<http://www.nystec.com/>

From: fahd-arshad <notifications@github.com>
Sent: Friday, August 28, 2020 9:58 AM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc: Michael Boskin <mboskin@nystec.com>; Mention <mention@noreply.github.com>
Subject:

[2020-08-28 18:40] mikegwhit commented on #112
This issue should have been fixed CC @kevin-sheldon

We may still need to push to prod.

[2020-08-28 18:49] dharding opened #145 "Testing board automation"

[2020-08-28 18:50] #145 closed, assigned to nobody

[2020-08-28 18:53] ahurworth opened #146 "Typo on Update Settings button"
Please capitalize the s in the word "Settings" on this button.

![Screenshot_20200827-211346](https://user-images.githubusercontent.com/68069959/91605272-31256580-e93e-11ea-9d2c-74e0f84b8070.png)

[2020-08-28 19:06] mboskin commented on #120
Confirmed fixed by Gajjala, Raghunath

[2020-08-28 19:06] #120 closed, assigned to mboskin

[2020-08-28 20:18] aisegfault opened #148 "Find people to write automated tests"
Find people to write automated tests

[2020-08-28 20:54] floridemai commented on #74
@fahd-arshad This should be addressed in the next build... sorry but not sure which one :(

[2020-08-28 21:51] mboskin opened #149 "Update Settings button in My Covid Alerts in App Settings does not work in some circumstances"
Android | Galaxy S10+ | 8/28/20 12:00 AM | Patrick Brennan

Normally it will bring the user to the Android settings for Exposure Notifications however the button is made non-functional under these circumstances: 1. Use the 'Update Settings' button to go to the Exporsure Notifications settings 2. From that screen reopen the app from the Open button next to the entry for COVID Smart NY. Under these

[2020-08-29 09:53] AlanSl commented on #144
Tab labels issue (rogue `/ n`s etc) is already covered and done, but I think we are missing some chart label translations.

I'll add auto-translations for now

[2020-08-29 10:08] floridemai commented on #126
@mboskin A couple of updates on the ticket:
✔️  I have update the page to be in sync with the other closeness sensing screen. The existing code was old and even if in essence could have worked, it wasn't up to date.
✔️  Updated text to match designs
❗ The reported bug does indeed exist but a couple of notes should be made. Only happens on Android. Only happens when Closeness is active, you tap the

[2020-08-29 10:12] floridemai commented on #119
This was indeed an bug, but in the older versions. In the current version, if you skip, you can go to "My COVID Alerts" tab, there will be a "Turn on" button which will prompt the ENS dialog.

[2020-08-29 10:33] floridemai commented on #53
@fahd-arshad @kevin-sheldon All languages have been updated and should be available in the current build (20).
All fields that were update or added are not in the build. Attaching the file that needs translating and also email it so it can be picked up asap. I'll close the ticket when those translations are sent back to be and app is updated to include them.

[ny-new-translations.xlsx](https://git

[2020-08-29 10:44] floridemai commented on #7
@dharding Is this still an issue?

[2020-08-29 11:26] ahurworth opened #151 "Small Visual "Jumping" Happens on Tab Switch to My Health Log"
Switching between tabs is working well for all tabs except for the Health Log.  If you keep your eye on the tab bar, you'll see it drops down by a few pixels when switching to the Health Log, creating a "jumping" effect.  I've captured this in this video:

I think this may be solved by making "My Health Log" two lines (insert the break after the word "Health"), which was part of the desired design

[2020-08-29 12:31] ahurworth commented on #144
Thanks @AlanSl .  @mboskin to respond to your question - it's a different issue.

[2020-08-29 12:40] floridemai commented on #149
@mboskin More info here: https://github.com/project-vagabond/covid-green-app/issues/126#issuecomment-683268780.
I'd be inclined to keep this one open and close the other one. I added a question label to flag it.

[2020-08-29 12:48] colmharte commented on #126
Changing this low priority, its an edge case and there are simple work arounds

[2020-08-29 13:34] AlanSl commented on #144
We should now be all up to date here except the new Positivity % chart which will be updated in the build after we get the updated translations sheet

[2020-08-29 14:04] kevin-sheldon commented on #119
I retested this, and this looks fine now. Can enable right in app which is preferred.

[2020-08-29 14:04] #119 closed, assigned to mboskin

[2020-08-29 14:05] kevin-sheldon commented on #97
retested from my end and looks fine.

[2020-08-29 14:06] kevin-sheldon commented on #113
retested and looks fine!

[2020-08-29 14:06] #113 closed, assigned to kevin-sheldon

[2020-08-29 14:07] mboskin commented on #119
It’s issue 18 in the MS Teams issues log. Would you mind closing both?

Thanks,
Mike

_____________________

www.nystec.com<http://www.nystec.com/>

From: Kevin Sheldon <notifications@github.com>
Sent: Saturday, August 29, 2020 10:05 AM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc: ; Assign <assign@noreply.github.com>
Subject: Re: [project-vagabond/covid-green-app]

[2020-08-29 14:07] kevin-sheldon commented on #122
Retested and all demographics (except for NYS County, which I think is fine) are now translated.

[2020-08-29 14:08] AlanSl commented on #48
We're getting this in the app from the API now, in English. @segfault will you be adding the translated versions to the API?

The display isn't matching the designs, so I'm going to work on that now for the next build, but the content is there.

[2020-08-29 14:09] kevin-sheldon commented on #74
This appears to be addressed. Fahd is out this weekend, so I am closing on his behalf. Will log new bug if we see any instances of "COVID SMART NY" left on any of the screens.

[2020-08-29 14:09] #74 closed, assigned to fahd-arshad

[2020-08-29 14:12] mboskin commented on #122
Again, I appreciate you going through these. If you close it in GitHub would you mind closing it in Teams?

www.nystec.com<http://www.nystec.com/>

From: Kevin Sheldon <notifications@github.com>
Sent: Saturday, August 29, 2020 10:08 AM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc: ; Assign <assign@noreply.github.com>
Subject: Re: [project-vagabond/covid-green-app] D

[2020-08-29 15:23] floridemai commented on #141
@ahurworth This should be addressed in the next build 👍

[2020-08-29 16:27] AlanSl commented on #140
Since https://github.com/project-vagabond/covid-green-app/pull/152 we show this during app load on Android:

<img width=350 src="https://user-images.githubusercontent.com/29628323/91641390-ed089280-ea1b-11ea-9bab-75afc0104895.jpg" />

It's _technically_ not a splash screen and there is a second or so of flat purple before the branding overlays, but as a long time Android user I'd say this is withi

[2020-08-29 16:33] AlanSl commented on #146
Should be done in next build

[2020-08-29 18:14] AlanSl commented on #124
The telephone links were added yesteday and the spacing fix is going in today's build

[2020-08-29 18:16] AlanSl commented on #78
Checked today and the duration has been updated, which is good, but we're getting 29 days of data in the app instead of 30. I've asked @segfault to look into why this is happening on the API side.

[2020-08-29 18:18] AlanSl commented on #48
From today's build the data policy should show the latest from the API, styled as above, and we're getting the English translation through in the app already. All links to it have been changed to use the correct name.

![image](https://user-images.githubusercontent.com/29628323/91643580-7031e480-ea2c-11ea-9ab0-4c8d6dd79a5a.png)

[2020-08-29 18:24] AlanSl commented on #149
Based on Colm's comment on https://github.com/project-vagabond/covid-green-app/issues/126#issuecomment-683285992 I'm keeping this open in "To do" but changing this to low priority:

- Issue https://github.com/project-vagabond/covid-green-app/issues/126 represents the general case and majority of scenarios where problems like this arise, which we believe to be fixed
- If we agree with Paul's sugges

[2020-08-29 18:28] AlanSl commented on #7
@dharding I see you removed this from "To do", can we close it as Done?

[2020-08-29 18:43] davidjharding commented on #7
Do not close this. We do not need to handle this for launch as it seems to work on device as is. I want to look into this more, I think it may have been an issue related to registering the device that was manifesting as a lack of connectivity.

[2020-08-29 21:50] ahurworth opened #160 "iOS Versions Below Minimum Threshold Do Not Indicate Issues with Closeness Sensing During Onboarding"
I have an iPhone device (intentionally) running an outdated version of iOS (v11.1).  During on-boarding setup, there's no indication that Closeness Sensing isn't possible, or any prompt to update the OS during on-boarding.  The iOS System alert to enable ENS is simply skipped and the user is only prompted to enable Notifications.

Post-onboarding, I do see that the COVID Alerts tab's icon is corre

[2020-08-29 22:08] ahurworth opened #161 "Add an Entry Point to the Symptom Tracker from Within the Health Log Tab"
There's a call to action for the user to track their symptoms from the NY COVID Data tab, but not from the My Health Log tab itself (beyond the first day).  We'd like to add one to the My Health Log tab too.

The Ireland one has this, if we need a reference:

![Screenshot_20200829-180426](https://user-images.githubusercontent.com/68069959/91646888-36f47700-ea22-11ea-8a33-eb62c5507f3f.png)

[2020-08-29 22:14] ahurworth opened #162 "The button to allow the user to enter their symptoms should be visible after midnight their time"
At the moment the button seems to only appear 24(?) hours after the user's prior entry.  It would be better to allow the user to be able to enter symptoms at any time during their next day, so let's make this any time after midnight, based on their device's local time.

[2020-08-29 22:44] ahurworth commented on #110
I see it :). Thanks @floridemai

[2020-08-29 22:44] #110 closed, assigned to ahurworth

[2020-08-29 22:46] ahurworth commented on #111
Looks good, thanks.

[2020-08-29 22:46] #111 closed, assigned to ahurworth

[2020-08-29 22:53] ahurworth commented on #16
Through the debug tool, I'm not seeing this at all on Android.  On iPhone, I'm sometimes seeing it, but on tap, I'm not landing in the drilled in view.  It's just opening the app using its retained state.

[2020-08-30 11:52] AlanSl commented on #162
I believe this is being worked on by @jackmurdoch already as part of the backend work for https://github.com/project-vagabond/covid-green-app/issues/104

[2020-08-30 12:31] colmharte commented on #162
@AlanSl the button appearing or not is client side. Jack is not working on this part. Can you fix on app side?

[2020-08-30 13:22] AlanSl opened #164 "Make all browser web links blue, not purple"
In particular "Find a site near you" on the todo list:

![image](https://user-images.githubusercontent.com/29628323/91660077-d9b50000-eacb-11ea-9694-8e946e171f68.png)

As reported and discussed on Slack:

---

---

[2020-08-30 13:36] AlanSl commented on #162
@ahurworth Can you please confirm which build version of the app you had seen this in? (and is this on Android?)

The behaviour you ask for is how the app has always been designed, however, there was a bug (fixed in build 21, latest build from yesterday) that caused the button to sometimes fail to appear. If you saw this in build 20 or before, it should be working as expected now, in builds 21 and

[2020-08-30 14:28] ahurworth commented on #162
Looks good.  Thanks @AlanSl .

[2020-08-30 14:28] #162 closed, assigned to ahurworth

[2020-08-30 14:49] AlanSl commented on #161
I agree and was thinking the same thing while testing the symptoms checker flow yesterday.

I was planning to talk to @stuartgiles about this on Monday but since you've requested it I've put the basics in for today's build, matching the dashboard link card, so the functionality is there at least.

We'll probably iterate on the design (e.g. I'm sure Stuart can improve on the double "My Health Log")

[2020-08-30 14:55] AlanSl commented on #82
The positivity rate charts have been present since (I think) build 17 and have had full data including rolling averages since build 20.

[2020-08-30 15:00] AlanSl commented on #81
The moving averages were coming out flat before because they were calculated from the data the API gave us, which at the time only provided 7 days of data.

We're now getting the full data and server-side average calculations since yesterday (build 20).

[2020-08-30 15:01] AlanSl commented on #79
This appears to be fixed on the server side now that the lambda is running more frequently.

[2020-08-30 15:03] floridemai commented on #160
@ahurworth That should not happen in the latest build. Can you record that and send it (here or private). I want to see if something's odd is happening on the transition. Also can you confirm that "My COVID Alerts" shows the check for updates notification?

[2020-08-30 15:03] AlanSl commented on #164
I've set the blue to be the default for all links coming from translated text in https://github.com/project-vagabond/covid-green-app/pull/166

Should show in the next build

[2020-08-30 15:07] #61 closed, assigned to nobody

[2020-08-30 16:14] floridemai commented on #151
@ahurworth Can you re-check this in the next build?

[2020-08-31 09:38] helloantoine commented on #161
Looks good to me.
One detail. Maybe not be specific to this screen but sharing anyway. The margin left, right and top should be the same. On your screenshots it seems bigger for some reason. It would help make more content available and be more consistent as well. Thanks.
![preview](https://user-images.githubusercontent.com/16833643/91706240-06bded00-eb76-11ea-8f88-36c64c26d7f0.png)

[2020-08-31 09:54] #67 closed, assigned to kevin-sheldon

[2020-08-31 09:58] helloantoine opened #169 "Usability issue. NY COVID Data tab. Graph not contrasted enough."
**Issue:**
![Image from iOS (2)](https://user-images.githubusercontent.com/16833643/91707942-79c86300-eb78-11ea-91a9-306f333c1333.png)
Orange and light gray on white background do not pass contrast checker.
Font size for the value of the left is too small.

**Solution:**
Increase font size slightly and colours. Mockup to be done.

[2020-08-31 10:09] helloantoine opened #170 "Cosmetic issue. Potential Markdown not interpreted correctly in My COVID Alerts card"
Issue:
![Image from iOS](https://user-images.githubusercontent.com/16833643/91708934-ef80fe80-eb79-11ea-8802-ae660b47c224.png)
Syntax to make the text 'Note:' in bold is not interpreted.
Steps to reproduce: On iOS, turn OFF the bluetooth. Go to the My COVID Alerts tab.
Solution: ~~Sick & Destroy~~ Investigate & Solve

[2020-08-31 10:44] helloantoine opened #172 "Usability Issue. Missing pressed states"
Issue:We are missing some visual feedbacks when tapping on interactive elements.
Steps to reproduce: Happens on tabs, fields and cards with a link
Solution: Added a mockup of various elements in their pressed state:
![Pressed states](https://user-images.githubusercontent.com/16833643/91712260-4b01bb00-eb7f-11ea-9130-c6eef70a22fe.png)
https://zpl.io/b6rpMRW

[2020-08-31 11:41] #144 closed, assigned to ahurworth

[2020-08-31 12:07] ahurworth commented on #161
Thanks @AlanSl .  Looking good.

@helloantoine What do you think to removing the word "My Health Log" within the button and re-positioning it below the My Health Log title, but above the collection of Submitted entries?

[2020-08-31 12:37] AlanSl commented on #169
@helloantoine Send me a colour for the bars and I'll get this done, just FYI I'll need to increase the amount of space given to the Y axis so might need to reduce the number of labels on the x axis

[2020-08-31 12:38] AlanSl commented on #161
If you agree with that suggestion @helloantoine I'll get it done at the same time as the margin adjustements

[2020-08-31 13:32] floridemai commented on #8
There is nothing to add to this. Describes perfectly how the app behaves.

[2020-08-31 13:34] kevin-sheldon commented on #56
I retested this and it looks good from my end.

[2020-08-31 13:34] #56 closed, assigned to kevin-sheldon

[2020-08-31 13:35] kevin-sheldon commented on #53
Second round of translations with DOH translators are in progress. Will send them over to Paul as soon as we get them back.

[2020-08-31 13:35] #66 closed, assigned to kevin-sheldon

[2020-08-31 13:36] kevin-sheldon commented on #112
I now see county data in the test app. Let me know if there is anything that the NF team needs to do before we close this.

[2020-08-31 13:37] kevin-sheldon commented on #5
@dharding Can we close this. We have identified testers for both OS and with multiple screen sizes.

[2020-08-31 13:37] kevin-sheldon commented on #6
@dharding is this still  open?

[2020-08-31 13:38] kevin-sheldon commented on #35
Is this still an open item? It is not assigned to anyone. @ShaunBaker @dharding

[2020-08-31 13:39] kevin-sheldon commented on #15
Can we close this? This is not assigned to anyone. @ShaunBaker

[2020-08-31 13:40] kevin-sheldon commented on #48
This  looks good from my end. @fahd-arshad can we close this?

[2020-08-31 13:41] kevin-sheldon commented on #81
@ahurworth were  you able to test  this from your end? I tested from my end and I see the appropriate bar charts with 7-day avg line.

[2020-08-31 13:43] kevin-sheldon commented on #104
I see that #162 was closed. Is this the same issue? If so, can we close?

[2020-08-31 14:08] AlanSl commented on #104
@kevin-sheldon They're not the same issue.

My understanding is that the "Critical" side of this has been addressed in other issues, but there is still a little ongoing server side work specific to this issue, ensuring that the server-side validation is perfectly in sync.

[2020-08-31 14:31] #170 closed, assigned to AlanSl

[2020-08-31 14:41] davidjharding commented on #5
@kevin-sheldon we can close this for now. When we apply some more automation in the future, we will want to choose a representative set of devices on which to run tests.

[2020-08-31 14:41] #5 closed, assigned to dharding

[2020-08-31 14:42] davidjharding commented on #6
@kevin-sheldon yes, this is still open, but not in the launch plan.

[2020-08-31 15:19] helloantoine commented on #169
![colors](https://user-images.githubusercontent.com/16833643/91736498-a9da2b00-eba5-11ea-9109-5d4dbee3961c.png)
Final designs. Discussed with Alex.

bars: #ACAFC4
line: #CD4000
outline: #FFF

[2020-08-31 15:24] helloantoine commented on #169
![Image from iOS (1)](https://user-images.githubusercontent.com/16833643/91736924-54524e00-eba6-11ea-89e1-a23387aee94d.png)
Also. The 100k is cropped on the Y-Axis of the current graph.

[2020-08-31 16:53] helloantoine commented on #161
Agreed.

[2020-08-31 16:59] ahurworth opened #178 "If the user loses connectivity during on-boarding, they simply see a spinner"
If the user doesn't have connectivity, they see a spinner during on-boarding at the moment when they should see the prompt to enable ENS.

The user should be informed that they need to check their connectivity.

[2020-08-31 17:07] AlanSl commented on #178
@ahurworth Is this iOS or Android? Can you please share a video so we can see the exact flow?

On Android I don't see this and it seems to work for me: if I disconnect during onboarding I get an error notice saying I'm disconnected and should try again

[2020-08-31 17:09] AlanSl commented on #178
<img width=320 src="https://user-images.githubusercontent.com/29628323/91746789-10b31080-ebb5-11ea-8519-c0ce6b450c54.jpg" />

[2020-08-31 17:21] AlanSl commented on #36
I'm setting this as `low` because the text changes have been done which is the main part.

For the icon, I've got an open PR that does that here https://github.com/project-vagabond/covid-green-app/pull/171 - I don't want to merge it right now because it adds a dependency that adds a lot of native code that I'd like to test more than I currently have time to.

[2020-08-31 17:22] AlanSl commented on #169
Done in https://github.com/project-vagabond/covid-green-app/pull/175

[2020-08-31 17:22] #169 closed, assigned to helloantoine, AlanSl

[2020-08-31 17:48] AlanSl commented on #104
@colmharte has confirmed that enough has been done on the backend here that we can indeed downgrade the priority. There's still a little to do but it's no longer critical.

[2020-08-31 17:51] AlanSl commented on #112
@kevin-sheldon No, you can close this, thanks

[2020-08-31 17:51] #112 closed, assigned to kevin-sheldon

[2020-08-31 17:52] AlanSl commented on #17
@colmharte has confirmed that this is done

[2020-08-31 17:52] #17 closed, assigned to ShaunBaker, fiacc, colmharte, jackmurdoch

[2020-08-31 21:19] fahd-arshad commented on #48
Yes. I can confirm this is in good shape now.

[2020-08-31 21:19] #48 closed, assigned to segfault, fahd-arshad

[2020-08-31 23:23] ahurworth commented on #161
I just reviewed build 22.  Looks good!

[2020-08-31 23:23] #161 closed, assigned to helloantoine, AlanSl, ahurworth

[2020-08-31 23:24] ahurworth opened #182 "Update Chart Titles to be Title Case"
Please kindly update the chart titles to be title case instead of sentence case.

Total Persons Tested
Percent Tested Positive
Total Tested Positive

[2020-08-31 23:27] ahurworth opened #183 "Update County Picker Values"
In both the Health Log symptom tracker, and the charts filter, please update the values in the County picker as follows:

Change "Kings" to be "Kings (Brooklyn)"
Add a 2nd value "Brooklyn (Kings)"
Change "New York" to "New York (Manhattan)"
Add a 2nd value "Manhattan (New York)"
Change "Richmond" to "Richmond (Staten Island)"
Add a 2nd value "Staten Island (Richmond)"

Residents of Brooklyn, Manha

[2020-09-01 00:14] ahurworth opened #184 "Chart Legend Label Wrapping on SE iPhone: Reduce Line Height"
On the SE iPhone (1st gen - i am not sure about 2nd gen, but i would assume so), the 7-day average legend label wraps.  We should reduce the line height between the two words (see screenshot below):

![IMG_DF1741078FA1-1](https://user-images.githubusercontent.com/68069959/91780674-3694e100-ebc6-11ea-920d-55b1732cc5e4.jpeg)

[2020-09-01 00:28] ahurworth commented on #160
It does thanks!  All appears to be working since build 21.  Thank you.

[2020-09-01 00:28] #160 closed, assigned to ahurworth

[2020-09-01 10:41] helloantoine opened #185 "Visual issue. Design of the card 'Learn how to keep others safe' inconsistent in the Health Log symptoms page"
**Issue:** Design of the card 'Learn how to keep others safe' inconsistent in the Health Log symptoms page.
![Image from iOS](https://user-images.githubusercontent.com/16833643/91838651-bada7900-ec45-11ea-8d5f-0a774451dbf7.png)
**Steps to reproduce:**  Do a full Heath Check and you should arrive to the Symptoms Log
**Solution:** Use the same component as the 'Learn how to ..'  card in MY COVID Ale

[2020-09-01 11:33] helloantoine opened #186 "Cosmetic. Thickness of white outline in the graph"
Issue:
![Image from iOS (1)](https://user-images.githubusercontent.com/16833643/91844244-fe85b080-ec4e-11ea-8017-2452ea35f903.png)

Solution: Make the white stroke thinner (below the brown stroke). If it's 5px thick, make it 3px.
![Screenshot 2020-09-01 at 12 31 27](https://user-images.githubusercontent.com/16833643/91844311-21b06000-ec4f-11ea-9d4d-5191e4e48e6a.png)

[2020-09-01 13:11] fahd-arshad commented on #35
@colmharte @fiacc who should take this on if it is still important to do?

[2020-09-01 13:14] fahd-arshad commented on #15
This is implemented as "How it works" feature. A couple of minor things need to be done, like hooking it up to the Settings page so you can get back to it, but those can be tracked separately.

[2020-09-01 13:14] #15 closed, assigned to nobody

[2020-09-01 13:19] fahd-arshad commented on #183
This change should also apply to the County Picker in the "NY COVID Data" tab.

In both cases, the data sent back to the API should remain "Kings", "New York", and "Richmond" even if the user picks the more user-friendly variants, so that there are no issues with data collection and API responses.

[2020-09-01 13:30] fahd-arshad commented on #124
I was able to validate that the phone number works on Android in build 22.
Samsung Galaxy 10 (SM-G970U) Android 10 One UI 2.1

[2020-09-01 13:30] #124 closed, assigned to mboskin

[2020-09-01 13:37] fahd-arshad commented on #79
@AlanSl @mikegwhit thank you. The data looks much better now, but it seems to still be off by 1 day. For example, right now our screens show us the last label as 29 Aug, but that same bar on the two source sites above is Aug 30. You can easily tell because there were 3 days of high, nearly 100k tests, and then the latest bar is a dramatically lower number (closer to 60k). The shape and the data ar

[2020-09-01 13:46] fahd-arshad commented on #55
This seems to work now.

[2020-09-01 13:46] #55 closed, assigned to mboskin

[2020-09-01 13:50] fahd-arshad opened #187 "Order of languages presented in "My Languages" should be alphabetical"
Please reorder the languages in the "My Language" section by alphabetical order.

Bengali
Chinese
English
Haitian Creole
Korean
Russian
Spanish

[2020-09-01 13:54] fahd-arshad commented on #53
We need to ask our translators if County names need to be translated, from both the symptom picker demographics question as well as the Data tab. Fahd is emailing Steve S.

[2020-09-01 14:01] willslone opened #188 "Screen titles not identified as headings [iOS]"
The following screen titles are not announced as headings by VoiceOver.

- “Help stop the spread …” text on the Onboarding Introduction screen
- “Set Up Closeness Sensing …” text on the Onboarding ENS Intro screen
- “How it works” text on the How it works screens
- “Closeness Sensing and COVID Alerts are active” text on the Onboarding Confirm Success screen
- “NY COVID Data” text on the NY COVID D

[2020-09-01 14:02] fahd-arshad commented on #82
Thank you!

[2020-09-01 14:02] #82 closed, assigned to fahd-arshad, ahurworth

[2020-09-01 14:03] fahd-arshad commented on #81
The data is showing up properly. The visuals are being worked on in other tickets. Thank you!

[2020-09-01 14:03] #81 closed, assigned to ahurworth

[2020-09-01 14:06] fahd-arshad commented on #78
@segfault can you kindly double-check why we are not getting the full 30 days of data flowing in?

Also, please see the label issue at https://github.com/project-vagabond/covid-green-app/issues/79#issuecomment-684859295 if the two are related somehow.

[2020-09-01 14:08] fahd-arshad commented on #63
@colmharte do you know if we ran the Xcode Accessibility Checker and whether these issues have been identified?

[2020-09-01 14:13] willslone opened #190 "“Share” button with an insufficient accessible name [iOS]"
There is a graphical button on numerous screens that opens the typical “share” activity view commonly seen in iOS applications. The button has an accessible name of “View or amend application settings”, which suggests that the button takes you to a view where specific application settings can be viewed/changed.

![Graphical button focused with VoiceOver and announced as “View or amend application

[2020-09-01 14:15] segfault commented on #78
It looks like max age is exclusive https://github.com/project-vagabond/covid-green-regional-lambdas/blob/current/stats.js#L35
I can bump the value and we should capture the last day.

[2020-09-01 14:19] fahd-arshad commented on #8
@colmharte @dharding regarding "Note that on android ens api does not report when Bluetooth is off so it is expected that app shows as tracing active." Would this be something we raise with Google then? What's the best way to move forward here? We probably don't want the situation where an Android user is given incorrect status.

[2020-09-01 14:21] fahd-arshad commented on #125
Closing this ticket since we have an older #8 that has more detail on this issue. The specific problem of the "Update Settings" button that the tester found non-operational on Android has been fixed.

[2020-09-01 14:21] #125 closed, assigned to mboskin

[2020-09-01 14:25] fahd-arshad commented on #8
@colmharte @dharding Do Android APIs let us directly query the status of BT? If so, can we get around this issue by checking both ENS and BT at least on Android, and if BT is off we know to warn the user that ENS is disabled, even though Android falsely claims that it isn't?

[2020-09-01 14:31] willslone opened #191 "“Close” graphical button lacks an accessible name and a role of button [iOS]"
The “close” graphical buttons found in the top left corner of the How it works screens lack accessible names and do not convey a role of button. Nothing is announced when the buttons are focused using VoiceOver.

![Close graphical button focused with VoiceOver and nothing is announced](https://user-images.githubusercontent.com/4437084/91864327-14d74080-ec3e-11ea-8391-b34c23e0f625.png)

Use the acc

[2020-09-01 14:42] willslone opened #193 "Focus management after closing overlays [iOS]"
Closing overlays does not properly return focus back to the the button that is responsible for triggering the overlay on the previous screen, instead focus moves back to the top of the screen. The one exception is the “close” button found on the bottom right corner of the last (step 4) “How it works” screen. Focus is managed properly when closing the overlay with that specific button.

[2020-09-01 15:02] willslone opened #195 "Step indicator is not in the reading order [iOS]"
The step indicator found on the “How it works” screens is not included in the reading order. The visual information it provides is not available to VoiceOver users. I would suggest including it in the reading order and providing a proper text alternative (e.g., “Step 2 of 4”).

![Step indicator that indicates visually that the user is on step 2 of 4](https://user-images.githubusercontent.com/44370

[2020-09-01 15:06] fahd-arshad commented on #123
Looks good now.

[2020-09-01 15:07] #123 closed, assigned to segfault, mboskin

[2020-09-01 15:12] fahd-arshad commented on #93
@mboskin can you kindly have this tested again and close out if all issues are resolved?

[2020-09-01 15:15] willslone opened #196 "Buttons on the “How it works” screens do not have a role of button [iOS]"
The “Previous”, “Next“, and “Close” buttons found at the bottom of the “How it works” screens do not convey a role of button. For example, the “Next” button is simply announced as “Next” by VoiceOver.

![“Next” button focused by VoiceOver and announced as “Next”](https://user-images.githubusercontent.com/4437084/91869820-51a63600-ec44-11ea-98b5-950183ac2a22.png)

Use the accessibilityRole attribut

[2020-09-01 15:26] colmharte commented on #8
We cannot query BT via ENS and cannot query BT directly. This issue can only be resolved if Google make the status of BT available through ENS. There is nothing more we can currently do with this so we should close this issue.

[2020-09-01 15:38] willslone opened #197 "“Select your county” button has an insufficient accessible name and lacks a role of button [iOS]"
The “select your county” button found on the “NY COVID Data” screen is labeled by whichever county is currently selected (e.g., “Albany”). Without the visual information provided by the “filter” icon and the surrounding content, VoiceOver users are unlikely to understand the purpose of the button without activating it and exploring the next screen. The button also does not convey a role of button.

[2020-09-01 15:44] segfault commented on #78
I've bumped the cutoff value to 2,678,400,000 and I'm pulling in @mikegwhit to look at the code and underlying data.

[2020-09-01 15:46] segfault commented on #93
We should hopefully be good on this front. Do we have translations?

[2020-09-01 15:46] willslone opened #198 "Graphs have insufficient text alternatives [iOS]"
The graphs found on the “NY COVID Data” screen have insufficient text alternatives. For example, the “Total persons tested” graph has an accessible name of “594 undefined, Graph showing daily tests over time”. The actual data of the graph is unavailable to VoiceOver users. For example, the accessible name could be “Daily tests over time, August 01 600, August 07 650, August 13 1000, August 19 1200

[2020-09-01 15:56] fahd-arshad commented on #49
@mboskin the debug menu allows access to the Exposure UI flows now including the alert (I tested build 22 on iOS). Is this enough for NYS? Currently you can't get to the error conditions directly. If you need this for QA, bump up the priority accordingly.

[2020-09-01 16:00] helloantoine opened #199 "Feature. Split settings and add a link to 'Learn how the apps works'"
**Design:**
[(https://nearform.invisionapp.com/share/NZY402QAG3Q#/428298602_settings)](https://nearform.invisionapp.com/share/NZY402QAG3Q#/428298602_settings)

**Link opens up:** [https://nearform.invisionapp.com/share/NZY402QAG3Q#/428105724_how-It-Works-1](https://nearform.invisionapp.com/share/NZY402QAG3Q#/428105724_how-It-Works-1)

@ahurworth

[2020-09-01 16:34] floridemai commented on #182
I've added a translation label to this. We'll probably get more of these and update the translations at once. cc @fahd-arshad

[2020-09-01 17:04] helloantoine opened #201 "Cosmetic. Tiny copy tweaks"
**Before/After**

Get started **BECOMES** Get Started
How it works **BECOMES** How It works
If there’s a match, the app displays a COVID Alert. **BECOMES** If there’s a match, the app will display a COVID Alert.
You can change your mind at any time by going to App Settings **BECOMES** You can change your mind at any time by going to App Settings.
Yes I'd like to start my log **BECOMES** Yes, I’d L

[2020-09-01 17:04] helloantoine commented on #201
For visual reference.
[COVID copy fixes - 8_31.pdf](https://github.com/project-vagabond/covid-green-app/files/5157777/COVID.copy.fixes.-.8_31.pdf)

[2020-09-01 18:09] mboskin commented on #93
Fahd,

Given these minor typos are grammar, do you think we need to get them retranslated?

Thanks,
Mike

www.nystec.com<http://www.nystec.com/>

From: Mark Guzman <notifications@github.com>
Sent: Tuesday, September 1, 2020 11:47 AM
To: project-vagabond/covid-green-app <covid-green-app@noreply.github.com>
Cc: ; Mention <mention@noreply.github.com>
Subject: Re: [project-vagabond/covid-green-app] Mi

[2020-09-01 18:14] mboskin commented on #49
Kevin,

This is your decision, not mine. Issue #49 (filed by Fahd) is:
“For QC purposes, we need an "internal" menu to jump to the screens/states that are otherwise inaccessible, such as proximity alerts, positive cases, error conditions, etc.”

Their response is:

“the debug menu allows access to the Exposure UI flows now including the alert (I tested build 22 on iOS). Is this enough for NYS? Cur

[2020-09-01 18:17] mboskin commented on #93
The English version was retested and passed. Other than the question about translation, this can be closed.

[2020-09-01 18:27] #148 closed, assigned to dharding

[2020-09-02 05:33] fahd-arshad commented on #8
As per Colm's update above.

[2020-09-02 05:52] fahd-arshad commented on #93
@mboskin yes, we do need this to be looked at again. I can see it fully translated in Bengali but none of the content is translated in Korean, or Spanish. We should recheck in all languages and translate. Privacy policy is important to get right.

[2020-09-02 08:48] JohnAGill commented on #186
This has been fixed and will be in the next build

[2020-09-02 09:55] helloantoine opened #206 "Translation issue. NY COVID Data tab."
**Device:** Lenovo P2, Android 9
**Issue:** Probably a copy/paste issue. The field underlined never gets translated.
**Steps to reproduce** Go to NY COVID tab with language settings set to any language except the 5th one.
![Screenshot 2020-09-02 at 10 51 01](https://user-images.githubusercontent.com/16833643/91966955-78c73b00-ed0a-11ea-9024-5e59e37e0b46.png)

![Screenshot_20200902-105352_Pixel_Lau

[2020-09-02 10:36] helloantoine opened #207 "Language option in settings crashes the app on iOS"
**Device** iPhone SE2
**Issue:** App crashes
**Steps to reproduce** Go to Settings > Languages

[2020-09-02 11:03] helloantoine opened #208 "Visual issue. Call 911 card not responsive when text is longer."
**Issue:** Text doesn't wrap properly and conflicts with the arrow.
**Solution:** Reduce width of the block text
![Screenshot_20200902-115916_COVID_Alert_NY](https://user-images.githubusercontent.com/16833643/91973508-48849a00-ed14-11ea-9473-0a22682ba142.png)
![Screenshot_20200902-120220_COVID_Alert_NY](https://user-images.githubusercontent.com/16833643/91973518-4ae6f400-ed14-11ea-9970-d986b4edfef

[2020-09-02 11:06] helloantoine opened #209 "Visual issue. Markdown formatting not interpreted"
Issue: ** not interpreted as bold in languages other than English, in the **Learn how to keep other safe** page
Solution: Fix it! :)
![Screenshot 2020-09-02 at 12 05 16](https://user-images.githubusercontent.com/16833643/91973774-b5982f80-ed14-11ea-9782-ed071d0a9afa.png)

[2020-09-02 11:29] helloantoine opened #211 "Cosmetic Issue. Background of the app slightly off"
**Issue** It seems the background of the app is neutral gray instead of tinted gray.
**Solution** Make sure background of the app is: #F3F3F8
![Screenshot 2020-09-02 at 12 29 38](https://user-images.githubusercontent.com/16833643/91975874-fd6c8600-ed17-11ea-89de-920a771105dd.png)

[2020-09-02 11:34] helloantoine opened #212 "Visual issue. Cards styling is off"
**Issue:** Styling of the cards is off across the app.
**Solution:** Make sure height of the card, padding and arrow size are correct. https://zpl.io/bWOzkyk

![Screenshot 2020-09-02 at 12 31 51](https://user-images.githubusercontent.com/16833643/91976038-49b7c600-ed18-11ea-8dc2-88178200f15c.png)

[2020-09-02 12:14] floridemai commented on #185
@helloantoine Should be fixed in the next release

[2020-09-02 13:22] jonnyjames opened #216 "“Share” button with an insufficient accessible name [Android]"
The "Share" button label is currently announced by TalkBack as "view or amend application settings". This does not accurately convey the button's "share" functionality. Ensure the button's label conveys its "Share" function, since its purpose is not to change the application settings

![data Tab - Share button](https://user-images.githubusercontent.com/7034772/91988488-4fec7900-ecfd-11ea-9933-712d

[2020-09-02 13:31] jonnyjames opened #217 "Screen titles and headings not identified [Android]"
The following screen titles are not announced as headings by TalkBack.

“Help stop the spread …” text on the Onboarding Introduction screen
“Set Up Closeness Sensing …” text on the Onboarding ENS Intro screen
“How it works” text on the How it works screens
“Closeness Sensing and COVID Alerts are active” text on the Onboarding Confirm Success screen
“NY COVID Data” text on the NY COVID Data screen

[2020-09-02 13:46] jonnyjames opened #218 "Buttons on the “How it works” screens do not have a role of button [Android]"
The “Previous”, “Next“, and “Close” buttons found at the bottom of the “How it works” screens do not convey a role of button. For example, the “Next” button is simply announced as “Next” by TalkBack.

![how-it-works - Previous Next buttons](https://user-images.githubusercontent.com/7034772/91991502-f8500c80-ed00-11ea-8434-9819765275f8.png)

![how-it-works - Close button](https://user-images.github

[2020-09-02 13:54] helloantoine opened #219 "Cosmetic issue. Incorrect styling for warnings"
**Issue:** Incorrect styling for warnings
**Solutions** Make sure to use #DC0000 across the app for the warning color.
https://zpl.io/VOORYNl

![Screenshot 2020-09-02 at 14 52 04](https://user-images.githubusercontent.com/16833643/91992425-09624300-ed2c-11ea-9325-794a7d164eba.png)

[2020-09-02 13:56] jonnyjames opened #220 "Step indicator is not in the reading order [Android]"
The step indicator found on the “How it works” screens is not included in the reading order. The visual information it provides is not available to TalkBack users. I would suggest including it in the reading order and providing a proper text alternative (e.g., “Step 2 of 4”).

![how-it-works - pagination controls](https://user-images.githubusercontent.com/7034772/91992747-7eb91e00-ed02-11ea-9f34-8

[2020-09-02 13:59] helloantoine opened #222 "Usability. Incorrect voiceover on the share icon"
**Issue:** Incorrect voiceover on the share icon
**Solution:**
It says: "View or amend application settings, possibly share"
It should say: "Share application with someone"
![Image from iOS (3)](https://user-images.githubusercontent.com/16833643/91992852-87bee500-ed2c-11ea-94ef-ac635a159d3b.png)

@ahurworth

[2020-09-02 14:13] helloantoine commented on #140
FYI. Today, on Lenovo P2. I see a flat purple screen for 1 s. then the screen above from Alan loads then the page loads.

[2020-09-02 14:18] helloantoine opened #224 "Usability. Voiceover not reading 'Find a site near you' as a link"
Issue: In the page 'Learn how to keep others safe' , the link  'Find a site near you' in Get tested is not actionable
Solution: Make sure the element is detected as a link
![Image from iOS (5)](https://user-images.githubusercontent.com/16833643/91995135-58f63e00-ed2f-11ea-998f-7f0823fb74d1.png)

[2020-09-02 14:34] helloantoine opened #226 "Usability Issues. Large font size settings. Some texts are cropped others break the layout"
Issue in the visual. Solutions in the list below:
- [ ] Onboarding. How it works. Cap the title as well as the Previous/Next text sizes
- [x] Cap line height in graphs of the Data tab
- [x] Selectors are close to unusable with very large fonts and keyboard open. Ca the text size.
- [x] My health log. Symptoms list breaks the card. Wrap the text (and cap the text size if needed)

@ahurworth

![Imag

[2020-09-02 14:46] helloantoine opened #227 "Cosmetic issue. Cropped text in text fields when font size of device a bit larger"
Issue: Text is cropped
Where: My COVID Alerts > What to do if... > Share your Close Contact Codes
Solution: Fix it.

![image_from_ios](https://user-images.githubusercontent.com/16833643/91998508-3534f700-ed33-11ea-9917-0a6e9ad6b234.png)

@ahurworth

[2020-09-02 14:58] helloantoine opened #228 "Content. Delete my data. Content should be different for iOS and Android"
**Where:** App Settings > Delete my data
**Issue:** Content was designed to be specific for Android or iOS. Not implemented as such.
**Solution:**
iOS content is:
https://nearform.invisionapp.com/share/NZY402QAG3Q#/428733342_settings-Leave-IOS

Android content is:
https://nearform.invisionapp.com/share/NZY402QAG3Q#/428733343_settings-Leave-Android

**Only the last paragraph changes:**
//iOS
To del

[2020-09-02 14:59] jonnyjames opened #229 "Tabbed navigation interface doesn't convey role/state [Android]"
For the tabbed navigation interface at the bottom of the **health intro** screens, the tabs are **not** marked up as buttonsm, and the 'selected" state for the tabs isn't conveyed to TalkBack users. TalkBack users may not understand which button (tab) is currently selected.

![health intro - tabbed interface selected button](https://user-images.githubusercontent.com/7034772/92000286-5d106480-ed0b-

[2020-09-02 15:03] jonnyjames opened #230 "Tabbed navigation interface lacks proper list semantics [Android]"
Without the use of list semantics, the tabbed navigation interface doesn't convey to TalkBack how many button tabs are present. The interface has 4 buttons "NY COVID Data", "My Health Log", "My COVID Alerts", and "App Settings", and should be announced as "NY COVID Data, tab, button, 1 of 4", "My Health Log, tab, button, 2 of 4", and so on.

![health intro - tabbed interface selected button](https

[2020-09-02 15:11] JohnAGill commented on #183
This has been completed and should be in the next release

[2020-09-02 15:13] JohnAGill commented on #219
This has been completed and should be in the next release

[2020-09-02 15:15] helloantoine commented on #230
As well, we should callout the active tab:
In our case: "My Health Log, **selected** tab, button, 2 of 4"

[2020-09-02 15:33] jonnyjames opened #231 "“Select your county” button has an insufficient accessible name and lacks a role of button [Android]"
The “select your county” button found on the “NY COVID Data” screen is labeled by whichever county is currently selected (e.g., “Albany”). Without the visual information provided by the “filter” icon and the surrounding content, TalkBack users are unlikely to understand the purpose of the button without activating it and exploring the next screen. The button also does not convey a role of button.

[2020-09-02 15:40] JohnAGill commented on #178
This has been addressed and will be in the next release

[2020-09-02 15:52] AlanSl commented on #206
Done in https://github.com/project-vagabond/covid-green-app/pull/214, should be fixed in next build

[2020-09-02 15:53] AlanSl commented on #199
Done in https://github.com/project-vagabond/covid-green-app/pull/213, should be fixed in next build

[2020-09-02 15:57] helloantoine commented on #36
Hi @AlanSl.
Not sure if it's still work in progress. I do see the updated text in iOS but not in Android. iOS icon still missing.

![Image from iOS (5)](https://user-images.githubusercontent.com/16833643/92006681-f73cd080-ed3c-11ea-94dc-78a0e53a7bfe.png)

![screenshot_20200902-164054_android_system](https://user-images.githubusercontent.com/16833643/92007044-5864a400-ed3d-11ea-8b4e-bb3f2b3845b1.pn

[2020-09-02 16:23] jonnyjames opened #232 "Graphs have insufficient text alternatives [Android]"
The graphs found on the “NY COVID Data” screen have insufficient text alternatives. For example, the “Total persons tested” graph has an accessible name of “76997 undefined, Graph showing daily tests over time”. The actual data of the graph is unavailable to TalkBack users. For example, the accessible name could be “Daily tests over time, August 2nd [number of persons tested], August 8th [number o

[2020-09-02 16:59] helloantoine opened #233 "[DESIGN ONLY] Graph improvement"
Requirement: On the data tab, time series graph are lacking having the **Latest value**.  Need exploration adding it.

@ahurworth @fahd-arshad

[2020-09-02 17:52] willslone opened #234 "Tabbed navigation interface doesn’t convey role/state [iOS]"
The tabbed navigation items are announced without any role information and the selected tab does not convey its selected state to VoiceOver users. For example, the “My Health Log” tab control is simply announced as “My Health Log” by VoiceOver.

![“My Health Log” tab control focus with VoiceOver and announced as “My Health Log”](https://user-images.githubusercontent.com/4437084/92018046-a02a0200-e

[2020-09-02 18:03] jonnyjames opened #235 ""Share Your Close Contact Codes" entries are clipped [Android]"
The user "Close Contact Code" entries are clipped for sighted users, when the Android device font size is set to "Largest" (Accessibility > Font size) which may increase the likelihood of errors.

![share IDs Pre-Entry - form - clipped entries](https://user-images.githubusercontent.com/7034772/92019666-fbf58a80-ed24-11ea-9cd9-e281e4b5cb3e.png)

[2020-09-02 18:22] jonnyjames opened #237 "The "Find a site near you" link isn't actionable to keyboard users with or without TalkBack running [Android]"
On the **keep-Safe** screen, the "Get Tested" section contains a link to "Find a site near you", which is announced, along with the rest of the text, but TalkBack users cannot double tap to active the link. The link's role isn't conveyed to TalkBack users as well.

![keep-Safe - Link - Find a site near you TB running](https://user-images.githubusercontent.com/7034772/92021412-b7b7b980-ed27-11ea-82

[2020-09-02 19:04] willslone opened #238 "Form groups in overlays are not programmatically associated with their group label [iOS]"
The “Select your county”, “Gender identity”, “Age range”, “Race”, and “Ethnicity” overlays include form groups with an overall group label, but the group label is not announced upon focusing a control in the form group. For example, the “35-49” form control in the “Age range” overlays is simply announced as “35-49”.

![“35-49” form control focused by VoiceOver and announced as “35-49”](https://use

[2020-09-02 19:14] mboskin commented on #93
Steven,

Our testers found some minor typographical issues (attached) in the English language version of the app. Some of these are simply extraneous characters. Could you have your team check the translations to confirm that they were not included in the translations?

Thank you,

www.nystec.com<http://www.nystec.com/>

From: fahd-arshad <notifications@github.com>
Sent: Wednesday, September 2, 20

[2020-09-02 19:59] willslone opened #239 "Search fields lack visual and programmatically associated labels [iOS]"
The “search” text field found in the “Select your county” overlays relies on the “Search” placeholder text for a visual label and accessible name. Once a user has entered data in the field, the “search” label is gone and the field is simply announced as whatever data is in the field.

![Search text field focused with VoiceOver and announced as “Al”, which is the user inputted data](https://user-im

[2020-09-02 19:59] jonnyjames opened #240 "“Close” graphical buttons with insufficient accessible names [Android]"
The close ("X") button that closes the "Choose your county" modal in the "health About" screen is announced by TalkBack as 'close choose, close choose, button". The information is repeated (redundant) and does not clearly indicate which modal it closes (e.g. 'close, choose your county modal, button").

![health About - Close x Choose](https://user-images.githubusercontent.com/7034772/92030583-3ff0

[2020-09-02 20:38] willslone opened #243 "Radio buttons in overlays do not convey their role/state [iOS]"
The form controls that behave as radio buttons (only one option selected at a time) in the “Select your county”, “Gender identity”, “Age range”, “Race”, and “Ethnicity” overlays do not convey a role of radio or their selected state to VoiceOver users

![“0-17” radio button focused by VoiceOver and announced as “0-17”](https://user-images.githubusercontent.com/4437084/92033946-84325a80-ed3a-11ea-98

[2020-09-02 20:46] mboskin commented on #94
Patrick Brennan | 9/1/20 5:30 PM | Pass | Results look clearer at a glance

[2020-09-02 20:46] #94 closed, assigned to mboskin

[2020-09-02 20:52] mboskin commented on #124
Patrick Brennan | 9/1/20 5:23 PM | Pass

[2020-09-02 20:57] mboskin commented on #97
Confirm Changes button still turns black upon successful use, still functions normally. Retest results:

Patrick Brennan | 9/1/20 4:14 PM | Fail | Confirm Changes button still turns black upon successful use, still functions normally.

[2020-09-02 21:08] mboskin commented on #122
Failed retesting as per following:

Patrick Brennan | 9/1/20 5:29 PM | Fail | On landing screen Percent tested positive still in original English as well as x and y axis titles. Data and Privacy Policy is also untranslated.

[2020-09-02 21:27] ahurworth commented on #183
Confirmed

[2020-09-02 21:27] #183 closed, assigned to ahurworth

[2020-09-02 21:27] jonnyjames opened #245 ""My Health Log" symptoms checkboxes do not accurately convey the checked/unchecked state [Android]"
The checkboxes on the "My Health Log" screen (health Symptoms List) does not accurately convey the checked/unchecked state of the checkbox controls.

Currently, an unchecked checkbox is announced by TalkBack as "Muscles aches or body aches, unselected, muscle aches or body aches, unselected, checkbox" (the label and state are repeated twice). When a user double taps on the checkbox to change its s

[2020-09-02 21:33] jonnyjames opened #246 "The NYS Health Hotline linked phone number is not accessible when TalkBack is running [Android]"
On the "health ResultC" screen in "My Health Log" tab, has a NYS Health Hotline phone number that is announced by TalkBack with the other text in the "Contact a health care provider" paragraph, but it is not reachable.

![health ResultC - Link - NYS Health Hotline](https://user-images.githubusercontent.com/7034772/92039031-5ea94f00-ed42-11ea-8dec-b44bc093dc32.png)

**Remediation Guidance:**

[2020-09-02 21:34] ahurworth opened #247 "White screen observed on tapping on App Settings on iPhone 11 Pro Max iOS 13.6"
Repro steps:

Update via testflight to build v25
tap on Settings -> white screen, can't do anything but kill the app

Per @dharding this is as a result of the debug menu being active.

[2020-09-02 21:38] jonnyjames opened #248 "Interactive elements not reachable with TalkBack and/or keyboard [Android]"
The "Find a site near you" link can be reached using TalkBack, but it is not actionable.
When using the keyboard alone, the link cannot be reached or actioned.

![health ResultC - Link - Find a site near you](https://user-images.githubusercontent.com/7034772/92039363-f0b15780-ed42-11ea-9ea1-47a32c471950.png)

![health ResultC - Link - NYS Health Hotline](https://user-images.githubusercontent.com/7

[2020-09-02 21:41] ahurworth opened #249 "Application number in App Settings should be at the bottom of the screen; content should not scroll under it"
See screenshot from iPhone SE:
The last two items in the table scroll under the application number, make it feel like there is a visual bug, and covers the need to scroll in one remaining row in the table.  The user needs to scroll to reveal a remaining row in the table.

![IMG_0016](https://user-images.githubusercontent.com/68069959/92039630-60bfdd80-ed43-11ea-8dc3-082e2f476515.PNG)

[2020-09-02 21:44] willslone opened #250 "Search field autocomplete results are not immediately apparent to VoiceOver users [iOS]"
Autocomplete suggestions are shown after the search field found on the “Select your county” overlays, with all possible options shown when nothing is entered in the search field. The message “No results found for this search. Try with something else” is shown when there are no results. This message and the fact that there are autocomplete results below the search field is not immediately apparent

[2020-09-02 21:46] ahurworth opened #251 "Visual issue: Purple rubber band effect seen on first screen of on-boarding."
Purple rubber band effect seen on first screen of on-boarding.  Compare with screen 2.  See screen-recording, attached)

[IMG_0017.TRIM.MOV.zip](https://github.com/project-vagabond/covid-green-app/files/5164976/IMG_0017.TRIM.MOV.zip)

[2020-09-02 21:49] jonnyjames opened #252 "Form groups in overlays are not programmatically associated with their group label [Android]"
The “Select your county”, “Gender identity”, “Age range”, “Race”, and “Ethnicity” overlays include form groups with an overall group label, but the group label is not announced upon focusing a control in the form group. For example, the “35-49” form control in the “Age range” overlays is simply announced as “35-49”.

![overlay-List-Age-Range](https://user-images.githubusercontent.com/7034772/92040

[2020-09-02 21:50] ahurworth commented on #178
Confirmed as working on iOS now.  thanks.

[2020-09-02 21:50] #178 closed, assigned to ahurworth

[2020-09-02 21:52] ahurworth commented on #199
confirmed.

[2020-09-02 21:52] #199 closed, assigned to helloantoine, ahurworth

[2020-09-02 21:58] #151 closed, assigned to ahurworth

[2020-09-02 22:01] willslone opened #254 "Focus managment when an overlay is triggered [iOS]"
Upon opening the “Gender identity”, “Age range”, “Race”, “Ethnicity” overlays, focus is moved to the overlay container. Nothing is announced to notify VoiceOver users of their current location. I suggest moving focus to the form group label (e.g., “Choose your race”) when the overlays are opened.

[2020-09-02 22:03] ahurworth opened #255 "Visual bug: Chart date labels - uneven spacing"
Last two dates labels are much closer together than the others (see 26 Aug and 30 Aug bars on the chart).  This creates a visual imbalance on all charts, and a clash on iPhone SE.

Screenshot from iPhone 11 Pro Max:

![IMG_5B2D5B7FDA63-1](https://user-images.githubusercontent.com/68069959/92041559-72ef4b00-ed46-11ea-9317-9e22644d9456.jpeg)

Screenshot from SE:

![IMG_0019](https://user-images.gith

[2020-09-02 22:08] dharding opened #256 "Dead spot on health log demographic tap targets"
On the form where we collect the optional demo data, there are two dead spots that taps do not work on. I have circled their approximate locations in the screenshot.
![Screenshot_20200902-180453](https://user-images.githubusercontent.com/8274/92041956-396b0f80-ed47-11ea-8ea8-ab80f02bf952.png)

[2020-09-02 22:10] dharding opened #257 "Delete my data does not delete health log"
If you enter a health log entry and then choose to delete your data, the health log data remains.

[2020-09-02 22:15] dharding opened #258 "Back button in header tap target too small"
I find myself frequently missing the tap target for the back navigation in the header throughout the app. Please ensure this tap target covers the entire area behind the label and arrow.

[2020-09-02 22:21] willslone opened #259 "Form groups with insufficent group labels [iOS]"
The “Select your country”, “Gender identity”, “Age range”, “Race”, “Ethnicity” overlays accessed from the My Health Log About screen all have the same insufficient group label of “Choose…”, which doesn’t sufficiently describe the purpose of the form group.

![“Choose…” form group label focused with VoiceOver](https://user-images.githubusercontent.com/4437084/92042798-ee51fc00-ed48-11ea-96b5-26ae33

[2020-09-02 22:36] willslone opened #260 "“Close” graphical buttons with insufficient accessible names [iOS]"
The “close” graphical buttons found on the “Select your country”, “Gender identity”, “Age range”, “Race”, “Ethnicity” overlays accessed from the My Health Log About screen all have the same insufficient accessible name of “Close choose…”, which does not accurately describe the purpose of the button.

![“Close” graphical button focused by VoiceOver and announced as “Close Choose…”](https://user-ima

[2020-09-02 22:56] willslone opened #261 "Buttons on the “My Health Log” screens do not have a role of button [iOS]"
The “New York State County you live in”, “Gender identity”, “Age range”, “Race”, and “Ethnicity” buttons found on the My Health Log About and App Settings -> My Health Log screens do not convey a button role to VoiceOver users.

![“Gender Identity Choose …” button focused with VoiceOver and announced as “Gender Identity Choose …”](https://user-images.githubusercontent.com/4437084/92045147-d761d880

[2020-09-02 22:56] floridemai commented on #247
@ahurworth Should be fixed in build 26

[2020-09-02 23:14] willslone opened #262 "Form group on the “My Health Log Symptoms List” screen is not programmatically associated with its group label [iOS]"
The “Do you have any of the following 11 symptoms today?” form group label is not announced upon focusing a control in the form group. For example, the “Fatigue” checkbox is announced as “Fatigue, unselected, checkbox”.

![](https://user-images.githubusercontent.com/4437084/92046290-39234200-ed50-11ea-8759-34c094e65f96.png)

Use the accessibilityLabel property to include the group label in the acc

[2020-09-02 23:29] willslone opened #263 "Checkboxes do not properly convey their checked state [iOS]"
The checked state of currently checked checkboxes on the My Health Log Symptoms List screen is always announced as unselected (currently using the selected state instead of the more appropriate checked state). Ensure the checked state always matches the actual state of the control.

![“Fatigue” checkbox in its checked state, but the state is announced by VoiceOver as “unselected”](https://user-ima

[2020-09-02 23:51] willslone opened #264 "Interactive elements not reachable with VoiceOver [iOS]"
The “1-888-364-3065” button on the My Health Log Results C (“Not feeling well”) screen is not reachable with VoiceOver or navigating via keyboard alone. The button is grouped with its surrounding text and only the block of text can be focused, not the button it contains.

![](https://user-images.githubusercontent.com/4437084/92048361-88b83c80-ed55-11ea-99e6-5feb86e5f1dc.png)

The “Find a site near

[2020-09-02 23:59] willslone opened #265 "Link not identified as a link [iOS]"
The “Find a site near you” link on the My Health Log Results C (“Not feeling well”) screen is not conveyed to VoiceOver users as a link.

![](https://user-images.githubusercontent.com/4437084/92048801-af2aa780-ed56-11ea-9855-2f2f5e4bc394.png)

Use the accessibilityRole attribute on the interactive element (TouchableOpacity, Pressable, etc.) to convey a link role to VoiceOver users.

[code]

[2020-09-03 00:00] ahurworth commented on #247
Resolved thanks Paul!

[2020-09-03 00:00] #247 closed, assigned to ahurworth

[2020-09-03 00:07] willslone opened #266 "Buttons incorrectly identified as links [iOS]"
The “You can read the Data and Privacy Policy here” buttons found on the Help Improve This App and Delete My Data screens are incorrectly conveyed to VoiceOver users as links. The link role is only appropriate for interactive elements that open a webpage in Safari.

![buttons-as-links](https://user-images.githubusercontent.com/4437084/92049238-d8980300-ed57-11ea-8da0-45de8a001996.png)

[2020-09-03 00:39] willslone opened #268 "Error message is not immediately apparent to VoiceOver users [iOS]"
Upon entering an invalid code on the Share Your Close Contact Codes screen, the “Invalid code. Please try again.” message is shown below the text fields. It is not immediately apparent to VoiceOver users that the data they entered is invalid.

![](https://user-images.githubusercontent.com/4437084/92055280-4ba37880-ed5c-11ea-8a79-6f985253c429.png)

Ideally the message could be announced upon its ap

[2020-09-03 00:44] willslone opened #269 "“Changes updated” message is not apparent to VoiceOver users [iOS]"
Upon confirming changes on the App Settings -> My Health Log screen, the status message “Changes updated” is displayed at the top of the main content of the screen. It is not immediately apparent to VoiceOver users, as it is not announced. Focus is moved to the top of the screen after form submission. The “COVID ALERT NY” annoucement may lead VoiceOver users to believe they have been taken to a ne

[2020-09-03 00:58] willslone opened #270 "Button’s disabled state is not conveyed to VoiceOver Users [iOS]"
After confirming changes on the App Settings -> My Health Log screen, the “Confirm Changes” button becomes disabled. The disabled state is not conveyed to VoiceOver Users.

![](https://user-images.githubusercontent.com/4437084/92059369-046ab700-ed5f-11ea-933e-98b1349a1702.png)

The “Continue” button on the My Health Log Symptoms List screen is disabled until a checkbox is checked, but the disabled

[2020-09-03 01:03] dharding opened #271 "Exposure contact notification on iOS does not tap into My COVID Alerts screen"
On iOS with build 1.0.0.26 I was able to get an exposure notification. When I tapped on this notification, it launched the app, but it did not take me to the "My COVID Alerts" screen or the alerts details screen. It simply foregrounded the app in the state I left it.

[2020-09-03 01:06] willslone opened #272 "Form group on the “My Language” screen is not programmatically associated with its group label [iOS]"
The “Choose your language” form group label is not announced upon focusing a control in the form group. For example, the “English” checkbox is announced as “English, selected, checkbox”.

![](https://user-images.githubusercontent.com/4437084/92059781-1d279c80-ed60-11ea-8148-f1317612abd2.png)

Use the accessibilityLabel property to include the group label in the accessible name of each control. Rem

[2020-09-03 01:06] dharding opened #273 "Date format has leading zero on exposure alert detail screen"
The day has a leading zero. It should not.

![File (2)](https://user-images.githubusercontent.com/8274/92059778-1bf66f80-ed60-11ea-8e1a-e591ab5f3fa7.jpg)

[2020-09-03 01:09] dharding opened #274 "Date of contact is off by a day in an exposure alert"
This alert is telling me that the contact was on the 1st of September but I entered a diagnosis code on the 2nd of September and had the phones in contact with each other on the 2nd.

![File (2)](https://user-images.githubusercontent.com/8274/92059887-64ae2880-ed60-11ea-9cd1-8de51b7de763.jpg)

[2020-09-03 01:17] willslone opened #275 "“Share App Usage” switch is not programmatically associated with its text label [iOS]"
No accessible name is announced upon focusing the “Share App Usage” switch on the App Settings -> Help Improve This App screen. The visible text label and the switch control are two separate tab stops.

![](https://user-images.githubusercontent.com/4437084/92060369-8cea5700-ed61-11ea-8f0e-c552eb2db0d3.png)

Programmatically associate the label by including it in the accessibilityLabel attribute on

[2020-09-03 01:33] ahurworth commented on #233
I think the main idea to communicate is: are things getting better or worse?  The absolute number is interesting, but not meaningful to most people in isolation.
I'd like to see the number alongside the % change, and something we can apply to each of the charts.

[2020-09-03 01:45] davidjharding commented on #271
Note, this may also be an issue on Android.

[2020-09-03 01:45] willslone opened #276 "Clipped text at larger font sizes [iOS]"
There are a few instances where text is clipped or completely obscured when viewing the screens at larger text sizes (turned on via the iOS accessibility settings). The screenshots below were taken at the maximum text size (i.e., AX5), but some of the issues also occur at smaller sizes (i.e., AX3, which is still much larger than default).

![](https://user-images.githubusercontent.com/4437084/9206

[2020-09-03 01:48] dharding opened #277 "Uploading keys gets intermittent failures on iOS"
Some people are reporting that when they attempt to upload their keys on an iOS device, they get an error. Others have done it successfully. We have not been able to determine under which circumstances this error occurs. We tried a fresh install on a new device that had never used this app or any EN stuff and it had the error. Other devices where TestFlight builds that have been being updated via

[2020-09-03 02:25] willslone opened #278 "Interactive elements not reachable via keyboard without VoiceOver running [iOS]"
The “Next”, “Previous”, and “Close” buttons on the “How it works” screens and the “Close” graphical buttons in the top right corner of the “Select your county”, “Gender identity”, “Age range”, “Race”, and “Ethnicity” overlays are not reachable when navigating the application via keyboard without VoiceOver running (full keyboard access without VoiceOver was added in iOS 13.5).

[2020-09-03 02:30] ahurworth opened #279 "Visual Bug: Learn how to keep others safe style"
Learn how to keep others safe button style isn't correct on the "If you test positive" drill in screen.  @helloantoine Can you advise if it's using regular and needs bold or heavy?

![Screenshot_20200902-222706](https://user-images.githubusercontent.com/68069959/92064552-b01a0400-ed6b-11ea-8841-83a49eac5646.png)

[2020-09-03 02:32] ahurworth opened #280 "Visual bug: Share your Close Contact Codes button has incorrect colored drop shadow"
@helloantoine to advise correct hex value.  The drop shadow is currently showing as black.

![Screenshot_20200902-222706](https://user-images.githubusercontent.com/68069959/92064683-f7a09000-ed6b-11ea-8bdb-08bb120049db.png)

[2020-09-03 03:09] jonnyjames opened #281 "Form group on the “My Language” screen is not programmatically associated with its group label [Android]"
The “Choose your language” form group label is not announced upon focusing a control in the form group. For example, the “English” checkbox is announced as “English, selected, English, selected checkbox”.

**Note:** "english, selected" is announced twice by TalkBack.

![settings-Languages - Label - Group language label](https://user-images.githubusercontent.com/7034772/92067031-5583a680-ed71-11ea-

[2020-09-03 03:18] jonnyjames opened #282 ""Share App Usage" label and switch control are not programmatically associated [Android]"
The "Share App Usage" label is announced separately from the switch control. TalkBack announces the switch control as "switch, on"

![settings-App-Usage - Label - Switch control](https://user-images.githubusercontent.com/7034772/92067524-89ab9700-ed72-11ea-96ed-27323a87ea63.png)

**Remediation Guidance:**
Programmatically associate the label by including it in the accessibilityLabel attribute on t

[2020-09-03 04:33] dennisgove commented on #277
~This line https://github.com/project-vagabond/covid-green-app/blob/nys/src/services/api/exposures.ts#L123-L134 uses `fetch` instead of `request`. According to Webstorm, `fetch` is undefined and it appears the rest of this file uses `request` instead.~

~The server is correctly returning a response to the POST to `/certificate` but we are not then receiving a POST to `/publish`. I believe this is

[2020-09-03 04:58] dennisgove commented on #277
It appears that the app call to `/publish` does not include an `Authorization` header. This seems correct because APHL won't be expecting an Authorization header. However, the handler in the backend api is expecting an Authorization header.

App: https://github.com/project-vagabond/covid-green-app/blob/nys/src/services/api/exposures.ts#L123-L134
API: https://github.com/project-vagabond/covid-green

[2020-09-03 07:24] floridemai commented on #256
@dharding This is how is implemented: each item has a padding and the right side is the padding on the card/itself. @helloantoine Please advise on wether all of the area between the separator should be actionable. What about the right side padding? (do we need to occupy the full width and position the arrow inside; now the arrow is the last  element)

[2020-09-03 07:42] AlanSl commented on #232
Already reported in https://github.com/project-vagabond/covid-green-app/issues/198

https://github.com/project-vagabond/covid-green-app/pull/205 fixes it but is awaiting review since yesterday

[2020-09-03 07:45] davidjharding commented on #256
All of the area between the horizontal separators should be an active tap target.

On the right side, what I was experiencing was that the area right near the right arrow icon was very specific about where I had to tap.

I think it makes sense to make the entire area vertically between the separators and the entire area that spans the width of the separators plus some slop to account for inaccurac

[2020-09-03 08:13] floridemai commented on #257
I was not able to reproduce. It seems this is related to simulating exposures.

[2020-09-03 08:26] AlanSl commented on #232
Merged, should be fixed in next build

[2020-09-03 08:27] AlanSl commented on #198
Done in https://github.com/project-vagabond/covid-green-app/pull/205 and should be fixed in next build

[2020-09-03 08:43] AlanSl commented on #249
Done in https://github.com/project-vagabond/covid-green-app/pull/283 should be fixed in next build

[2020-09-03 11:26] ShaunBaker commented on #209
@helloantoine this is a text content issue - not a code issue.

Putting this on hold pending final translations - to verify those are indeed formatted correctly

[2020-09-03 12:09] ShaunBaker commented on #63
<img width="1446" alt="Screenshot 2020-09-03 at 12 55 02" src="https://user-images.githubusercontent.com/1176557/92112698-1e9ba800-ede6-11ea-8e00-a44bace48842.png">
<img width="1438" alt="Screenshot 2020-09-03 at 13 04 37" src="https://user-images.githubusercontent.com/1176557/92112708-21969880-ede6-11ea-8390-5ca39234db2a.png">
<img width="1440" alt="Screenshot 2020-09-03 at 13 04 21" src="https:/

[2020-09-03 12:43] willslone opened #291 "Screens do not support changes in display orientation [iOS]"
Screens across the application are restricted to portrait mode.

[2020-09-03 12:55] willslone opened #293 "Focus management after submitting a valid contact code [iOS]"
Upon submitting a valid contact code on the Share Your Close Contact Codes screen, new instructional text appears below the text fields, but focus is moved to the top of the screen.

I would suggest moving focus to the new instructional text, as it is not immediately apparent to VoiceOver users. Upon hearing the “COVID ALERT NY” announced after form submission, they may incorrectly assume they hav

[2020-09-03 13:09] jonnyjames opened #294 "Interactive elements not reachable via keyboard without TalkBack running [Android]"
The “Next”, “Previous”, and “Close” buttons on the “How it works” screens are not reachable when navigating the application via keyboard without TalkBack running. This means keyboard only users will not be able to access screens 2 -4 of "How it works".

![how-It-Works3 - Keyboard - Previous Next](https://user-images.githubusercontent.com/7034772/92118820-fb143580-edc4-11ea-8698-552d4f60b4f1.png)

[2020-09-03 13:50] jonnyjames opened #295 "Screens do not support changes in display orientation [Android]"
Screens across the application are restricted to portrait mode.

[2020-09-03 13:54] colmharte commented on #277
The calls to /publish go to APHL not our server.
There are 2 reasons this was happening
1) Codes generated with no onsetDate
2) A repeat upload to APHL from the same phone will fail

PR opened to fix #2

[2020-09-03 14:15] dennisgove commented on #277
I saw failures in two forms.

1. Went through the full upload process on my iPhone. I used PostMan to generate a verification code - that request contained an `onsetDate` and that onsetDate value was saved to the database. The first time everything went through but it failed the second time I tried to upload (a few hours later). This is clearly issue 2.

2. Went through the full upload process on

[2020-09-03 14:16] helloantoine commented on #295
Thank you.
I believe it's a WCAG 2.1 requirement we did not want to get into (due to technical effort). https://www.w3.org/TR/WCAG21/
Can you confirm @colmharte @ahurworth @fahd-arshad ?

[2020-09-03 14:30] AlanSl commented on #277
@dennisgove on your wife's phone, were COVID alerts set up and enabled with a green tick on My COVID Alerts when you uploaded the codes?

[2020-09-03 14:39] jonnyjames opened #296 "“Changes updated” message is not apparent to TalkBack users [Android]"
Upon confirming changes on the App Settings -> My Health Log screen, the status message “Changes updated” is displayed at the top of the main content of the screen. It is not immediately apparent to TalkBack users, as it is not announced. Focus is moved to the top of the screen after form submission. The “COVID ALERT NY” announcement may lead TalkBack users to believe they have been taken to a new

[2020-09-03 14:52] colmharte commented on #277
If no keys available APHL call will also fail. @dennisgove sounds like the issue you ran into. We will create a PR to cater for this.

[2020-09-03 14:54] dennisgove commented on #277
I'd expect a phone with Exposure Notification turned on for an hour to have at least 1 key to upload.

[2020-09-03 14:55] helloantoine opened #297 "Usability. Health Log. Tabs should ONLY be shown when user is at the root of a flow"
**Issue** Tabs should not be present once user starts a flow, specifically the Health Log flow.
**Solution** By design and for the sake of delivering a consistent experience. Tabs should only be present when at the root of each 4 tabs. Once flow start, tabs are hidden and the back action is available at the top left corner.
![Screenshot 2020-09-03 at 15 52 06](https://user-images.githubusercontent

[2020-09-03 14:56] dennisgove commented on #277
Yes. I went through the NY app setup process around 8:15p, and turned on the exposure notification system at that time. About an hour later I tried going through the key upload process using a valid code generated via Postman (with an associated `onsetDate`)

[2020-09-03 14:57] AlanSl opened #298 "Don't try and fail to upload keys if there's nothing to upload"
APHL responds to empty `temporaryExposureKeys` with a `401` error.

Colm says the correct behaviour in such a case is:

[2020-09-03 14:58] dennisgove commented on #277
Is it possible that when getting keys from iOS, the phone doesn't return keys less than 4 hours old (to prevent us from uploading still active or too new keys)? I recall that part of the documented rules indicate that keys should have a certain age and perhaps no longer be active.

[2020-09-03 15:02] jonnyjames opened #299 "Form group on the “My Health Log Symptoms List” screen is not programmatically associated with its group label [Android]"
The “Do you have any of the following 11 symptoms today?” form group label is not announced upon focusing a control in the form group. For example, the “Muscles aches or body aches” checkbox is announced as “Muscle aches or body aches, unselected, Muscle aches or body aches, unselected, checkbox”.

![My Health Log - NRV - Checkbox unselected](https://user-images.githubusercontent.com/7034772/92132

[2020-09-03 15:17] jonnyjames opened #301 "Search field autocomplete results are not immediately apparent to TalkBack users [Android]"
Autocomplete suggestions are shown after the search field found on the “Select your county” overlays, with all possible options shown when nothing is entered in the search field. The message “No results found for this search. Try with something else” is shown when there are no results. This message and the fact that there are autocomplete results below the search field is not immediately apparent

[2020-09-03 15:19] #298 closed, assigned to AlanSl

[2020-09-03 15:40] jonnyjames opened #303 "Search fields lack visual and programmatically associated labels [Android]"
The “search” text field found in the “Select your county” overlays relies on the “Search” placeholder text for a visual label. Once a user has entered data in the field, the “search” placeholder text is gone, the field is still announced as whatever data is in the field, followed by the search label, but no visible label is present. The overlay's "Choose..." text doesn't assist in describing the p

[2020-09-03 16:57] jonnyjames opened #305 "Radio buttons in overlays do not convey their role/state [Android]"
The form controls that behave as radio buttons (only one option selected at a time) in the “Select your county”, “Gender identity”, “Age range”, “Race”, and “Ethnicity” overlays do not convey a role of radio or their selected state to TalkBack users.

![overlay-List-Age-Range - NRV - Name Role radio btn](https://user-images.githubusercontent.com/7034772/92144789-36bef780-ede5-11ea-8a25-856f11c8096

[2020-09-03 17:04] helloantoine commented on #233
First pass. @fahd-arshad @ahurworth

So the idea would be to have 30 days x-axis. (current data coming from backend is 29 days).
Mark the first, lat and middle times. Properly centre the text under the related bar + add a little vertical bar.
![Screenshot 2020-09-03 at 18 00 28](https://user-images.githubusercontent.com/16833643/92144975-6b47a900-ee0f-11ea-927c-2b92cdda3e28.png)

[2020-09-03 17:23] jonnyjames opened #306 "Error message is not immediately apparent to TalkBack users [Android]"
Upon entering an invalid code on the "Share Your Close Contact Codes" screen, the “Invalid code. Please try again.” message is shown below the text fields. It is not immediately apparent to TalkBack users that the data they entered is invalid.

![share IDs Pre-Entry - error msg](https://user-images.githubusercontent.com/7034772/92146908-66bbca00-ede8-11ea-9363-fe0eced5a51f.png)

Ensure the validat

[2020-09-03 17:25] floridemai commented on #208
Fixed. Should be available in the next build.

[2020-09-03 18:28] jonnyjames opened #310 "Button’s disabled state is not conveyed to TalkBack users [Android]"
After confirming changes on the **App Settings** -> **My Health Log** screen, the “Confirm changes” button becomes disabled. The disabled state is not conveyed to TalkBack users.

![settings - NRV - Disabled confirm changes button](https://user-images.githubusercontent.com/7034772/92152886-6e33a100-edf1-11ea-89fb-3c87be96d5b3.png)

The “Confirm changes” button on the **My Health Log Symptoms List*

[2020-09-03 18:39] jonnyjames opened #311 "Buttons marked up as links [Android]"
The “You can read the Data and Privacy Policy here” button found on the **Help Improve This App** and **Delete My Data** screens are incorrectly conveyed to TalkBack users as links. The link role is only appropriate for interactive elements that open a webpage in Chrome.

**Help Improve This App screen**
![help-Improve-This-App - NRV - Button as link](https://user-images.githubusercontent.com/7034

[2020-09-03 18:53] jonnyjames opened #312 "Link is missing a link role [Android]"
The “Find a site near you” link on the My Health Log Results C (“Not feeling well”) screen is not conveyed to TalkBack users as a link.

![health ResultC - NRV - Find a site near you](https://user-images.githubusercontent.com/7034772/92155225-05e6be80-edf5-11ea-870b-74f6ff4daabd.png)

**Remediation Guidance**
Use the `accessibilityRole` attribute on the interactive element (`TouchableOpacity`, `Pr

[2020-09-03 18:53] helloantoine opened #313 "[DESIGN ONLY] Update video"
Update video with Bas's latest video.

[2020-09-03 18:54] helloantoine opened #314 "[DESIGN ONLY] Edit video to animate smoothly time"

[2020-09-03 18:59] mboskin opened #315 "Screen should be titled "COVID Alert NY""
Screen is incorrectly labeled "COVID SMART NY".  See attached.
![COVID Alert Screen 2020-09-03 145611](https://user-images.githubusercontent.com/70291664/92155750-ddab8f80-edf5-11ea-8022-473acd72e5b0.png)

Found by Tawfic, Bassem (ITS) at 2:51

[2020-09-03 20:28] jonnyjames opened #316 "Focus management when an overlay is triggered [Android]"
Upon triggering the “Gender identity”, “Age range”, “Race”, “Ethnicity” overlays, focus is moved to the overlay container, which is announced by TalkBack as "Choose...".

![overlay-Choose-Age-Range - Focus - ovelay](https://user-images.githubusercontent.com/7034772/92163910-7516df80-ee02-11ea-9777-e6565acf73ce.png)

**Remediation Guidance**
We recommend moving focus to the form group label (e.g.,

[2020-09-03 22:04] helloantoine commented on #314
[footage + source psd.zip](https://github.com/project-vagabond/covid-green-app/files/5171615/footage.%2B.source.psd.zip)

[2020-09-03 22:23] ahurworth commented on #297
Thanks @helloantoine !
One quick clarification (and perhaps it was already obvious): At the end of the symptom tracking flow, there's no tab bar but also no back button, since the user has submitted their symptoms (it's the end of the transaction).

![image](https://user-images.githubusercontent.com/68069959/92179285-69331980-ee12-11ea-8634-fae00a880497.png)

[2020-09-03 22:29] helloantoine opened #317 "[DESIGN ONLY] Accessibility issue of the progress in How it works"
Issue: Gray not strong enough.
![image003](https://user-images.githubusercontent.com/16833643/92179727-305c6a00-ee3d-11ea-8d38-56b1ca2a77a9.png)

[2020-09-04 00:10] willslone commented on #275
I retested and can confirm the issue has been resolved.

[2020-09-04 00:12] #275 closed, assigned to willslone

[2020-09-04 00:15] willslone commented on #270
I retested and can confirm the issue has been resolved.

[2020-09-04 00:15] #270 closed, assigned to willslone

[2020-09-04 00:16] willslone commented on #266
I retested and can confirm the issue has been resolved.

[2020-09-04 00:16] #266 closed, assigned to willslone

[2020-09-04 00:19] willslone commented on #263
I retested and can confirm the issue has been resolved.

[2020-09-04 00:19] #263 closed, assigned to willslone

[2020-09-04 00:22] willslone commented on #261
I retested and can confirm the issue has been resolved.

[2020-09-04 00:22] #261 closed, assigned to willslone

[2020-09-04 00:23] willslone commented on #259
I retested and can confirm the issue has been resolved.

[2020-09-04 00:23] #259 closed, assigned to willslone

[2020-09-04 00:26] willslone commented on #254
I retested and can confirm the issue has been resolved.

[2020-09-04 00:26] #254 closed, assigned to willslone

[2020-09-04 00:28] willslone commented on #234
Retested and the issue has been resolved with the exception of the last “App” tab.

[2020-09-04 00:30] willslone commented on #196
I retested and can confirm the issue has been resolved.

[2020-09-04 00:30] #196 closed, assigned to ShaunBaker

[2020-09-04 00:31] willslone commented on #191
I retested and can confirm the issue has been resolved.

[2020-09-04 00:31] #191 closed, assigned to ShaunBaker

[2020-09-04 00:32] willslone commented on #190
I retested and can confirm the issue has been resolved.

[2020-09-04 00:32] #190 closed, assigned to ShaunBaker

[2020-09-04 00:39] willslone commented on #188
I retested and can confirm the issue has been resolved.

[2020-09-04 00:39] #188 closed, assigned to willslone

[2020-09-04 07:11] helloantoine commented on #207
This is fixed in latest release. Happy to move to done. @ShaunBaker @floridemai

[2020-09-04 07:54] floridemai commented on #207
@helloantoine That's strange as it seems nothing has been done to address it...

[2020-09-04 08:06] floridemai commented on #216
@jonnyjames This has now been addressed

[2020-09-04 08:08] floridemai commented on #195
@willslone I've address this but using the page selector to move through pages is not possible just yet. I'd close this as it fixes the reported issue and raise the missing part in another thicket, when we do a page by page review (hopefully)

[2020-09-04 08:11] floridemai commented on #217
@jonnyjames This has now been addressed. Not that I've chosen to group the permissions so the whole text is read at once. Please re-open if that's not correct.

[2020-09-04 08:12] floridemai commented on #218
@jonnyjames This has now been addressed

[2020-09-04 08:13] floridemai commented on #220
@jonnyjames This has now been addressed. See https://github.com/project-vagabond/covid-green-app/issues/195

[2020-09-04 08:14] floridemai commented on #222
@helloantoine This has now been addressed. See https://github.com/project-vagabond/covid-green-app/issues/216

[2020-09-04 08:15] floridemai commented on #227
@helloantoine This has now been addressed.

[2020-09-04 08:16] floridemai commented on #229
@jonnyjames This has now been addressed.

[2020-09-04 08:18] floridemai commented on #230
@jonnyjames @helloantoine This has now been addressed. I did add a hint which I'm not sure is the right thing to do. We can remove that if not needed separately.

[2020-09-04 08:24] floridemai commented on #234
@willslone I've tested again on my device and it works. The tabbed navigation is part of a loop so if the first three works should happen to the last tab. Can you check this one again please? Thanks

[2020-09-04 08:26] floridemai commented on #235
@jonnyjames This has now been addressed.

[2020-09-04 08:31] floridemai commented on #238
@willslone Is it best to include "Age range" in the label for each radio control rather than having the modal announce that is that age range the user has to choose and then only the options are read. Please re-assign if that's the case and I'll update. Thank you.

[2020-09-04 08:34] floridemai commented on #240
@jonnyjames This has now been addressed

[2020-09-04 08:35] floridemai commented on #243
@willslone This has now been addressed. Thanks for the suggestion ;)

[2020-09-04 08:38] floridemai commented on #245
@jonnyjames This has now been addressed.
Note/question: When i double tap to check an item the VoiceOver says: "Muscles aches or body aches, checkbox, not checked" (telling what I am taping on) and then "Muscles aches or body aches, checkbox, checked" - the updated version. Is the correct?

[2020-09-04 08:42] floridemai commented on #252
@jonnyjames This has now been addressed

[2020-09-04 08:44] floridemai commented on #260
@willslone This has now been addressed

[2020-09-04 08:45] floridemai commented on #262
@willslone This has now been addressed

[2020-09-04 08:47] floridemai commented on #272
@willslone This has now been addressed with the same mention. The label does not include "Choose your language?". Please re-assign and I'll update if that's the case.

[2020-09-04 08:50] floridemai commented on #281
@jonnyjames This has now been addressed, with the same mention as in https://github.com/project-vagabond/covid-green-app/issues/272. Please re-assign and I'll update.

[2020-09-04 08:51] floridemai commented on #282
@jonnyjames This has now been addressed.

[2020-09-04 08:52] floridemai commented on #291
@dharding @willslone The app doesn't support landscape mode.

[2020-09-04 08:55] floridemai commented on #295
@jonnyjames Currently, the app does not support landscape mode - it's disabled. cc @helloantoine

[2020-09-04 08:57] floridemai commented on #305
@jonnyjames This should be address now.

[2020-09-04 08:58] floridemai commented on #311
@jonnyjames Hopefully this is fixed now.

[2020-09-04 09:00] floridemai commented on #316
@jonnyjames This is fixed now.

[2020-09-04 09:03] floridemai commented on #280
@helloantoine ?

[2020-09-04 09:04] floridemai commented on #279
@helloantoine ?

[2020-09-04 09:06] floridemai commented on #271
@dharding This has been now addressed.

[2020-09-04 09:16] colmharte commented on #274
When you upload you are uploading keys from yesterday and back, not todays key. So above is as expected.

[2020-09-04 09:52] helloantoine commented on #316
Side note. I do not see the tick as a blue bubble on my device.
![screenshot_20200904-104938_covid_alert_ny](https://user-images.githubusercontent.com/16833643/92226457-b22fb000-ee9c-11ea-87b1-580dbf2cfa25.png)

[2020-09-04 10:46] JohnAGill commented on #228
This has been addressed and will be in the next build

[2020-09-04 10:50] floridemai commented on #251
@ahurworth Should be addressed in the next build.

[2020-09-04 10:52] floridemai opened #319 "Content translations - v3"

[2020-09-04 10:52] floridemai commented on #53
@fahd-arshad @kevin-sheldon Translations merged; they should be available in the next build. I think we should close this ticket down and open a separate one for the next round of translations (https://github.com/project-vagabond/covid-green-app/issues/319).

[2020-09-04 10:56] floridemai commented on #16
@ahurworth Can you re-check this in the next build? Thanks

[2020-09-04 12:31] mboskin commented on #8
This is on our list to be added.

Regards
Colm

On Thu 3 Sep 2020, 20:44 Sheldon, Kevin M (HEALTH), <Kevin.Sheldon@health.ny.gov> wrote:
Hi Colm,

We had reached out to Google regarding the disabling of Bluetooth and impact to the app. Andrew had mentioned that they are able to query BT directly in their sample implementations, which I recall you mentioning that NF cannot do.

Andrew had provided

[2020-09-04 12:42] AlanSl commented on #122
These aren't related to the original bug fixed above and most I believe have already been covered by recent translations updates:

- [x] Percent tested positive translates as expected for me on the latest build
- [x] Other chart labels translate as expected
- [x] Abridged calendar month names currently don't translate, <strike>I'll fix that</strike> https://github.com/project-vagabond/covid-green-

[2020-09-04 13:14] JohnAGill commented on #256
This has been addressed and will be in the next build

[2020-09-04 13:43] helloantoine opened #324 "Cosmetic. Health Log screen. Title top margin incorrect"
**Issue:** Top margin above the title is inconsistent with all the other pages' title.
**Solution** Apply the same margin as for all the other pages (example: NY COVID Data tab).
![Image from iOS (9)](https://user-images.githubusercontent.com/16833643/92245686-9fc56e80-eebc-11ea-820c-96726191b0dc.png)

[2020-09-04 14:39] JohnAGill commented on #258
This has been addressed and will be in the next build

[2020-09-04 15:17] helloantoine opened #325 "Cosmetic. Update video in the How it works section"
Format stays the same. 750x500px. The new video has a timer animation and more.
[Antoine Anim 6_Two Runners_750 x 500-3.mp4.zip](https://github.com/project-vagabond/covid-green-app/files/5175642/Antoine.Anim.6_Two.Runners_750.x.500-3.mp4.zip)

[2020-09-04 15:40] helloantoine opened #326 "Cosmetic. Tab navigation warning state is missing"
Issue: Design of the warning state for the **My COVID Alerts** tab not implemented when the user receives an exposure alert.
Solution: Implement the **red alert** in the tab.
https://zpl.io/agA4rmA

@ahurworth

[2020-09-04 15:59] dennisgove commented on #277
@dharding says this has been corrected by checking for 0 keys before trying to upload. If 0 keys the upload is skipped.

[2020-09-04 16:00] dennisgove commented on #277
and from Slack discussion

@jackmurdoch @colmharte were you able to get a PR in for this change?

[2020-09-04 16:29] #314 closed, assigned to helloantoine

[2020-09-04 16:44] #260 closed, assigned to willslone

[2020-09-04 16:46] helloantoine commented on #233
@ahurworth @fahd-arshad
**Many experiments. These are the last 2 winners we have at the moment.**
Option A: Only the latest value. Includes both the daily figure AND the average.

Option B: Interactive graph. User can tap to see the value. We do not display the average.

**Both include:**

I played with the colors to reflect positive or negative trend. Issue is that line going up for number of tes

[2020-09-04 16:47] #195 closed, assigned to willslone

[2020-09-04 16:50] #198 closed, assigned to willslone

[2020-09-04 16:54] #243 closed, assigned to willslone

[2020-09-04 16:59] floridemai commented on #303
@jonnyjames This should be addressed in the next build. Not that the  search label doesn't update right after you make edits, but the labels and roles should be ok.

[2020-09-04 17:00] floridemai commented on #301
@jonnyjames This should be addressed in the next build. Not that the search label doesn't update right after you make edits, but the labels and roles should be ok.

[2020-09-04 17:01] floridemai commented on #250
@willslone This should be addressed in the next build. Not that the search label doesn't update right after you make edits, but the labels and roles should be ok.

[2020-09-04 17:01] willslone commented on #234
I just tested the App tab again and the selected state is announced, but not role and position information.

![App tab control focused by VoiceOver and announced as “selected, App”](https://user-images.githubusercontent.com/4437084/92267398-a220cc00-eeae-11ea-8555-cb977d7bdcfc.png)

[2020-09-04 17:04] mikegwhit commented on #79
@fahd-arshad how are we doing on this?

[2020-09-04 17:08] AlanSl commented on #122
@mboskin The chart x-axis label dates (and also exposure alert date and checker history dates) should now be correctly translated in the next build.

This will show for all languages except Haitian Creole for which date format translations aren't readily available (those fall back to English for now).

[2020-09-04 17:08] willslone commented on #291
@floridemai FYI, WCAG success criterion [1.3.4 Orientation (AA)](https://www.w3.org/WAI/WCAG21/Understanding/orientation.html) requires the following: content does not restrict its view and operation to a single display orientation, such as portrait or landscape, unless a specific display orientation is essential.

[2020-09-04 17:10] floridemai commented on #296
@jonnyjames This should be fixed in the next build.

[2020-09-04 17:11] floridemai commented on #269
@willslone This should be fixed in the next buiild.

[2020-09-04 17:13] floridemai commented on #239
@willslone Can you check this in the next version and provide feedback. I am aware that search is not updated after entering a value... it probably should :)

[2020-09-04 17:14] floridemai commented on #299
@jonnyjames This should be fixed in the next build for re-testing.

[2020-09-04 17:19] willslone commented on #238
@floridemai I would include the group label (e.g., “Age range”) in the label for each radio button. Once that is done, the group label can be removed from the reading order and instead of focusing the group label when the overlay is opened, the first control could be focused.

[2020-09-04 17:20] floridemai commented on #234
@willslone Is this android as it works on my iPhone XS. It might be due to the fact that the label is "App\nSettings", which is the text displayed. Should we create a label for a11y without the \n? We do have it in quite a few places I'll have to check the others as well.

[2020-09-04 17:22] floridemai commented on #238
@That's address in the next build. I left the "Choose your age range heading" and the label have only "18 to 29, radio-button, Age range". Hopefully that's correct.

[2020-09-04 17:29] willslone commented on #234
@floridemai I’m testing on iOS (iPhone SE). I’m not sure if including “\n” is causing the issue, but I would leave it out of the a11y label and then test with VoiceOver to see if it makes a difference.

[2020-09-04 17:29] mboskin commented on #122
Raghunath Gajjala | Pass | Tested. Issue resolved.

[2020-09-04 17:29] #122 closed, assigned to mboskin

[2020-09-04 17:35] willslone commented on #238
@floridemai That should be fine.

[2020-09-04 18:16] floridemai commented on #234
<img src="https://user-images.githubusercontent.com/1158133/92272855-036a8e80-eef3-11ea-95e4-adb823879d0b.PNG" width="400">
<img src="https://user-images.githubusercontent.com/1158133/92272857-049bbb80-eef3-11ea-8e07-f2f00fa6dcc6.PNG" width="400">

The VoiceOver does say all the text it's only the caption that is not shown due to the new line. iPhone XS 13.6.1

[2020-09-04 19:41] ahurworth commented on #233
Thanks @helloantoine.  I like the overall direction.  I wonder if we might dial back the overall visual weight of the number.  The black fill and font size being similar (if not the same) as the chart title feels like those elements are competing.  Could something along these lines work?  (Note: i'm exploring adding back in the % change - what do you think?)

![image](https://user-images.githubuse

[2020-09-04 19:47] willslone commented on #234
@floridemai I see. My bad for relying on the caption. Sorry about that.

[2020-09-04 19:47] #234 closed, assigned to floridemai, willslone

[2020-09-04 20:00] ahurworth opened #330 "Visual Bug: Black Drop Shadow on Onboarding Button"
There is a black drop shadow on the Get Started button during on-boarding.  @helloantoine can you indicate what the right value should be please?  Thanks.

![IMG_7A4EB10C48B9-1](https://user-images.githubusercontent.com/68069959/92280594-b7eebb00-eec7-11ea-96d6-6dd40aaaa4d4.jpeg)

[2020-09-04 20:01] ahurworth commented on #330
I take it back, this is correct.

[2020-09-04 20:01] #330 closed, assigned to nobody

[2020-09-04 20:03] segfault opened #331 "Retry with a delay on HTTP status 429"
The server API gateway will throttle requests by sending HTTP 429 "too many requests". The app should retry at least once if it encounters this response. This should prevent any users from encountering burst load related failures.

[2020-09-04 20:08] segfault commented on #331
Hopefully something like https://www.npmjs.com/package/fetch-retry would work in concert with the react-native certificate pinning library.

[2020-09-04 20:34] #238 closed, assigned to willslone

[2020-09-04 20:35] #272 closed, assigned to willslone

[2020-09-04 20:36] floridemai commented on #315
@mboskin This must be a very old version of the app. The above text not being present in the app anymore suggests that as well.

[2020-09-04 20:36] #269 closed, assigned to willslone

[2020-09-04 20:37] mboskin commented on #315
OK. I will close the issue.

_____________________

[REDACTED}
*Removed e-mail signature as the e-mail reply feature was used*

[2020-09-04 20:37] #262 closed, assigned to willslone

[2020-09-04 20:39] #315 closed, assigned to mboskin

[2020-09-04 20:40] floridemai commented on #310
@jonnyjames Button state is now captured. After applying the changes the focus moves to the "Changes updated" alert. Moving to the button does highlight that it is ow disabled.

[2020-09-04 20:41] #250 closed, assigned to willslone

[2020-09-04 20:48] willslone commented on #239
@floridemai It is good for VoiceOver users now. It still needs some sort of persistent visible label (e.g., a search icon that doesn’t disappear when data is entered in the field). Lack of an always visible label is a problem for people with cognitive issues that affect short-term memory, as well as a more general usability issue.

[2020-09-04 21:56] ahurworth opened #333 "Bluetooth disabled should display yellow banner"
When Bluetooth is disabled, a yellow banner should be displayed on both the NY COVID Data tab.  It is currently not. @helloantoine can help with specs from Zeplin.

![image](https://user-images.githubusercontent.com/68069959/92287366-9695cb00-eed7-11ea-9464-114273102714.png)

[2020-09-04 23:51] bonniejohn opened #334 "Could not generate proximity alerts"
I tried to generate proximity alerts today with two iPhones, but the experiment failed.
At 9/4/2020 12:34 EST, I entered a Positive Test code into an iPhone SE (1st gen), 13.7, build 30 (the share succeeded).
The phone it had been near continuously for serval hours prior was a iPhone SE (1st gen), 13.6.1, build 30.
At 9/4/2020 12:34 EST, I entered a different Positive Test code into the iPhone SE

[2020-09-05 01:18] jonnyjames commented on #220
@floridemai The pagination control is now in the reading order, but it has some extraneous label text, announced as "page selector, page 1 of 4, see[?] control". I would parse the text to include just "page 1 of 4" and remove the reference to "page selector' and "see[?] control", since it isn't a selectork and isn't actionable.

[2020-09-05 01:20] jonnyjames commented on #216
The "Share" button text is now announced by TalkBack as "Share, share this app with friends. Help keep NY safe, button".

I recommend removing the redundant "Share" text and parse it to be "Share this app".

[2020-09-05 01:26] jonnyjames commented on #229
I can confirm this has been fixed. Closing this issue.

[2020-09-05 01:26] #229 closed, assigned to jonnyjames

[2020-09-05 01:29] jonnyjames commented on #230
@floridemai @helloantoine I can confirm this issue has been addressed. **Note:** for the hint, I don't think it is necessary, since the existing tab label text is fairly self-explanatory. I am closing this issue.

[2020-09-05 01:29] #230 closed, assigned to jonnyjames, helloantoine

[2020-09-05 01:30] jonnyjames commented on #218
I can confirm this issue is fixed. Closing this issue.

[2020-09-05 01:30] #218 closed, assigned to jonnyjames

[2020-09-05 01:34] jonnyjames commented on #232
@floridemai This issue is now fixed. I am closing this issue.

[2020-09-05 01:34] #232 closed, assigned to jonnyjames

[2020-09-05 01:36] jonnyjames commented on #240
This issue is now fixed. I am closing this issue.

[2020-09-05 01:36] #240 closed, assigned to jonnyjames

[2020-09-05 01:43] jonnyjames commented on #245
@floridemai The checkbox after it receives focus, and announces "Fatigue, do you have any of the following 11 symptoms today, checkbox, not checked", then if the TalkBack users double taps on the checkbox it announced "not checked, checked". It should only announce "checked".

[2020-09-05 01:49] jonnyjames commented on #281
Confirming this issue is fixed. Closing this issue.

[2020-09-05 01:49] #281 closed, assigned to jonnyjames

[2020-09-05 01:52] jonnyjames commented on #305
@floridemai I am confirming this issue is fixed. Closing this ticket.

[2020-09-05 01:52] #305 closed, assigned to jonnyjames

[2020-09-05 01:53] jonnyjames commented on #316
@floridemai I can confirm this issue is fixed. Closing issue.

[2020-09-05 01:54] jonnyjames commented on #311
@floridemai Confirming this issue is fixed. Closing issue.

[2020-09-05 01:54] #311 closed, assigned to jonnyjames

[2020-09-05 01:58] jonnyjames commented on #295
@floridemai FYI, WCAG success criterion **1.3.4 Orientation (AA)** requires the following: content does not restrict its view and operation to a single display orientation, such as portrait or landscape, unless a specific display orientation is essential.

[2020-09-05 02:06] jonnyjames commented on #294
@floridemai Just a note, the close ("X") button is now reachable using only the keyboard, but the "Previous", "Next" and "Close" buttons are not.

[2020-09-05 02:09] jonnyjames commented on #217
@floridemai I think it's fine and it works. I am closing this issue.

[2020-09-05 02:09] #217 closed, assigned to jonnyjames

[2020-09-05 02:13] jonnyjames commented on #252
@floridemai This issue is now fixed. I am closing this issue.

[2020-09-05 02:13] #252 closed, assigned to jonnyjames

[2020-09-05 02:16] jonnyjames commented on #316
@floridemai The "Choose your gender identity" and "Choose your race" overlays still have focus move to the overlay container when triggered, not the overlays heading.

[2020-09-05 02:19] jonnyjames commented on #303
@floridemai The search field still lacks a visible "Search" text label once a user enters their search query. We recommended a static, visible label, or a using an icon to convey its purpose (magnifying glass icon). Let me know if you require further help with this issue.

[2020-09-05 02:27] jonnyjames commented on #235
@floridemai This issue is confirmed fixed. Closing this issue.

[2020-09-05 02:27] #235 closed, assigned to jonnyjames

[2020-09-05 02:32] jonnyjames commented on #282
@floridemai I am confirming this issue is fixed. Closing this issue.

[2020-09-05 02:32] #282 closed, assigned to jonnyjames

[2020-09-05 04:27] dennisgove commented on #334
I've been looking through the https://github.com/covidgreen/react-native-exposure-notification-service project and noticed a couple things. I'm not well versed in Swift so I may be misunderstanding some of the background processing going on, but it appears there is a case where exposure checking fails and never runs again until the app is restarted.

The [`ExposureProcessor::scheduleCheckExposure`

[2020-09-05 04:41] dennisgove commented on #334
This morning my wife's phone got the following alert. The alert says that on Aug 31st our iPhones were in proximity. Sounds reasonable, but my wife's phone didn't have the app installed or the Exposure Notification System turned on until Sept 2nd. There's no way she had one of my RPIs from Aug 31st. I think the dates are wrong.

![proximity-alert](https://user-images.githubusercontent.com/654519/9

[2020-09-06 09:01] helloantoine opened #335 "Incorrect calculation of 7 day avg line on the graph"
![Image from iOS (10)](https://user-images.githubusercontent.com/16833643/92322178-9a386780-f027-11ea-982a-f8ebdd36eff0.png)

Issue: 7 day avg line all flat despite data
Steps: Put Yale as the county. Checkout the second and third graph
Solution: I suspect **No Data** is handled as 0. I think we should ignore these values from the calculation of the mean average.

[2020-09-06 09:03] helloantoine opened #336 "Cosmetic. Progress item is moving few pixels on screen 4 of how it works"
![Image from iOS (11)](https://user-images.githubusercontent.com/16833643/92322277-47ab7b00-f028-11ea-8d34-d8dbbf137f9d.png)
![Screenshot 2020-09-06 at 10 04 29](https://user-images.githubusercontent.com/16833643/92322303-5e51d200-f028-11ea-96b2-a998b6a7d0c3.png)

Issue: When going from screen 3 to screen 4, the progress indicator moves 4 px on the left for no reason.
Steps: Got to introduction sc

[2020-09-06 09:10] helloantoine opened #337 "Cosmetic. Introduction screen spacing pushes CTA"
![Screenshot 2020-09-06 at 10 08 09](https://user-images.githubusercontent.com/16833643/92322403-e59f4580-f028-11ea-80ab-44867d34ad1e.png)

Issue: Spacing pushes the CTA below the fold on small-ish screens
Solution: On intro screen, I suggest we divide by half the spacing indicated in the screen capture. This would allow CTA to be visible on iPhone SE devices and equivalent without scrolls.

[2020-09-06 10:21] helloantoine opened #338 "Cosmetic. How it works. Inconsistent spacing between visual and text"
![Screenshot 2020-09-06 at 11 19 03](https://user-images.githubusercontent.com/16833643/92323709-db824480-f032-11ea-9583-527160468ea2.png)

Issue: How it works. Inconsistent spacing between visual and text. Specifically between screen 2 and 3
Solution: Remove the spacing all together on the 4 screens.

[2020-09-06 10:24] helloantoine commented on #338
![Screenshot 2020-09-06 at 11 24 30](https://user-images.githubusercontent.com/16833643/92323807-90b4fc80-f033-11ea-8f81-190cbb5fa9ac.png)

[2020-09-06 20:42] fahd-arshad commented on #335
Even if we exclude no data/0, which may or may not be appropriate, this calculation is wrong. There are plenty of positive values over the month, and the 7-day average should show some variation as it hits those positive values.

[2020-09-06 20:54] fahd-arshad commented on #97
@mboskin I am not sure what exactly the problem is here so I can't assign a priority to it. Please clarify exactly what needs to be done here and assign back to @helloantoine. There is nothing wrong with the actual state changing of the "Confirm changes" button; it should indeed stay disabled until a change is made, and then switch to enabled state.

@helloantoine: I can not speak to the disabled

[2020-09-06 21:00] fahd-arshad commented on #79
@AlanSl @mikegwhit on build 31 the data is still showing as of 30 Aug. Today is 6 Sep. I visually compared it to the data on https://covid19tracker.health.ny.gov/views/NYS-COVID19-Tracker/NYSDOHCOVID-19Tracker-DailyTracker?%3Aembed=yes&%3Atoolbar=no&%3Atabs=n and it is definitely missing the last few days of data. Are we sure we are incrementing the end date as a variable to today/earliest data av

[2020-09-07 01:43] ahurworth opened #339 "[DESIGN ONLY] Allow the editing of the Symptom Tracker for today's log"
In the event the user makes a mistake, or submits today's log in the morning (for example) and then later in the evening develops different symptoms, allow the user's to modify that day's symptoms.
Prior days should not be editable.

[2020-09-07 01:45] ahurworth opened #340 "[DESIGN ONLY] Explore Updates to the yellow banner in the event Bluetooth is not enabled"
Should the wording be more direct on the NY COVID Data tab, and specify "please turn on BT"?  Does it really need a drill in screen?

[2020-09-07 01:54] ahurworth opened #341 "[DESIGN ONLY] Additional an entry point to track symptoms"
Add an entry point to track symptoms from:
- All instances of "Learn how to keep others safe"
- The proximity alert Notification landing screen

I started some explorations already in the Explorations page of the Sketch file.  Some key questions:
- Should they be presented as drill in screens or modals?  Modals might make more logical sense and allow it be invoked in all the different places more

[2020-09-07 02:02] ahurworth opened #342 "[DESIGN ONLY] Explore ways to make the on-boarding buttons locked at the bottom"
Some challenges:
- Screen two, where there are three action buttons (primary, secondary and skip)
- iPhone SE where much of the screen may be chrome and not much content

[2020-09-07 02:09] ahurworth opened #343 "[DESIGN ONLY] Consider how to scale the Resources section in Settings"
If we want to add "Learn how to keep others safe", "How to find a test" and the call number to reach the NYS Hotline, how would we scale the items in the Settings screen?
And... would we continue to call it Settings?  NOTE: we are referring to "App Settings" in some of the copy during some of the error states.  "Settings + Info" might work better than "More" as a tab label for instance if we consi

[2020-09-07 05:23] floridemai commented on #97
This is indeed a bug. The "pressed" state of the button is black background with white text. The button does not go back to disabled state after press.

[2020-09-07 07:36] AlanSl commented on #335
This is caused by the server calculation for rolling averages rounding the average figure for each day to the nearest integer.

I had raised this in the original PR adding rolling averages but it looks like it was merged without any changes made: https://github.com/project-vagabond/covid-green-regional-lambdas/pull/16#discussion_r479555053

Example for Tioga:

![Screenshot_20200907-083223_COVID Al

[2020-09-07 08:17] helloantoine commented on #339
@ahurworth Is the requirement coming the user's perspective (I made a mistake and can't undo) or the epidemiologist side (quality of the data)?

At the moment, the data is sent after each health check. I suppose we could save it locally, keep it editable and then send it at the end of each day? @ShaunBaker @floridemai What'd be the technical challenges around this?

[2020-09-07 08:18] floridemai commented on #316
@jonnyjames I've done some minor improvements here, but this an area we have to have a deeper look at (when all the major issue have been addressed)

[2020-09-07 08:19] floridemai commented on #220
@jonnyjames Done.

[2020-09-07 08:20] floridemai commented on #216
@jonnyjames Applied requested updates

[2020-09-07 08:20] floridemai commented on #97
@mboskin Black button state address in the next version.

[2020-09-07 09:49] helloantoine commented on #343
What's the driver for this requirement please?
Yes we can stack more content in the 'app settings'. As you flag it, it becomes less and less of settings, and more of free for all bucket.

As you know, we have tried as much as possible to keep the information contextual (tested positive info is within the COVID alert section... ). But if there's a need to make all the information related to COVID,

[2020-09-07 10:58] helloantoine commented on #279
Styling of the cards should be consistent across the app. Follow this:
https://zpl.io/adOgjk5

[2020-09-07 11:07] helloantoine commented on #207
:crystal_ball:  Great job. Looks good.

[2020-09-07 11:07] #207 closed, assigned to helloantoine

[2020-09-07 11:23] helloantoine commented on #208
:crystal_ball: Great job. Looks good.

[2020-09-07 11:23] #208 closed, assigned to helloantoine

[2020-09-07 11:25] helloantoine commented on #324
This is still an issue for me @floridemai .
![Image from iOS (6)](https://user-images.githubusercontent.com/16833643/92382814-253b5f80-f105-11ea-9317-f9f544baa85e.png)

[2020-09-07 11:26] helloantoine commented on #228
Excellent. Looks good.

[2020-09-07 11:26] #228 closed, assigned to helloantoine

[2020-09-07 11:29] helloantoine commented on #186
Looks good to me. Thank you.

[2020-09-07 11:29] #186 closed, assigned to helloantoine

[2020-09-07 11:34] helloantoine commented on #206
Great job. Looks good.

[2020-09-07 11:34] #206 closed, assigned to helloantoine

[2020-09-07 11:37] ckiss commented on #211
fixed, avail in next build

[2020-09-07 11:40] helloantoine opened #346 "Learn how to keep others safe. Icons and visual bug in all languages EXCEPT english"
Issue: Learn how to keep others safe. Icons and visual bug in all languages EXCEPT english
![Screenshot_20200907-123650_Pixel_Launcher](https://user-images.githubusercontent.com/16833643/92383996-371e0200-f107-11ea-9fcf-901c5d970360.png)

[2020-09-07 11:52] ckiss commented on #201
fixed, avail in next build

[2020-09-07 11:52] ckiss commented on #212
fixed, avail in next build

[2020-09-07 11:53] ckiss commented on #279
fixed, avail in next build

[2020-09-07 12:15] floridemai commented on #324
Will be available in the next build.

[2020-09-07 12:50] helloantoine commented on #333
https://zpl.io/a7M9Jgq

[2020-09-07 13:38] AlanSl commented on #335
@jackmurdoch is on the case, PR https://github.com/project-vagabond/covid-green-regional-lambdas/pull/19 is posted, approved and awaiting deployment.

[2020-09-07 13:43] helloantoine commented on #340
Yes, once the orange banner itself is implemented with a generic message we can think of more granular message. Keep in my app can only detect when bluetooth is changed in the settings, not the control center. This mean we have a fairly large description.

We have more real estate in the COVID Alerts screen. I would be worried the visible part of the **NY Data** screen becomes things unrelated to

[2020-09-07 13:43] helloantoine commented on #340
![Bluetooth granular msg](https://user-images.githubusercontent.com/16833643/92393883-7c96fb00-f118-11ea-8fd1-d90a394661f5.png)

[2020-09-07 13:52] ckiss commented on #326
fixed, avail in next build

[2020-09-07 13:54] helloantoine commented on #313
Done https://github.com/project-vagabond/covid-green-app/pull/347

[2020-09-07 13:54] #313 closed, assigned to helloantoine

[2020-09-07 14:04] floridemai commented on #184
Next build should have this fixed.

[2020-09-07 14:16] floridemai commented on #273
Should be fixed in the next build

[2020-09-07 14:37] floridemai commented on #182
@ahurworth This should now be fixed.

[2020-09-07 14:39] floridemai commented on #338
@helloantoine Should be fixed in the next build

[2020-09-07 14:40] helloantoine commented on #233
Looks clean.

The number on the graph (99,999) is very much faded in the graph, by design. I'm just wondering if we could kill it altogether? As an anecdote, I personally check this number on the Irish app to see if Kilkenny has more cases and how many? But I could easily figure it out from looking at the scale. However, I'm wondering if reading the day wouldn't be the challenge here? Not for the

[2020-09-07 14:45] helloantoine commented on #317
Increased the size of the active dot and made the inactive dots darker to be WCAG 2 AA compliant.
![Screenshot 2020-09-07 at 15 44 49](https://user-images.githubusercontent.com/16833643/92398777-14004c00-f121-11ea-85f9-a114fa12bd8d.png)

![Screenshot 2020-09-07 at 15 16 28](https://user-images.githubusercontent.com/16833643/92396562-1cef1e80-f11d-11ea-8e29-1c530feac4e3.png)

[2020-09-07 15:15] helloantoine opened #350 "[DESIGN ONLY] Improve SMS/Share code experience using a oneTimeCode"
Certain apps in iOS make the **oneTimeCode** available to user on their keyboard.
![image](https://user-images.githubusercontent.com/16833643/92401178-12d11e00-f125-11ea-9aad-7a5a39a1d98d.png)
https://stackoverflow.com/questions/50772090/how-to-show-verification-code-suggestion-on-keyboard-from-message

Need to explore using this, for iOS (and Android?). Technically and UX implications.

[2020-09-07 15:30] helloantoine opened #351 "Usability issue. How it works. Progress indicator not contrasted enough"
**Issue:** Current progress indicator in the how it works screens is not contrasted enough. Sorry. we must update the style of the progress indicators to pass AA standards of contrast!

**Solution:**
Inactive bubbles: Make the grey darker #5F5F5F
Active bubble: Same style, BUT make the active bubble 16x16px, instead of 12x12
https://zpl.io/aNXJw9Z

@ahurworth

[2020-09-07 15:36] helloantoine commented on #317
I'm moving forward with this. I created a dedicated ticket for dev: https://github.com/project-vagabond/covid-green-app/issues/351

[2020-09-07 15:36] #317 closed, assigned to helloantoine

[2020-09-07 15:38] ahurworth commented on #233
Circling back to the original request, it was to add the most recent figure.  Personally I think it's hard to find out the exact figure from the chart without this.  But, my POV is that actually it's the % change that people will find more meaningful; the most recent absolute figure it's as helpful without the context of prior days' data.  I agree though that we could park the interactivity for no

[2020-09-07 15:58] helloantoine commented on #342
Quick mockup of large screen size and small screen size. @ahurworth
![Screenshot 2020-09-07 at 16 57 24](https://user-images.githubusercontent.com/16833643/92404356-431bbb00-f12b-11ea-80a1-a4d37eea3615.png)

[2020-09-07 21:19] colmharte commented on #334
Uploads contain keys from yesterday and backwards but not today's key.
This needs to be factored in when testing on iOS devices.

[2020-09-07 23:05] fahd-arshad commented on #233
IMHO the sharktooth callout does its job. For the given chart, it shows the
latest value. I agree the %age is an important value, but if this pattern
applies to each chart, one of the charts is the %age one. I suggest we
simply lead with that chart instead of trying to put in the %age value in
the raw # tested chart.

On Mon, Sep 7, 2020 at 8:38 AM ahurworth <notifications@github.com> wrote:

[2020-09-07 23:42] ahurworth opened #353 "SMS Text Update"
Based on Usability Testing, please kindly update the SMS text as follows:
NYS Dept of Health: Open COVID Alert NY app. Go to My COVID Alerts tab. Tap “What to do if you test positive for COVID-19”. Scroll to bottom to enter [code]

[2020-09-08 08:36] floridemai commented on #255
@ahurworth This has been addressed with a temporary fix. We're going to have new designs for charts so it should be fine until that point.

[2020-09-08 08:57] helloantoine commented on #350
For the record, here's how What's App does it on Android.
[whatsapp onboarding flow.zip](https://github.com/project-vagabond/covid-green-app/files/5187218/whatsapp.onboarding.flow.zip)

[2020-09-08 09:03] ckiss commented on #280
fix, avail in next release

[2020-09-08 10:04] ckiss commented on #346
fixed, avail in next release

[2020-09-08 11:03] helloantoine commented on #303
Worked with @ckiss to add a search icon always visible.

[2020-09-08 12:31] mboskin commented on #97
@floridemai What build/version number should be retested?

[2020-09-08 12:48] floridemai commented on #97
@mboskin Will be after today's build. (I think that will be build 32)

[2020-09-08 13:31] ShaunBaker commented on #294
@jonnyjames Can you clarify what keyboard? Internal or external? And this is on a phone - not a tablet?

[2020-09-08 13:39] dennisgove commented on #104
This is fine to downgrade the priority. The backend API now allows taking the PHA timezone into account. It's not perfect but for most regions will be close enough.

[2020-09-08 13:55] jonnyjames commented on #294
@ShaunBaker Hi Shaun, this is using an external Bluetooth keyboard (specifically a Logitech K780) hooked up to an Android Pixel 2 phone.

[2020-09-08 14:01] floridemai commented on #265
@willslone Can you check in the next build please. Thanks

[2020-09-08 14:02] floridemai commented on #264
@willslone  Can you check in the next build please. Thanks

[2020-09-08 14:02] floridemai commented on #248
@jonnyjames Can you check in the next build please. Thanks

[2020-09-08 14:02] floridemai commented on #246
@jonnyjames Can you check in the next build please. Thanks

[2020-09-08 14:03] floridemai commented on #237
@jonnyjames Can you check in the next build please. Thanks

[2020-09-08 14:03] floridemai commented on #224
@helloantoine  Can you check in the next build please. Thanks

[2020-09-08 14:18] AlanSl commented on #312
Should be fixed by https://github.com/project-vagabond/covid-green-app/pull/328 in the next build

[2020-09-08 14:43] AlanSl commented on #79
@mikegwhit @jackmurdoch I see that we now get up-to-date data if I connect with a test token to the `dev` stats server on `https://api.dev.ctprox.health.ny.gov/api` - data matching https://covid19tracker.health.ny.gov/views/NYS-COVID19-Tracker/NYSDOHCOVID-19Tracker-DailyTracker?%3Aembed=yes&%3Atoolbar=no&%3Atabs=n in terms of most recent date and values.

![Screenshot_20200910-153221_COVID Alert N

[2020-09-08 15:06] #251 closed, assigned to ahurworth

[2020-09-08 15:08] helloantoine commented on #233
Updated:
![data tab](https://user-images.githubusercontent.com/16833643/92494341-82124500-f1ed-11ea-8c90-42c55c8e9b94.png)

[2020-09-08 15:08] #164 closed, assigned to ahurworth, mboskin

[2020-09-08 15:09] #279 closed, assigned to ahurworth

[2020-09-08 15:13] ahurworth commented on #233
Thanks Antoine.  @fahd-arshad I will send this version to Mahesh for his confirmation.  In the meantime Antoine is creating the issue.

[2020-09-08 15:20] mikegwhit commented on #335
We're merged on this.   Should close provided project-vagabond/covid-green-regional-lambdas#19 fixes.

[2020-09-08 15:21] mikegwhit commented on #78
This should be fixed.  A test has been added to ensure the 30 day limit is the default.  Please revise issue such that it refers to pulling in SSM parameter if we are not getting 30 days.

CC @segfault @rgormley SSM should now only have to specify the number of days (instead of the number of milliseconds).  Please reach out if you want to coordinate.

[2020-09-08 15:22] mikegwhit commented on #79
This sounds like it will be more related to running that stats lambda on cron.  CC @segfault @rgormley

[2020-09-08 15:25] segfault commented on #79
The lambda is failing to run again as of 2-Sept. We're getting a 403, did the key change?

[2020-09-08 15:27] fahd-arshad commented on #319
Calling this medium assuming that any fixes from translators validating the language as shown in the app on iOS and Android will be taken care of here.

[2020-09-08 15:32] ahurworth commented on #353
Also looping in @mboskin to trigger a translation update.

[2020-09-08 15:38] #16 closed, assigned to ahurworth

[2020-09-08 15:39] #249 closed, assigned to ahurworth

[2020-09-08 15:44] ahurworth commented on #141
I'm still seeing issues @floridemai .  On iOS I'm still seeing the splash screen logo appear twice.  On Android (Pixel) it only appears once, but feels very quick.

Screen recording of the experience on iOS (iPhone SE):
[ScreenRecording_09-08-2020 11:41.MP4.zip](https://github.com/project-vagabond/covid-green-app/files/5189356/ScreenRecording_09-08-2020.11.41.MP4.zip)

[2020-09-08 15:46] #184 closed, assigned to ahurworth

[2020-09-08 15:47] floridemai commented on #351
@helloantoine This should be fixed in the next build.

[2020-09-08 15:48] ahurworth commented on #182
Confirmed for English, but not for Spanish.  I don't know enough Spanish to know what capitalization rules need to be observed, however.  @mboskin can you confirm?

[2020-09-08 15:49] #255 closed, assigned to ahurworth

[2020-09-08 15:50] #280 closed, assigned to ahurworth

[2020-09-08 15:50] colmharte commented on #277
Can we close this issue as the 0 keys was addressed.

[2020-09-08 15:51] fahd-arshad commented on #68
NYS agreed that this is not needed for the initial launch.

[2020-09-08 15:52] ahurworth commented on #140
I believe this can be closed in favor of https://github.com/project-vagabond/covid-green-app/issues/141

@dharding pls confirm.

[2020-09-08 15:53] floridemai commented on #182
@ahurworth We're going to generate a new file to be sent to the translator that will include the capitalised version. Same for other languages. So if this is ok for English I think we're safe to close down the issue.

[2020-09-08 15:53] #277 closed, assigned to dharding, colmharte

[2020-09-08 16:07] fahd-arshad commented on #49
Removing from Launch until we have a business decision on whether this is needed for launch or not. I suspect not at this poitn.

[2020-09-08 16:17] fahd-arshad commented on #187
Confirming this is fixed as of build 31.

[2020-09-08 16:17] #187 closed, assigned to fahd-arshad

[2020-09-08 16:20] fahd-arshad commented on #53
Closing this since the initial translations are done and we are doing QA under separate tickets.

[2020-09-08 16:20] #53 closed, assigned to fahd-arshad, kevin-sheldon

[2020-09-08 16:34] dgonzalez commented on #331
looping @colmharte .

[2020-09-08 16:48] jonnyjames commented on #310
@floridemai This issue is fixed. Closing this issue.

[2020-09-08 16:48] #310 closed, assigned to jonnyjames

[2020-09-08 16:53] helloantoine commented on #258
Tried on iOS and Android. Looked better. (still hate the animation)

[2020-09-08 16:53] #258 closed, assigned to dharding

[2020-09-08 16:56] helloantoine commented on #185
Not fixed in this Built @floridemai

[2020-09-08 16:56] helloantoine commented on #337
Great work.

[2020-09-08 16:56] #337 closed, assigned to helloantoine

[2020-09-08 16:57] helloantoine commented on #336
Looks good.

[2020-09-08 16:57] #336 closed, assigned to helloantoine

[2020-09-08 16:57] helloantoine commented on #324
Perfect. thx

[2020-09-08 16:57] #324 closed, assigned to helloantoine

[2020-09-08 16:58] helloantoine commented on #211
Perfect

[2020-09-08 16:58] #211 closed, assigned to helloantoine

[2020-09-08 16:58] helloantoine commented on #212
Great work.  Merci

[2020-09-08 16:58] #212 closed, assigned to helloantoine

[2020-09-08 16:59] helloantoine commented on #325
Lovely. Merci.

[2020-09-08 16:59] #325 closed, assigned to helloantoine

[2020-09-08 17:00] helloantoine commented on #338
Great work.  Merci

[2020-09-08 17:00] #338 closed, assigned to helloantoine

[2020-09-08 17:00] colmharte commented on #331
Where we respond with 429s to app its in places we would not want an auto retry. I would not change client at this stage.

[2020-09-08 17:05] helloantoine commented on #326
Tabs are not styled properly. @ckiss .
![Screenshot 2020-09-07 at 12 43 49](https://user-images.githubusercontent.com/16833643/92506706-c0affb80-f1fd-11ea-922e-07705adb1c18.png)

[2020-09-08 17:09] jonnyjames commented on #216
@floridemai I am still hearing the extraneous text being announced, will the update be in the next build?

[2020-09-08 17:11] segfault commented on #331
All calls go through the API gateway which will respond with 429s to indicate to a client that it should retry per AWS. This is separate from the backend-api's usage of 429s which I believe is selective. We asking for a big limit but their guidance to us is to honor the 429s. In our tests we've seen this from all routes due to the API gateway.

[2020-09-08 17:12] floridemai commented on #216
@jonnyjames If it hears "Share this app with friends" then is correct. Otherwise we should have another look at this.

[2020-09-08 17:17] fahd-arshad commented on #197
As per @willslone this needs to be addressed before launch. Upgrading severity to Critical accordingly.

[2020-09-08 17:39] helloantoine commented on #201
Checked 4 of them. Looks good to me.

[2020-09-08 17:39] #201 closed, assigned to helloantoine

[2020-09-08 17:42] helloantoine commented on #219
I cannot see it in Today's Built. Still old style.

[2020-09-08 17:45] helloantoine commented on #227
Looking good.

[2020-09-08 17:45] #227 closed, assigned to helloantoine

[2020-09-08 17:53] fahd-arshad commented on #334
To clarify: on iOS devices (and possibly also Android), alerts do not fire if the devices are only in proximity on the day of alert and not on the prior days.

@colmharte: please confirm that I am right. If so, multiple instances of outright test failures on our side (but not the delays) would be explained by this. We can then downgrade/close this issue.

If you can point us to the A/G docs and an

[2020-09-08 17:56] colmharte commented on #331
at what volume of traffic are you seeing 429 responses from api gateway?

[2020-09-08 18:01] segfault commented on #331
It's a large level of traffic. 10k requests per second, but that's across all requests to any endpoint fronted by the API gateway. As we approach 10k requests per second we start seeing 5-20% of the requests come back with 429s from the API gateway.

The only endpoint I'd be concerned about is the initial registration, if that fails gracefully in some way then I think we're covered.

[2020-09-08 18:03] colmharte commented on #331
In the app the user can just press the Yes button a second time to reinitiate register so would think we are covered on this.

[2020-09-08 18:10] floridemai commented on #219
@JohnAGill Can you check what happened here? Re-apply the fix if that's the case.

[2020-09-08 18:24] helloantoine commented on #346
Looks good to me. Thank you Cristian.

[2020-09-08 18:24] #346 closed, assigned to helloantoine

[2020-09-08 18:26] helloantoine commented on #222
Tested. Works well. Good job Paul.

[2020-09-08 18:26] #222 closed, assigned to helloantoine

[2020-09-08 18:36] jonnyjames commented on #216
This is now fixed. Closing this issue.

[2020-09-08 18:36] #216 closed, assigned to jonnyjames

[2020-09-08 19:29] #331 closed

[2020-09-08 19:57] helloantoine commented on #185
Not fixed in the 1.0.0.33.

[2020-09-08 20:14] helloantoine commented on #185
![Screenshot 2020-09-08 at 21 14 33](https://user-images.githubusercontent.com/16833643/92523464-4f317680-f218-11ea-8656-6e4a13c1636c.png)

[2020-09-08 20:26] helloantoine commented on #351
Fixed. Well done Paul.

[2020-09-08 20:26] #351 closed, assigned to helloantoine

[2020-09-08 20:37] jonnyjames opened #364 "Animated content cannot be stopped or paused [Android]"
"How it works" screen 1 of 4 contains animated content that doesn't have a control for users to either stop or pause it. This is an issue under WCAG Success Criterion **2.2.2 Pause, Stop, Hide (Level A)**: For moving, blinking, scrolling, or auto-updating information, all of the following are true:

**Moving, blinking, scrolling**
For any moving, blinking or scrolling information that (1) starts a

[2020-09-08 20:46] helloantoine commented on #141
Same on my device. @floridemai Is this an issue with loading screen vs splash screen?

[2020-09-09 05:34] fahd-arshad opened #366 "Change NYS Health Hotline tel number and title"
NYS has set up a separate call-in number for the COVID Alert NY app users to call in. Please change any instance of "NYS Health Hotline" CTA to "COVID Alert NY Hotline" and change the number dialed to +1-833-208-4159.

Some (but not necessarily all places this is found):
My COVID Alerts -> Learn how to keep others safe (bottom of the page)
Proximity alert landing page bottom
My Health Log -> (repo

[2020-09-09 05:54] colmharte commented on #274
Can we close this?

[2020-09-09 06:54] ckiss commented on #239
@willslone I added a permanently visible search icon to the input. Do you think is enough? should I add any text besides it?

![Screenshot_20200908_142741_gov ny health proximity](https://user-images.githubusercontent.com/1004239/92564835-7ae94680-f282-11ea-85d4-df60f5a1b470.jpg)

[2020-09-09 07:41] floridemai commented on #197
@willslone Should be addressed in build 34 and after.

[2020-09-09 07:41] floridemai commented on #231
@jonnyjames Should be addressed in build 34 and after.

[2020-09-09 08:55] ckiss commented on #366
fixed, avail in next build

[2020-09-09 09:37] JohnAGill commented on #226
This will be in the next build